- caption = @page.text_media
- if @page.has_styles? || (caption && caption.has_styles?)
  - content_for :head do
    - if @page.background_color
      :css
        #page_#{@page.number}, .page_#{@page.number}_userstyles {        
            background-color: ##{@page.background_color};
        }
    - if caption && caption.background_color
      :css
        #page_#{@page.number} .caption, .page_#{@page.number}_userstyles .caption {
          background-color: ##{caption.background_color} !important;
        }      
    - if caption && caption.text_color
      :css
        #page_#{@page.number} .caption, .page_#{@page.number}_userstyles .caption {
          color: ##{caption.text_color} !important;
        }

- size ||= "original"
.inner
  .image{:class => @page.image_media ? @page.image_media.placement : "", :style => @page.image.present? ? "background-image: url(#{@page.image.url(size.to_s)})" : ""}
  - if size == "original"
    .caption.mirrored.placeable{:class => @page.text_media.placement, "mirrored-from" => "caption"}= @page.text if @page.text