- if @page
  - caption = @page.text_media
  - if @page.has_styles? || (caption && caption.has_styles?)
    - content_for :head do
      - if @page.background_color
        :css
          ul#pages #page_#{@page.number}, .page_#{@page.number}_userstyles {        
              background-color: ##{@page.background_color};
          }
      - if caption && caption.background_color
        :css
          ul#pages #page_#{@page.number} .caption, .page_#{@page.number}_userstyles .caption {
            background-color: ##{caption.background_color} !important;
          }      
      - if caption && caption.text_color
        :css
          ul#pages #page_#{@page.number} .caption, .page_#{@page.number}_userstyles .caption {
            color: ##{caption.text_color} !important;
          }

- size ||= "original"
.inner{:class => @page && @page.image_media ? @page.image_media.placement : "fill-screen"}
  .image{:style => @page && @page.image ? "background-image: url(#{@page.image.url(size.to_s)})" : ""}
  - if size == "original"
    .caption.placeable{:class => @page && @page.text_media ? @page.text_media.placement : ""}= @page.text if @page && @page.text