- caption = @page.text
- if @page.has_styles? || (caption && caption.has_styles?)
  - content_for :head do
    - if @page.background_color
      :css
        #page_#{@page.number} {        
            background-color: ##{@page.background_color};
        }
    - if caption && caption.background_color
      :css
        #page_#{@page.number} .caption {
          background-color: ##{caption.background_color} !important;
        }      
    - if caption && caption.text_color
      :css
        #page_#{@page.number} .caption {
          color: ##{caption.text_color} !important;
        }

- size ||= "original"
.inner
  - if @page.image
    .image{:style => "background-image: url(#{@page.image.url(size.to_s)})"}
  - if @page.text && size == "original"
    .caption= @page.text