- if @page && @page.has_styles?
  - content_for :head do
    :css
      ul#pages #page_#{@page.number} {
        background-color: ##{@page.background_color} !important;
        color: ##{@page.text_color} !important;
      }

- size ||= "original"
%ul.cells.bg-affected
  - 1.upto(8) do |cell|
    %li{:position => cell, :class => "cell_#{cell}"}
      .side.front
        - front_media = @page ? @page.media_at_position_and_side(cell, "front") : nil
        - if front_media
          - if front_media.is_a?(PageImage)
            .image{:style => "background-image: url(#{front_media.image.url(size.to_s)})"}
            .text.hidden
              .inner{:class => "text-#{cell}-front"}
          - else
            .image.hidden
            .text
              .inner{:class => "text-#{cell}-front"}= front_media.text.html_safe if front_media.text.present?
        - else
          .image.hidden
          .text
            .inner{:class => "text-#{cell}-front"}
      .side.back
        - back_media = @page ? @page.media_at_position_and_side(cell, "back") : nil
        - if back_media
          - if back_media.is_a?(PageImage)
            .image{:style => "background-image: url(#{back_media.image.url(size.to_s)})"}
            .text.hidden
              .inner{:class => "text-#{cell}-back"}
          - else
            .image.hidden
            .text
              .inner{:class => "text-#{cell}-back"}= back_media.text.html_safe if back_media.text.present?
        - else
          .image.hidden
          .text
            .inner{:class => "text-#{cell}-back"}