- if @page && @page.has_styles?
  - content_for :head do
    :css
      #page_#{@page.number} {
        background-color: ##{@page.background_color} !important;
        color: ##{@page.text_color} !important;
      }

- @preview ||= false
%ul.cells
  - 8.times do |num|
    - cell = num + 1
    %li
      .image{:style => @page && @page.image_at_position(cell) ? "background-image: url(#{@page.image_at_position(cell).image.url})" : ""}
      .text{:class => @page && @page.image_at_position(cell) ? "hidden" : ""}
        .inner
          = @page.text_at_position(cell).text if @page && @page.text_at_position(cell)