- if @page && @page.has_styles?
  - content_for :head do
    :css
      #story_#{@page.story_id}_page_#{@page.number} {
        background-color: #{@page.background_color};
        color: #{@page.text_color};
      }

.pullquote-inner
  .quote.bg-affected{:id => @page ? "story_#{@page.story_id}_page_#{@page.number}" : ""}
    = auto_link(@page.text.html_safe) if @page && @page.text