- if @page && @page.has_styles?
  - content_for :head do
    :css
      #story_#{@page.story_id}_page_#{@page.number} {
        background-color: #{@page.background_color};
        color: #{@page.text_color};
      }

.pullquote-inner
  - text_style = @page && @page.text_media ? @page.text_media.text_style : ""
  - drop_capped = @page && @page.text_media && @page.text_media.drop_capped ? "drop-capped" : ""
  - class_to_use = "#{text_style} #{drop_capped}"
  .quote.bg-affected.text-style-affected{:id => @page ? "story_#{@page.story_id}_page_#{@page.number}" : "", :class => class_to_use}
    = auto_link(@page.text).html_safe if @page && @page.text