- if @page.has_styles?
  - content_for :head do
    - if @page.background_color
      :css
        #page_#{@page.number} {
          background-color: ##{@page.background_color} !important;
        }
    - if @page.text_color
      :css
        #page_#{@page.number} {
          color: ##{@page.text_color} !important;
        }

- size ||= "original"
.split
  .image
    .inner
      = image_tag(@page.image.url(size.to_s)) if @page.image
  .text
    .inner
      = @page.text