- if @page.has_styles?
  - content_for :head do
    - if @page.background_color
      :css
        #page_#{@page.number}, .page_#{@page.number}_userstyles {
          background-color: ##{@page.background_color} !important;
        }
    - if @page.text_color
      :css
        #page_#{@page.number}, .page_#{@page.number}_userstyles {
          color: ##{@page.text_color} !important;
        }

- size ||= "original"
.split
  .image
    - if @page.image
      .inner{:style => "background-image: url(#{@page.image.url(size.to_s)})"}
  .text
    .inner
      = @page.text