- if @page && @page.has_styles?
  - content_for :head do
    - if @page.image_at_position(1) && @page.image_at_position(1).background_color
      :css
        #story_#{@page.story_id}_page_#{@page.number} .image1 {
          background-color: #{@page.image_at_position(1).background_color};
        }
    - if @page.image_at_position(2) && @page.image_at_position(2).background_color
      :css
        #story_#{@page.story_id}_page_#{@page.number} .image2 {
          background-color: #{@page.image_at_position(2).background_color};
        }
    - if @page.text_at_position(1) && @page.text_at_position(1).background_color
      :css
        #story_#{@page.story_id}_page_#{@page.number} .text1 {
          background-color: #{@page.text_at_position(1).background_color};
        }
    - if @page.text_at_position(2) && @page.text_at_position(2).background_color
      :css
        #story_#{@page.story_id}_page_#{@page.number} .text2 {
          background-color: #{@page.text_at_position(2).background_color};
        }

- size ||= "original"
- split_layout = @page && @page.layout ? @page.layout : "image-text"
.split{:id => @page ? "story_#{@page.story_id}_page_#{@page.number}" : ""}
  .image.image1.bg-affected{:class => split_layout == "image-text" || split_layout == "image-image" ? "" : "hidden"}
    .inner{:class => @page && @page.image_at_position(1) ? @page.image_at_position(1).placement : "", :style => @page && @page.image_at_position(1) ? "background-image: url(#{@page.image_at_position(1).image.url(size.to_s)})" : ""}
  .text.text1.bg-affected{:class => split_layout == "text-image" || split_layout == "text-text" ? "" : "hidden"}
    .inner.text1-inner
      = auto_link(@page.text_at_position(1).text).html_safe if @page && @page.text_at_position(1) && @page.text_at_position(1).text
  .image.image2.bg-affected{:class => split_layout == "text-image" || split_layout == "image-image" ? "" : "hidden"}
    .inner{:class => @page && @page.image_at_position(2) ? @page.image_at_position(2).placement : "", :style => @page && @page.image_at_position(2) ? "background-image: url(#{@page.image_at_position(2).image.url(size.to_s)})" : ""}
  .text.text2.bg-affected{:class => split_layout == "image-text" || split_layout == "text-text" ? "" : "hidden"}
    .inner.text2-inner
      = auto_link(@page.text_at_position(2).text).html_safe if @page && @page.text_at_position(2) && @page.text_at_position(2).text