- if @page.has_styles?
  - content_for :head do
    :css
      #story_#{@page.story_id}_page_#{@page.number} {
        background-color: ##{@page.background_color} !important;
        color: ##{@page.text_color} !important;
      }
      #story_#{@page.story_id}_page_#{@page.number} hr{
        border: 1px solid ##{@page.text_color};
      }

.inner
  .title{:id => "story_#{@page.story_id}_page_#{@page.number}"}
    = @page.text
    %hr