- if current_user && current_user.can_comment_on?(discussion)
  = form_for Comment.new, :url => user_comments_path(current_user) do |form|
    .commenter-avatar= image_tag current_user.avatar.url(:thumbnail)
    = form.hidden_field :commentable_type, :value => "Discussion"
    = form.hidden_field :commentable_id, :value => discussion.id
    = form.text_area :comment, class: "comment-box", placeholder: "Type your comment..."
    = form.submit "Post"
- else
  %form.not-a-supporter
    .commenter-avatar= image_tag current_user.avatar.url(:thumbnail)
    %textarea.comment-box
    .note Once you've rewarded #{discussion.user.first_name} you can participate in this discussion.