%li
  %a{href: "#", topic: discussion.id}
    .date
      .month= discussion.created_at.strftime("%b")
      .day= discussion.created_at.strftime("%d")
      .year= discussion.created_at.strftime("%Y")
    .text
      .title= discussion.topic
      .body= truncate(discussion.body, length: 120)
    .comment-count{class: discussion.comments.size == 0 ? "empty" : ""}= discussion.comments.size