.summary
  = link_to "Topics", "#", class: "show-all-topics"

  = image_tag discussion.user.avatar.url(:thumbnail), class: "avatar"
  .header #{discussion.user.first_name} started the discussion with:
  .quote
    = simple_format discussion.body
    %span.when #{time_ago_in_words(discussion.created_at)} ago

.comments
  .header
    Recent Replies
    %span.add-your-reply.action View All + Reply

  = render partial: "discussions/comment_form", locals: { discussion: discussion }

  %ul.comment-list.prepend
    = render :partial => "comments/comment", :collection => discussion.comments, :as => :comment

.clear
.fader