.search

  - if params[:query].blank?
    %h1.enter-a-term
      %span Please enter a search term

  - else
    - if @results.empty?
      %h1
        %span No results for
        %strong #{params[:query]}
    - else
      %h1
        %span Results for
        %strong #{params[:query]}

      %ul.reward-thumbnails
        - @results.each do |result|
          - if result.is_a?(User)
            = render :partial => "users/user", :locals => {:user => result}
          - else
            %li.reward
              .what
                .text
                  = link_to(result.title, result, :class => "title")
                  .author by #{link_to(result.user.name, user_path(result.user))}
                .thumbnail= link_to(image_tag(result.thumbnail.url(:medium)), result)