.community
  .top
  
  = render "users/community_tabs"
  .tabbed.search

    = form_tag search_path, :method => :get do
      = text_field_tag :query, params[:query], :placeholder => "search users and rewards"
      = submit_tag "Search", :id => "search-submit", :name => ""

    - if params[:query].present?
      
      %section.users
        %h3 Users
        .data
          - if @users.empty?
            %p No users found
          - else
            %ul.users
              - @users.each do |user|
                %li= link_to(image_tag(user.avatar.url(:thumbnail)), user_path(user), :class => "tooltipped", :title => user.name)

      %section.rewards
        %h3 Rewards
        .data
          - if @rewards.empty?
            %p No rewards found
          - else
            %ul.rewards
              = render @rewards, :user_profile => true