%section
  %h3 Activity by people you know
  %ul
    - @activity_from_friends.each do |activity|
      %li
        - action = activity.action
        - if action.is_a?(Reward)
          = link_to image_tag(activity.actor.avatar.url(:thumbnail)), user_path(activity.actor), :class => "avatar"
          %strong= activity.actor.name
          %span recently rewarded #{link_to action.story.title, story_path(action.story, :impacted_by => action.id)}

        - elsif action.is_a?(Story)
          = link_to image_tag(activity.actor.avatar.url(:thumbnail)), user_path(activity.actor), :class => "avatar"
          %strong= activity.actor.name
          %span recently shared #{link_to action.title, story_path(action)}