%section
  %h2 Based on your rewards, you might also like
  %ul.content-thumbnail-list
    - @content_based_on_rewards.each do |story|
      %li
        .content-info
          = link_to image_tag(story.thumbnail.url(:small)), story_path(story), :class => "thumbnail"
          = link_to truncate(story.title, :length => 40), story_path(story), :class => "title"
          .synopsis= truncate story.synopsis, :length => 160
        .user-rewards-with-comments
          .title Others that have rewarded this:
          %ul
            - story.rewards.limit(2).each do |reward|
              %li
                = link_to image_tag(reward.user.avatar.url(:thumbnail)), user_path(reward.user), :class => "avatar"
                = link_to reward.user.name, user_path(reward.user), :class => "name"
                %p.comment= truncate reward.comment, :length => 100