.admin.dashboard
  = render "admin/tabs"
  
  %h1 Totals and Trends
  
  %section
    
    .stat
      %span.amount #{@users} (#{(@creators.to_f/@users.to_f*100.0).round}%)
      %span users (creators)

    .stat
      .chart.signups-per-day
      %span signups per day in the past month
  
  %section
    
    .stat
      %span.amount= @content
      %span published content
    
    .stat
      .chart.content-per-day
      %span publishes per day in the past month
  
  %section
    
    .stat
      %span.amount= @follows
      %span follows
    
    .stat
      .chart.follows-per-day
      %span follows per day in the past month
  
  %section
  
    .stat
      %span.amount= number_to_currency(@rewards)
      %span rewards
    
    .stat
      .chart.rewards-per-day
      %span amount rewarded per day in the past month
  
  %section
    
    .stat
      %span.amount= number_to_currency(@revenue)
      %span revenue (20% of funded rewards)
    
    .stat
      .chart.funds-per-day
      %span amount funded per day in the past month


:javascript
  var chart_options = {type: 'bar', barColor: '#00aeff', height: '36px' };

  var signups_per_day = #{@signups_per_day};
  $('.signups-per-day').sparkline(signups_per_day, chart_options);
  
  var content_per_day = #{@content_per_day};
  $('.content-per-day').sparkline(content_per_day, chart_options);
  
  var follows_per_day = #{@follows_per_day};
  $('.follows-per-day').sparkline(follows_per_day, chart_options);
  
  var rewards_per_day = #{@rewards_per_day};
  $('.rewards-per-day').sparkline(rewards_per_day, chart_options);
  
  var funds_per_day = #{@revenue_per_day};
  $('.funds-per-day').sparkline(funds_per_day, chart_options);