.admin.payperiods
  = render "admin/tabs"
  
  %p= link_to "View Unpaid Creators", unpaid_admin_pay_periods_path, class: "button"

  %h3 Previous Pay Periods

  %table
    %thead
      %tr
        %th Ended
        %th Amount
        %th Ended by
        %th Actions
        %th CSV
    %tbody
      - @pay_periods.each do |pay_period|
        %tr
          %td= pay_period.print_date
          %td= number_to_currency(pay_period.rewards.sum(:amount))
          %td= pay_period.user.name
          %td= link_to "View", admin_pay_period_path(pay_period)
          %td= link_to("Download CSV", admin_pay_period_path(pay_period, :format => :csv))