.admin
  = render "admin/tabs"

  %h1 Pay Period ending #{@pay_period.print_date}
  
  %p= link_to("Download CSV", admin_pay_period_path(@pay_period, :format => :csv))
  
  %table
    %thead
      %tr
        %th Creator
        %th Their cut
        %th Pay via
    %tbody
      - @pay_period.line_items.each do |line_item|
        %tr
          %td= link_to line_item.payee.name, user_path(line_item.payee)
          %td= number_to_currency(line_item.amount)
          %td= line_item.payee.pay_email
      %tr{style: "font-weight:bold"}
        %td Total
        %td= number_to_currency(@pay_period.amount)
        %td