%ul.nav
  %li= link_to_active("Overview", admin_dashboard_path)
  %li= link_to_active("Users", admin_users_path)
  %li= link_to_active("Invitations", admin_invitations_path)
  %li= link_to_active("Editorials", admin_editorials_path)
  %li= link_to_active("Landing Issues", admin_landing_issues_path)