%ul.nav
  %li= link_to_active("Overview", admin_dashboard_path)
  %li= link_to_active("Live View", admin_live_path)
  %li= link_to_active("Users", admin_users_path)
  %li= link_to_active("Pay Periods", admin_pay_periods_path)
  %li= link_to_active("Invitations", admin_invitations_path)
  %li= link_to_active("Adverts", admin_adverts_path)