#discovery-nav
  %ul
    %li= link_to_active "Summary", content_path
    %li= link_to_active "Recommended", recommended_content_path
    %li= link_to_active "Popular", popular_content_path
    %li= link_to_active "Nearby", nearby_content_path
    %li= link_to_active "Newest", newest_content_path