%h1 Creators
.list
  - @creators.each do |creator|
    %a{:href => user_path(creator)}
      = image_tag creator.avatar.url(:editorial)
      .info
        .name
          %span= creator.first_name
          %span= creator.last_name
        .supporters= creator.patrons.count
        .bio= truncate(creator.tagline, :length => 180)
= paginate @creators, outer_window: 2, param_name: "creators_page"