%section
  %h2
    = link_to "Nearby", nearby_content_path
    - if current_user && current_user.location.present?
      %span.weak= current_user.location
    - else
      %span.weak Nowhere
    = link_to "View more", nearby_content_path, :class => "more" if @show_more_links && @nearby_content.size == 8
  %ul.content-thumbnail-list.discovery-list
    - @nearby_content.each do |story|
      = render "discovery/story", :story => story
    - if current_user.nil?
      Sign up to see content from creators near you.
    - elsif @nearby_content.empty?
      #{link_to "Enter your location", info_user_path(current_user)} to see content from creators near you.