#discovery-page
  = render "discovery/people_nav"
  
  %section
    .top-description
      %h3
        Top creators
      %p.description
        %span The people who have RECEIVED the most rewards.
    
    %ul.person-focused-list.top-list
      - @top_creators.each do |creator|
        %li
          .info
            = link_to image_tag(creator.avatar.url(:thumbnail)), user_path(creator), :class => "avatar"
            %a.name{:href => creations_user_path(creator)}
              %span= creator.first_name
              %span= creator.last_name
            .occupation= creator.occupation
            .location= creator.location
          .count
            %span.number= creator.lifetime_rewards
            %span rewards received
          .count
            %span.number= number_to_currency(creator.rewards.sum(:amount) * Reward.dollar_exchange)
            %span money earned