- content_for :head do
  = javascript_include_tag "discovery"

#discovery-page
  
  .top
    = link_to "< Back to Discover", discovery_path, :class => "back-link"
    %h1 People You Know
    %p.description.service-links
      - if current_user
        - if current_user.authentications.find_by_provider("twitter")
          %span Twitter linked
        - else
          = link_to "link Twitter", "#{root_url}auth/twitter", :class => "link full", :id => "link-twitter"
        - if current_user.authentications.find_by_provider("facebook")
          %span Facebook linked
        - else
          = link_to "link Facebook", "#{root_url}auth/facebook", :class => "link full", :id => "link-facebook"
      - else
        #{link_to "Sign up", "#join-modal"} to link your networks
    
  #activity
    #activity-body
      %ul#activity-list
        - if current_user && current_user.authentications.find_by_provider("twitter").nil? && current_user.authentications.find_by_provider("facebook").nil?
          %li Use the buttons above to link your networks so you can see what your friends are doing here at Momeant!
        - else
          = render @friends_activity
          
          
:javascript
  mpq.track('Viewed Activity From People You Know');