#bg
#discovery-page

  - unless params[:query].present?
    #filters
      #current-filter= params[:filter] || "Featured"
      %ul
        %li= link_to "Featured", discovery_path(:filter => "Featured"), :class => params[:filter] == "Featured" || params[:filter].blank? ? "active" : ""
        %li= link_to "Popular", discovery_path(:filter => "Popular"), :class => params[:filter] == "Popular" ? "active" : ""
        %li= link_to "Newest", discovery_path(:filter => "Newest"), :class => params[:filter] == "Newest" ? "active" : ""
        - Story::CATEGORIES.each do |category|
          %li= link_to category, discovery_path(:filter => category), :class => params[:filter] == category ? "active" : ""

  %section#creators
    = render "discovery/creators"
  
  %section#content
    = render "discovery/content"
  

= javascript_include_tag "discovery"
:javascript
  mpq.track('Viewed Discovery', { filter: '#{escape_javascript(params[:filter] || 'Featured')}', creators_page: '#{escape_javascript(params[:creators_page] || '0')}', content_page: '#{escape_javascript(params[:content_page] || '0')}' });
  Discovery.filter = '#{params[:filter] || 'Featured'}';
  Discovery.creator_page = #{params[:creators_page] || 0};
  Discovery.content_page = #{params[:content_page] || 0};