#discovery-page

  %section#filters
    #sort.filter
      %h3 Sort:
      .links
        = link_to "Popular", "#", :class => params[:sort] != "Newest" ? "active" : ""
        = link_to "Newest", "#", :class => params[:sort] == "Newest" ? "active" : ""
    #categories.filter
      %h3 Category:
      .links
        - active_categories = params[:category].present? ? params[:category].split("|") : []
        - Story::CATEGORIES.each do |category|
          = link_to category, "#", :class => active_categories.include?(category) ? "active" : ""

  %section#creators
    %h1 Creators
    .list
      - @creators.each do |creator|
        %a{:href => user_path(creator)}
          = image_tag creator.avatar.url(:editorial)
          .info
            .name= creator.name
            .bio= truncate(creator.tagline, :length => 400)
  
  %section#content
    %h1 Works
    .list
      - @content.each do |content|
        - if content.text_preview?
          %a.content-preview.medium{:href => story_path(content), :class => "#{content.media_type} #{content.template}"}
            .inner
              .image
              .quote= truncate(content.template_text, :length => 140)
            .info
              .title= content.title
              .synopsis= truncate(content.synopsis, :length => 500)
        - else
          %a.content-preview.medium{:href => story_path(content), :class => content.media_type}
            .inner{:style => "background-image: url(#{content.thumbnail.url(:large)})"}
            .info
              .title= content.title
              .synopsis= truncate(content.synopsis, :length => 500)
  

:javascript
  mpq.track('Viewed Discovery');
= javascript_include_tag "discovery"