#bg
#discovery-page

  #filters
    #current-filter= params[:filter] || "Popular"
    %ul
      %li= link_to "Popular", discovery_path(:filter => "Popular"), :class => params[:filter] == "Popular" || params[:filter].blank? ? "active" : ""
      %li= link_to "Newest", discovery_path(:filter => "Newest"), :class => params[:filter] == "Newest" ? "active" : ""
      - Story::CATEGORIES.each do |category|
        %li= link_to category, discovery_path(:filter => category), :class => params[:filter] == category ? "active" : ""

  %section#creators
    %h1 Creators
    .list
      - @creators.each do |creator|
        %a{:href => user_path(creator)}
          = image_tag creator.avatar.url(:editorial)
          .info
            .name= creator.name
            .bio= truncate(creator.tagline, :length => 180)
  
  %section#content
    %h1 Works
    .list
      - @content.each do |content|
        - if content.text_preview?
          %a.content-preview.medium{:href => story_path(content), :class => "#{content.media_type} #{content.template}"}
            .inner
              .image
              .quote= truncate(content.template_text, :length => 140)
            .info
              .title= truncate(content.title, :length => 140)
              .synopsis= truncate(content.synopsis, :length => 280)
        - else
          %a.content-preview.medium{:href => story_path(content), :class => content.media_type}
            .inner{:style => "background-image: url(#{content.thumbnail.url(:large)})"}
            .info
              .title= truncate(content.title, :length => 140)
              .synopsis= truncate(content.synopsis, :length => 280)
  

:javascript
  mpq.track('Viewed Discovery');
= javascript_include_tag "discovery"