#discovery-page
  
  .top
    = link_to "< Back to Discover", discovery_path, :class => "back-link"
    %h1 Handpicked Creators
    %p Some of our favorites here at Momeant
    
  %ul.person-focused-list
    - @notable_people.each do |editorial|
      %li
        = link_to image_tag(editorial.user.avatar.url(:large)), user_path(editorial.user), :info_id => editorial.id, :class => "avatar"
        .info
          %a.name{:href => user_path(editorial.user)}
            %span= editorial.user.first_name
            %span= editorial.user.last_name
          .occupation= editorial.user.occupation
          .location= editorial.user.location
        .quote= editorial.quote