#discovery-page
  = render "discovery/people_nav"
  
  %section
    .side-description
      %h3= link_to "Notable People", notable_people_path
      %p.description A few creators we think you'll love.
    = render "discovery/notable_creators"
  
  %section
    .side-description
      %h3= link_to "Top Creators", creators_people_path
      %p.description The people who have received the most rewards.
    = render "discovery/top_creators"

  %section
    .side-description
      %h3= link_to "Top Patrons", patrons_people_path
      %p.description The people who have given the most rewards.
    = render "discovery/top_patrons"