#reward-thank-you
  .thank-you
    .header
      %h1 Thanks!
      .who
        %span You just rewarded
        = link_to @reward.recipient.name, creations_user_path(@reward.recipient)
    .message
      .creator
        = link_to(image_tag(@reward.recipient.avatar.url(:large)), creations_user_path(@reward.recipient), :class => "avatar")
        .rewards
          %span= @reward.recipient.lifetime_rewards
      .text
        - if @story.thankyou.present?
          = truncate(@story.thankyou, :length => 220)
        - elsif @story.user.thankyou.present?
          = truncate(@story.user.thankyou, :length => 220)
        - else
          Wow, thank you so much for your support!

  .explanation
    .text
      %h2
        %span Measure your
        %strong Impact
      %p
        Impact is the amount of total rewards YOU have generated for someone. When you reward, others see it on Momeant,
        Facebook, and Twitter. If they reward too, that creates impact for you.
    .diagram
      = image_tag(@reward.user.avatar.url(:thumbnail), :class => "avatar")
    

:javascript
  mpq.track('Rewarded Content', {story_id: '#{@story.id}', mp_note: '#{@reward.amount} reward coins'});