#reward-modal

  %a#reward-modal-tab
    .inner
      = image_tag(@story.user.avatar.url(:thumbnail), :class => "avatar")
      .text
        %span Reward
        %span= @story.user.name
      .rewards= @story.rewards.sum(:amount)

  #modal-inner
    #modal-header
      = link_to "Momeant", root_path
      .slogan Reward the people behind great content on the web.
      %ul#modal-steps
        %li{:step => 1, :class => current_user.present? ? "selected" : ""}
          %span.title.tooltipped{:title => "Decide how much to reward #{@story.user.first_name}"} Reward
          %span.arrow >
        %li{:step => 2}
          %span.title.tooltipped{:title => "Tell everyone why you rewarded #{@story.user.first_name}"} Comment
          %span.arrow >
        %li{:step => 3}
          %span.title.tooltipped{:title => "Share #{@story.user.first_name}'s content with people you know to make an extra impact"} Promote
          %span.arrow >
        %li{:step => 4}
          %span.title.tooltipped{:title => "See how rewarding builds up your status within the community"} Your Status
        
      
    #your-reward
      .inner
        = render "rewards/modal/form"

- if session[:open_reward_modal].present?
  :javascript
    $(function() {
      RewardModal.show_modal();
    });
  
  - session[:open_reward_modal] = nil