#its-you-arrow

#reward-modal

  %a#reward-modal-tab
    .inner
      = image_tag(@story.user.avatar.url(:thumbnail), :class => "avatar")
      .text
        %span Reward
        %span= @story.user.name
      .rewards= @story.rewards.sum(:amount)

  .modal-inner
    
    #your-reward
      .inner
        = render "rewards/modal/form"
            
      #toggle-reward-stream.tooltipped-w{:title => "Expand/Contract"}
      
    = render "rewards/modal/list"

- if session[:open_reward_modal].present?
  :javascript
    $(function() {
      RewardModal.show_modal();
    });
  
  - session[:open_reward_modal] = nil