#reward-modal

  #reward-view
    = link_to image_tag(@story.user.avatar.url(:large)), user_path(@story.user), :id => "avatar"
    %a#creator-name{:href => user_path(@story.user)}
      %span= @story.user.first_name
      %span= @story.user.last_name

    #reward-hint

    #title= @story.title
    #synopsis
      - if @story.synopsis && @story.synopsis.length > 110
        %span.less= truncate(@story.synopsis, :length => 110)
        %span.more= @story.synopsis
        = link_to "more", "#", :id => "toggle-synopsis"
      - else
        = @story.synopsis
    #tags
      - @story.tags.each do |tag|
        = link_to tag.name, search_path(:query => tag.name)
        %span ,
  
    #reward-actions
      = render "rewards/modal/form"
      = render "rewards/modal/amounts_helper" if current_user

    %a#open-close{:href => "#"}
      %span
  
  #comments-view.comments
    %a#open-comments-tab.tooltipped-e{:title => "Toggle comments"}
      %span= @story.comments.size
    
    #comments-list
      %h3 Comments from #{@story.user.first_name}'s supporters:
      - if current_user
        = form_for Comment.new, :url => user_comments_path(current_user), html: { style: current_user.has_rewarded?(@story.user) ? "" : "display:none;" } do |form|
          = image_tag current_user.avatar.url(:thumbnail), :class => "commenter-avatar"
          = form.hidden_field :commentable_type, :value => "Story"
          = form.hidden_field :commentable_id, :value => @story.id
          = form.text_area :comment, :class => "comment-box"
      %ul.comment-list.prepend
        = render :partial => "comments/comment", :collection => @story.comments.reverse, :as => :comment

- if session[:open_reward_modal].present?
  :javascript
    $(function() {
      RewardModal.show_modal();
    });
  
  - session[:open_reward_modal] = nil