- size ||= :medium
- for_person = reward.story_id.nil?
%li.reward{:class => for_person  ? "person" : ""}
  .what
    = link_to(image_tag(reward.story.thumbnail.url(size)), story_path(reward.story, :impacted_by => reward.id), :class => "thumbnail modal")
    .title= reward.story.title
    .comment-pointer
  .who
    = link_to(image_tag(reward.user.avatar(:thumbnail)), user_path(reward.user), :class => "avatar")
    %span.amount-and-who
      %span.reward
        %span.inner= reward.amount
      = link_to("rewarded by #{reward.user.name}", user_path(reward.user), :class => "author")
    - if reward.comment.present?
      %span.comment &ldquo;#{reward.comment}&rdquo;