%li.reward
  .who
    = link_to(image_tag(reward.user.avatar(:thumbnail)), user_path(reward.user), :class => "avatar")
    .text
      = link_to(reward.user.name, user_path(reward.user), :class => "author")
      %span rewarded
      %span.reward
        %span.inner= reward.amount
      %span to
  .what
    .thumbnail= link_to(image_tag(reward.story.thumbnail.url(:medium), :style => "height:#{100*(1+ rand(2))}px"), reward.story)
    .text
      = link_to(reward.story.title, reward.story, :class => "title")
      %span by
      = link_to(reward.recipient.name, user_path(reward.recipient), :class => "author")