- if @content_url.blank?
  #main.no-content-url
    It appears you visited this URL directly. Please close this window and click the Reward Button again.

- else

  = render "rewards/modal/sidebar"

  #main

    #reward-actions
      = render "rewards/modal/form"
      = render "rewards/modal/login"
    
    = render "rewards/modal/description" unless cookies[:has_seen_reward_modal_explanation].present?
  
  #footer
    .branding
      = link_to image_tag("logoWhiteSmall.png"), root_url, target: "_blank"
      %p
        %span rewarding content
        %span creators for their work
    .login-link
      #current-user{style: current_user.present? ? "" : "display:none;"}
        %span logged in as
        %span.name= current_user.name if current_user
      - if current_user.nil?
        #no-current-user
          %span have a momeant account?
          = link_to "login", "#login"
  
  #notice
    = link_to "Close", "#close-notice", id: "close-notice"
    #notice-cover
    #notice-inner

  :javascript
    var current_user = #{current_user.present? ? 'true' : 'false'};