#transactions

  #explanation
    %p
      %span Momeant rewards coins are the currency of Momeant. Use them to
      %em reward creators,
      %span which promotes their content so others can reward.

    %p
      %span The more you reward, the more you
      %em gain status
      %span in the community. Find out who's hot by visiting the
      = link_to("community section", community_path)
      %span= "."
    
    %p
      %span Creators
      %em get paid
      %span out every time they accumulate 250 coins. So go ahead and purchase reward coins and start rewarding people!

  #purchase

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 5
      .package.one 25
      .text reward coins
      .bonus
      .price $5
      = form.submit "buy thru amazon"

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 10
      .package.two 70
      .text reward coins
      .bonus 20 extra coins
      .price $10
      = form.submit "buy thru amazon"

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 20
      .package.three 160
      .text reward coins
      .bonus 60 extra coins
      .price $20
      = form.submit "buy thru amazon"

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 100
      .package.four 900
      .text reward coins
      .bonus 400 extra coins
      .price $100
      = form.submit "buy thru amazon"
    
    .amazon-text
      %p
        %span * We use
        %span.amazon
        %span to accept payments.
        %span.line If you have an account, this process is a snap.
        %span.line If you don't have an account, just select
        %span.line "I am a new customer" after choosing a package above.