#transactions

  #explanation
    %h2
      Purchase reward coins and become a Momeant Patron! 
    %p
      %strong Momeant rewards coins are the currency of Momeant.
      Use them to reward creators, which promotes their content so others can reward.
      The more you reward, the more you gain status in the community, which you can check out in the #{link_to("community section", community_path)}.
      Creators get paid out every time they accumulate 250 coins.
      So go ahead and purchase reward coins and start rewarding people!
    %p
      We use Amazon to accept payments. If you have an Amazon account, this process is a snap.
      If you don't have an Amazon account, just select "I am a new customer" on the next page.

  #purchase

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 5
      .package
        .amount 25
        %span.text reward coins
      .price $5
      .bonus
      = form.submit

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 10
      .package
        .amount 70
        %span.text reward coins
      .price $10
      .bonus 20 coins free!
      = form.submit

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 20
      .package
        .amount 160
        %span.text reward coins
      .price $20
      .bonus 60 coins free!
      = form.submit

    - form_for @payment, :url => buy_coins_path do |form|
      = form.hidden_field :amount, :value => 100
      .package
        .amount 900
        %span.text reward coins
      .price $100
      .bonus 400 coins free!
      = form.submit

  #past
    %h2 Your past purchases
    %table
      %thead
        %tr
          %th Package
          %th Price
          %th Purchased
      %tbody
        - @past_payments.each do |payment|
          %tr
            %td= payment.coin_string
            %td= number_to_currency(payment.amount)
            %td #{time_ago_in_words(payment.created_at)} ago
        - unless @past_payments.empty?
          %tr.total
            %td #{@past_payments.map(&:coins).inject(:+)} reward coins
            %td= number_to_currency(@past_payments.map(&:amount).inject(:+))
            %td
            