- @rewards.each do |reward|
  - content = reward.story
  %li.content{:id => "content-#{content.id}"}
    .creator
      = link_to image_tag(content.user.avatar.url(:editorial)), user_path(content.user), :class => "avatar"
      .metadata
        %h1.name= content.user.name
        .occupation= content.user.occupation
        - if content.user.location
          .location from #{content.user.location}
      %a.view-profile{:href => user_path(content.user)}
        %span View Profile
    
    .info
      .media-type{:class => content.media_type}
      .text
        = link_to(content.title, story_url(content, :impacted_by => reward.id), :class => "title")
        .synopsis= truncate(content.synopsis, :length => 140)
        - if content.category
          %span.category= content.category
    - if content.text_preview?
      %a.content-preview{:href => story_path(content, :impacted_by => reward.id), :class => "#{content.media_type} #{content.template}"}
        .inner
          .image
          .quote= truncate(content.template_text, :length => 140)
        .curvy
    - else
      %a.content-preview{:href => story_path(content), :class => content.media_type}
        .inner{:style => "background-image: url(#{content.thumbnail.url(:large)})"}
        .curvy

    .reward
      .text
        = link_to "#{@user.first_name} said:", user_path(@user)
        %span.comment= reward.comment
      .amount
        %strong= number_to_currency(reward.amount)
        %span rewarded