.recommendation-stream
  .heading Recommendations
  %ul.stories.tabcontent
    - user.recommendation_stream.each do |obj|
      - if obj.is_a?(Reward)
        %li.reward
          = link_to(image_tag(obj.user.avatar.url(:thumbnail)), user_path(obj.user), :class => "avatar")
          .info
            %a.who-recommended{:href => preview_story_path(obj.story)}
              %span= obj.user.name
              %span.starred 's
            = link_to(obj.story.title, preview_story_path(obj.story), :class => "title")
            .author by #{obj.story.user.name}
          .why= obj.comment
      - else
        %li.story
          - if obj.thumbnail
            - @page = obj.thumbnail
            %a.thumbnail{:href => preview_story_path(obj), :class => @page.css_class}
              = render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:size => "petite"}
          .info
            = link_to(obj.title, preview_story_path(obj), :class => "title")
            .author by #{obj.user.name}