#reward-thank-you
  .header
    .header-inner
      %span You just rewarded
      %span.name #{@user.name}
      %span with #{@reward.amount} credits.
  
  .rest
    .message
      = link_to(image_tag(@user.avatar.url(:thumbnail)), user_path(@user), :class => "avatar")
      .thanks Thanks!
      - if @story
        .text= @story.thankyou
      - else
        .text= @user.thankyou
    .share
      = link_to("Share what you've rewarded with Twitter", twitter_url(@reward), :class => "twitter")