.profile-info
  .metadata
    %h1= @user.name

    .avatar-badge
      - if @user.avatar.url.include?("missing")
        = link_to(image_tag(@user.avatar.url(:large)), edit_user_path(@user), :class => "avatar")
      - else
        = link_to(image_tag(@user.avatar.url(:large)), user_path(@user), :class => "avatar")
      = image_tag "badges/#{@user.badge_level}.png", :class => "badge tooltipped-e", :title => "Level #{@user.badge_level} Patron"
    
    .about
      %p
        %span= @user.occupation
        - if @user.location
          %span from #{@user.location}
      
      #tabs
        #links
          = link_to "Updates", "#", :class => "selected"
          = link_to "Info", "#"
        #text
          .updates As #{@user.first_name} posts updates, they will show up here.
          .info.hidden= @user.tagline
  
    %ul.stats
      %li #{number_to_currency(@user.rewards.sum(:amount) * Reward.dollar_exchange)} earned
      - if me?(@user)
        %li.current-money
          %span.dollar $
          %span.amount= number_to_currency(@user.rewards.not_cashed_out.sum(:amount) * Reward.dollar_exchange)[1..-1]
          %span not cashed out
        %li= link_to "Cash Out", user_cashouts_path(@user), :id => "cashout", :class => "button"

    - if current_user && !me?(@user)
      #user-actions
        - if current_user.is_subscribed_to?(@user)
          = link_to "Unsubscribe", "#", :class => "button tooltipped-e", :id => "subscribe", :title => "Remove #{@user.first_name}'s updates from your Subscriptions page"
        - else
          = link_to "Subscribe", user_messages_path(@user), :class => "button tooltipped-e", :id => "subscribe", :title => "Have #{@user.first_name}'s updates sent to your Subscriptions page"
        - if current_user && current_user.is_admin?
          = link_to "Editorialize", new_admin_editorial_path(:user => @user.id), :id => "editorialize", :class => "button"

    .clear