.profile-info
  .avatar-badge
    - if @user.avatar.url.include?("missing")
      = link_to(image_tag(@user.avatar.url(:large)), settings_user_path(@user), :class => "avatar")
    - else
      = link_to(image_tag(@user.avatar.url(:large)), user_path(@user), :class => "avatar")
    = image_tag "badges/#{@user.badge_level}.png", :class => "badge tooltipped-e", :title => "Level #{@user.badge_level} Patron"

  .metadata
    %h1.name
      %span= @user.name
      - if @user.is_new?
        %span.new.tooltipped{:title => "New User"}
      - if @user.is_featured?
        %span.featured.tooltipped{:title => "Featured Creator"}
  
    .about
      %span.occupation= @user.occupation
      - if @user.location
        %span from #{@user.location}
        
    - if current_user.is_subscribed_to?(@user)
      = link_to "Unfollow", "#", :id => "subscribe"
    - elsif !me?(@user)
      = link_to "Follow", user_messages_path(@user), :id => "subscribe"
    
    .info
      %em What are you up to these days?
      %p= @user.tagline
    
    .supporter-count
      %span.tooltipped-e{:title => "Supporters"}= @user.patrons.count
    
    #broadcaster
      #updates-list
        - if me?(@user) && @user.broadcasts.empty?
          You can use this area to provide updates to your followers.
        - else
          = @user.broadcasts.first.message
      = link_to "Post a new Update", "#", :id => "post-update", :class => "tooltipped-e", :title => "Post a new Update"
      = form_for Broadcast.new, :url => user_broadcasts_path(@user) do |form|
        %p Post an update to your followers:
        = form.text_area :message
        = form.submit "Post"
        = link_to "Cancel", "#", :id => "cancel-update"

    %ul.stats
      %li #{number_to_currency(@user.rewards.sum(:amount) * Reward.dollar_exchange)} earned
      - if me?(@user)
        %li.current-money
          %span.dollar $
          %span.amount= number_to_currency(@user.rewards.not_cashed_out.sum(:amount) * Reward.dollar_exchange)[1..-1]
          %span not cashed out
        %li= link_to "Cash Out", user_cashouts_path(@user), :id => "cashout", :class => "button"

    - if current_user && !me?(@user)
      #user-actions
        - if current_user && current_user.is_admin?
          = link_to "Editorialize", new_admin_editorial_path(:user => @user.id), :id => "editorialize", :class => "button"

  .clear