- if me?(@user)
  .guides
    %a.community{:href => community_path}
      %span.text Discover content being rewarded by the community.
      %span.arrow
    %a.create{:href => new_story_path}
      %span.text Share your work to allow others to reward you.
      %span.arrow
    %a.profile{:href => edit_user_path(@user)}
      %span.text Update your profile with your information.
      %span.arrow

.horizontal-tabs
  %ul
    %li.summary= link_to_active("Summary", user_path(@user)
    %li.rewards= link_to_active("Rewards", user_path(@user), :class => current_page?(root_path) ? "active" : "")
    %li.creations= link_to_active("Creations", creations_user_path(@user))
    - if me?(@user)
      %li.messages
        = link_to_active("Messages", user_messages_path(@user))
        - if @user.unread_message_count > 0
          .notification= @user.unread_message_count
    - else
      %li.messages= link_to_active("Message #{@user.first_name}", user_messages_path(@user))