.info.top
  = image_tag(@user.avatar.url(:thumbnail), :class => "avatar")
  .name-occupation-follow
    .name
      = @user.name
      - if @user.active_subscription?
        %span.badge patron
    .follow= follow_button(@user)
    .occupation= @user.tagline
    
  .reward-and-stats
    = render "users/stats", :user => @user