.profile-info
  = link_to(image_tag(@user.avatar.url(:thumbnail), :class => "avatar"), user_path(@user))
  
  .name
    %span= @user.first_name
    %span= @user.last_name
    
  .stats
    .impact-shield.tooltipped{:title => "Level 1 Patron"} 1
    .rewards-given
      %span.amount= @user.given_rewards.sum(:amount)
      %span.text given
    .impact
      %span.amount= @user.impact
      %span.text impact
    .rewards-received
      %span.amount= @user.rewards.sum(:amount)
      %span.text received
      
  - if @user.occupation.present?
    .occupation
      %h3 Occupation
      = @user.occupation
  
  - if @user.tagline.present?
    .tagline
      %h3 About
      = truncate(@user.tagline, :length => 200)
  
  - if @user.location.present?
    .location
      %h3 Location
      .insides= @user.location
  
  - unless @user.tags.empty?
    .tags
      %h3 Tags
      - @user.tags[0..10].each do |tag|
        = link_to(tag.name, "#", :class => "tag")
      
  - if @user == current_user
    = link_to("Edit Your Profile", edit_user_path(current_user), :class => "edit")