.profile-info
  .avatar-badge-name
    = link_to(image_tag(@user.avatar.url(:large)), user_path(@user), :class => "avatar")
    = image_tag("badges/#{@user.badge_level}.png", :class => "badge")
    .name= @user.name
      
  - if @user.occupation.present? || me?(@user)
    .occupation
      %h3 Occupation
      = @user.occupation
  
  - if @user.tagline.present? || me?(@user)
    .tagline
      %h3 About
      = truncate(@user.tagline, :length => 200)
  
  - if @user.location.present? || me?(@user)
    .location
      %h3 Location
      .insides= @user.location
  
  - unless @user.tags.empty? || me?(@user)
    .tags
      %h3 Most Rewarded Tags
      - @user.tags[0..10].each do |tag|
        = link_to(tag.name, community_path(:tag => tag.name), :class => "tag")
      
  - if @user == current_user
    = link_to("Edit Your Profile", edit_user_path(current_user), :class => "edit")