.profile-info
  .metadata
    .avatar-badge
      - if @user.avatar.url.include?("missing")
        = link_to(image_tag(@user.avatar.url(:large)), edit_user_path(@user), :class => "avatar")
      - else
        = link_to(image_tag(@user.avatar.url(:large)), user_path(@user), :class => "avatar")
      = image_tag("badges/#{@user.badge_level}.png", :class => "badge")
  
    .name= link_to @user.name, user_path(@user)
    
    %ul.about
      %li
        %span.weak Location:
        %span= @user.location
      %li
        %span.weak Occupation:
        %span= @user.occupation
      %li
        %span.weak About:
        %span= truncate @user.tagline, :length => 200
  
    %ul.stats    
      %li.impact
        %span.amount= @user.impact
        %span impact
      %li.all-time-money
        %span.dollar $
        %span.amount= number_to_currency(@user.rewards.sum(:amount) * Reward.dollar_exchange)[1..-1]
        %span all time earnings
      %li.current-money
        %span.dollar $
        %span.amount= number_to_currency(@user.rewards.not_cashed_out.sum(:amount) * Reward.dollar_exchange)[1..-1]
        %span not cashed out
      - if me?(@user)
        %li= link_to "Cash Out", user_cashouts_path(@user), :id => "cashout", :class => "button"

    - unless me?(@user)
      #user-actions
        = link_to "Message #{@user.first_name}", user_messages_path(@user), :class => "button"
        - if current_user && current_user.is_admin?
          = link_to "Editorialize #{@user.first_name}", new_admin_editorial_path(:user => @user.id), :id => "editorialize"

    .clear