.info
  = image_tag(@user.avatar.url(:thumbnail), :class => "avatar")
  .name-occupation-follow
    .name= @user.name
    .occupation occupation: #{@user.occupation}
    .follow= follow_button(@user)
    
  .reward
    = link_to("Reward", "#reward-box", :class => "reward button")
    .hidden
      = render "shared/reward_modal"