- content_for :head do
  = javascript_include_tag "analytics", "jqplot/jquery.jqplot.min", "jqplot/plugins/jqplot.barRenderer.min", "jqplot/plugins/jqplot.dateAxisRenderer.min", "jqplot/plugins/jqplot.highlighter.min", "jquery.sparkline.min"
  / [if lt IE 9]
    = javascript_include_tag "jqplot/excanvas.min"
  = stylesheet_link_tag "jquery.jqplot"

#creator-analytics
  %section.data
    
    #stats
      %header
        %h1#title Stats for all stories
        .subtext the past 30 days
      .views 
        %span.count= @user.views.past_thirty_days.count
        %span views
      .rewards
        %span.count= @user.rewards.past_thirty_days.sum(:amount)
        %span reward coins
      .conversion
        %span.count
          - if @user.views.past_thirty_days.count > 0
            = number_with_precision(@user.rewards.past_thirty_days.count / @user.views.past_thirty_days.count * 100, :precision => 0)
          - else
            0
        %span %
        %span.help.tooltipped-n{:title => "A rough judge of how likely users are to reward"} ?
      .money
        %span $
        %span.count
        
    #line-chart-wrapper
      #line-chart
    
    #story-list
      %header
        = link_to("Date", "#", :class => "date")
        = link_to("Rewards", "#", :class => "rewards")
        = link_to("Views", "#", :class => "views")
        = link_to("Money", "#", :class => "money")
      %ul#stories
        %li#all.selected{:story_id => "all"}
          .thumbnail
            .note.is-selected click a story to see its stats
            .note.not-selected click this row to see ALL stats
          .title-and-date
            %h2 Stats for all stories
          .rewards= @user.rewards.past_thirty_days.sum(:amount)
          .views= @user.views.past_thirty_days.count
          .money
        - @user.created_stories.published.each do |story|
          %li{:story_id => story.id}
            .thumbnail.petite{:href => preview_story_path(story)}
              = image_tag(story.thumbnail.url(:petite))
            .title-and-date
              %h2= story.title
              .date= story.created_at.strftime("%b %d, %Y")
            .rewards= story.rewards.past_thirty_days.sum(:amount)
            .views= story.views.past_thirty_days.count
            .money

    #follower-list
      %header
        %h1 Your Followers
        .subtext #{pluralize(@user.subscribers.count, "person")} subscribe to your rewards/recommendations
      %ul
        - @user.subscribers.each do |subscriber|
          %li= link_to(image_tag(subscriber.avatar.url(:thumbnail)), user_path(subscriber), :class => "tooltipped", :title => subscriber.name)
  
  - content_for :right_sidebar do
    %section#analytics-sidebar
    
      .current-balance.box
        %h3 Current Balance
        .amount $0
        = link_to("View Details", "#", :class => "button blue")
        = link_to("Cash Out", "#", :class => "button green")
    
      #profile-views.box
        .sparkline
        %h4 0 profile views
    
      #story-previews.box
        .sparkline
        %h4 0 story previews
      
= render "analytics_js"