#become-a-creator

  %h3 Blogger? Journalist? Photographer? YouTube extraordinaire? Philosophy professor? TEDx presenter?
  %p If you are a creator and share your work online, Momeant gives you the opportunity to engage your audience, and be rewarded for your work.
  %p Right now Momeant is in beta, and we're accepting creators as quickly as we can handle it.
    
  #give-info
    
    - if user_signed_in?
  
      %h3 Interested in joining?
      
      %p Give us some information below on who you are and what you do, and we'll get back to you asap.
  
      = form_tag submit_creator_request_user_path(current_user), :id => "creator-request" do
        %fieldset
          %ul
            %li
              = label_tag :creator_request_description, "What types of content would you like to share?"
              = text_area_tag :creator_request_description
            %li
              = label_tag :creator_request_examples, "Where can we see some examples of your existing online work?"
              = text_area_tag :creator_request_examples
            %li.submit
              = submit_tag "Send Request"
  
      #show-after
        %h3 Thanks! We'll take a look and email you soon.
        
    - else
    
      %h3 Interested in joining?
      = link_to "Sign up!", "#join-modal", :class => "button"

:javascript
  $(function() {
    $('#creator-request').submit(function(event) {
      var $form = $(this);
      event.preventDefault();

      var description = $('#creator_request_description').val();
      var examples = $('#creator_request_examples').val();
      if (description == '' && examples == '') { return false; }
      var url = $form.attr('action');
      var token = $form.find('input[name="authenticity_token"]').val();
      
      $form.addClass('loading');
      $.post(url, {description: description, examples: examples, authenticity_token: token}, function() {
        $form.hide();
        $('#show-after').show();
        mixpanel.track('Requested to Become a Creator');
      });
    
      return false;
    });
  });