.community
  .top
  
  = render "users/community_tabs"
  .tabbed

    .user-list
      .user-list-inner
        %table.users
          %thead
            %tr.heading
              %th{:colspan => 4} Explore the best PATRONS
          %tbody
            - @users.each do |user|
              %tr
                %td.patron
                  = link_to(image_tag(user.avatar.url(:thumbnail)), user_path(user), :class => "avatar")
                  %a.name{:href => user_path(user)}
                    %span= user.first_name
                    %span= user.last_name
                  .info
                    .tagline= truncate(user.tagline, :length => 140)
                    .interests
                      - user.interests.each do |tag|
                        = link_to(tag.name, "#", :class => "tag")
                  .stats
                    %h3 This month
                    %span.impact.numerals
                      .count= user.impact
                      .tiny impact
                    %span.rewards.numerals  
                      .count= user.given_rewards.sum(:amount)
                      .tiny rewards given
                    %span.rewardees.numerals  
                      .count= user.rewarded_creators.count
                      .tiny creators rewarded
                %td.content
                  %ul.rewards
                    = render user.given_rewards, :user_profile => true