- content_for :head do
  = javascript_include_tag "community"

.community
  .top

  = render "users/community_tabs"
  .tabbed
    
    .user-list
      .user-list-inner
        %table.users.creators
          %thead
            %tr.heading
              %th{:colspan => 4} Explore the best CREATORS
          %tbody
            - @users.each do |user, rewards|
              %tr.user
                %td.creator
                  = link_to(image_tag(user.avatar.url(:thumbnail)), creations_user_path(user), :class => "avatar")
                  %a.name{:href => creations_user_path(user)}
                    %span= user.first_name
                    %span= user.last_name
                  .info
                    .tagline= truncate(user.tagline, :length => 140)
                    .interests= truncate(user.interests.join(", "), :length => 60)
                  .stats
                    .rewards
                      .count= rewards.inject(0){ |sum,r| sum + r.amount }
                      .tiny rewards this month
                %td.content
                  %ul.rewards
                    - rewards.group_by(&:story).each do |story, rewards|
                      = render rewards.first, :community => true