#visualization
  #context
    - if @rewarder
      .info
        .name #{@rewarder.first_name}'s rewards of #{link_to(@user.name, creations_user_path(@user))}
      .stats
        .rewards
          %span.amount= @rewards.sum(:amount)
          %span.text= @rewards.sum(:amount) == 1 ? "reward" : "rewards"
        .impact
          %span.amount= @rewarder.impact_on(@user)
          %span.text impact
  #content-rewarded-by
    %ul.carousel
      - @rewards[0..2].each do |reward|
        %li.item{:reward_id => reward.id}
          %ul.stories
            - story = reward.story
            %li.story
              %a.title{:href => story_path(story, :impacted_by => reward.id)}
                = image_tag(story.user.avatar.url(:thumbnail), :class => "avatar tooltipped-e", :title => story.user.name)
                %span= story.title
                %span.synopsis= truncate(story.synopsis, :length => 170)
              = link_to(image_tag(story.thumbnail.url(:medium)), story, :class => "thumbnail")
              .tags
                - story.tags.each do |tag|
                  = link_to(tag.name, community_path(:tag => tag.name), :class => "tag")
              .rewards= story.reward_count
          = link_to("show impact chain", "#", :class => "visualize")

    - if @rewards.first
      #rewards-viz
        - @reward = @rewards.first
        = render :partial => "rewards/visualize"
      

:javascript
  $('#visualization #content-rewarded-by ul.carousel li.item:first-child').addClass('selected');
  $('#visualization #content-rewarded-by ul.carousel li.item a.visualize').click(function() {
    var $li = $(this).parent();
    $li.addClass('selected').siblings().removeClass('selected');
    var $visualization = $('#rewards-viz');
    $visualization.addClass('loading');
    var reward_id = $li.attr('reward_id');
    $.get('/rewards/' + reward_id + '/visualize', function(data) {
      $visualization.html(data).removeClass('loading');
    });
    return false;
  });