#top
  %h1 You create great content.
  %h1 You deserve great support.

#middle
  %h2 We help you convert your audience into financial supporters.

  %ul#features
    %li#rewards
      = image_tag "creators/heart.png"
      %h3 Accept Rewards
      %ol
        %li
          %span Easily copy &amp; paste code on your site
        %li
          %span Accept Paypal, Dwolla, and credit cards
        %li
          %span Give your audience a way to reward you
    %li#mobile
      = image_tag "creators/mobile.png"
      %h3 Push to Mobile
      %ol
        %li
          %span We provide a free iPhone app for all
        %li
          %span Your audience can subscribe to you
        %li
          %span We push your new content to them
    %li#thanks
      = image_tag "creators/reverse.png"
      %h3 Offer Thank Yous
      %ol
        %li
          %span Offer items to incentivize rewards
        %li
          %span Your audience starts rewarding more
        %li
          %span You get a chance to say thank you
    %li#discussions
      = image_tag "creators/discussion.png"
      %h3 Have Discussions
      %ol
        %li
          %span Easily start discussions
        %li
          %span Let your audience get involved
        %li
          %span Start building a community

#bottom
  %h2 Here's how it works.
  %p We'll help you quickly put a Reward Button right on your own site.
  = image_tag "creators/how-it-works.jpg"

#conversion
  %h2 Sign up and start using these tools immediately.
  = form_for User.new, as: "creator", url: creator_signup_path do |f|
    %fieldset
      %ul
        %li
          %span
            = f.text_field :first_name, :placeholder => "first name", :autocorrect => "off"
          %span
            = f.text_field :last_name, :placeholder => "last name", :autocorrect => "off"
        %li
          = f.email_field :email, :placeholder => "email address", :autocorrect => "off", :autocapitalize => "off"
        %li
          = f.password_field :password, :placeholder => "password (6+ characters)"
        %li.checkbox
          = f.check_box :tos_accepted
          %label{:for => "user_tos_accepted"} I agree to the #{link_to("Terms of Service", tos_path)}
        %li.submit
          = f.submit "sign up"

= javascript_include_tag "creator_signup"