#creator-signup

  #creator-payment.inner
    %h1 Tell us how we can pay you!

    %p We currently use Amazon Payments OR PayPal to send money to Creators. All you need is an Amazon or PayPal account to accept payments from us.
    
    = form_for :user, @user, :url => creator_payment_path(@user) do |form|
      %fieldset
        %section
          %ul               
            %li
              = form.label :amazon_email, "Provide either your Amazon account email address"
              = form.text_field :amazon_email

            %li
              = form.label :paypal_email, "OR your PayPal account email address"
              = form.text_field :paypal_email

            = form.submit "Finish"
