#creator-signup

  #creator-info.inner
    %h1 We need a little more information from you.
    
    = form_for @user, :as => :user, :url => creator_info_path(@user), html: { multipart: true } do |form|
    
      = render "shared/error_messages", :target => @user
    
      %fieldset
        %ul
          %li
          
            %section
              %h2 Choose a picture of your pretty face.
              = form.file_field :avatar
              = image_tag(@user.avatar.url(:editorial)) unless @user.avatar_missing?

            %section.longtext
              %h2 Describe the hard work you put into your content.
              .instructions This is critical in having your audience understand why you deserve to be rewarded.
              = form.text_area :tagline
              
            %section.longtext
              %h2 Thank people when they reward you.
              .instructions When someone rewards you, we show them this thank you message. You can customize it if you prefer.
              = form.text_area :thankyou, value: @user.thankyou || "Thank you so much for your support! You allow me to continue doing what I love."
              .limit
                %span You have
                %span#thankyou-limit 200
                %span characters left.
              :javascript
                $('#user_thankyou').limit('200','#thankyou-limit');

            %section
              %h2 What is your Occupation (optional)?
              = form.text_field :occupation
            %section
              %h2 Where are you Located (optional)?
              = form.text_field :location
        
        .submit
          = form.submit "Final Step >"

:javascript
  var user_id = #{@user.id};
= javascript_include_tag "creator_signup"