.user-profile
  = render "user_info"

  .the-rest
    = render "user_tabs"
  
    .tabbed
  
      %ul.stats-bar
        %li.rewards
          .value= @user.rewards.sum(:amount)
          .text
            rewards
            %br
            received
        %li.patrons    
          .value= @user.patrons.size
          .text
            patrons that
            %br
            have rewarded
        %li.until-payment    
          .value= Reward.cashout_threshold - @user.rewards.sum(:amount)
          .text
            rewards needed
            %br
            for next cash out
  
      %ul.galleries
        - no_gallery_stories = @user == current_user ? @user.created_stories.no_gallery : @user.created_stories.no_gallery.published
        %li.no-gallery
          %ul.stories
            - if @user == current_user
              %li.add
                = link_to("add a momeant", new_story_path)
              - if no_gallery_stories.empty?
                %li.add-description
                  Welcome to your creations page. Use this area to represent yourself and the creative work that you do. Write a blog? Make videos? Have a website? Have a new and original story to tell? Turn those into Mo•meants. Mo•meants are representations of your creative work, including original stories and links out to your creative content around the Web. Create a Mo•meant by providing descriptive data about your work, link to or create it, then we’ll display it so that others can discover and reward it. You can also organize your mo&#149;meants into galleries, to provide context for your work.
            = render no_gallery_stories

        - @user.galleries.each do |gallery|
          - gallery_stories = @user == current_user ? gallery.stories : gallery.stories.published
          - unless gallery_stories.empty?
            %li.gallery
              %ul.stories
                %li.story.about
                  .name
                    = gallery.name
                  .description= gallery.description
                = render gallery_stories