.user-profile
  = render "user_info"
  
  .user-edit
    = form_for @user, :as => :user, :url => user_path(@user), :html => {:multipart => true} do |form|
      = render "shared/error_messages", :target => @user

      %fieldset
        %ul
    
          %li
            = form.label :avatar
            = form.file_field :avatar
            .example For best results, upload a JPG or PNG at least 100px wide and tall.
      
          %li
            = form.label :first_name, "Your name"
            %span.aside
              = form.text_field :first_name
              = form.label :first_name, "First"
            %span.aside
              = form.text_field :last_name
              = form.label :last_name, "Last"
    
          %li
            = form.label :email
            = form.text_field :email
    
          %li
            = form.label :location
            = form.text_field :location
            .example New York, NY
      
          %li
            = form.label :occupation
            = form.text_field :occupation
            .example What's your "day job"?
      
          %li
            = form.label :tagline, "About yourself in less than 200 characters"
            = form.text_area :tagline
            .example Tell everyone a little about yourself
    
          - if @user.is_a?(Creator)
            %li
              = form.label :paypal_email
              = form.text_field :paypal_email
              .example So we can pay you!

          %li.submit
            = form.submit "Save"