#fund-rewards

  #messaging
    %h1 Thank you so much for supporting creators, #{@user.first_name}.
    %p
      In order to make your experience as smooth and enjoyable as we can, we don't want to bug you about
      a payment method every time you reward someone. We also want to provide you with flexible payment
      options. In order to meet both of those goals, we use the simple &amp; secure Amazon Payments.

    - if current_user.needs_to_reauthorize_amazon_postpaid?
      %p
        %strong We need you to re-authorize your Amazon Payment method. Please click the button below.
    - elsif current_user.has_configured_postpaid?
      %p
        %strong You have already configured your Amazon Payment method.
      %p If you'd like to change it at any time, you can click the button below to update your payment settings.
    - else
      %p
        %strong Click the button below to go to Amazon's site and choose a payment method.
      %p
        It's super easy to setup. If you ever need to change your payment method, you can get back here by
        clicking the 'Payment Settings' options in your profile drop-down in the top navigation.
      %p Once you're done, Amazon will send you right back here, and you'll be all set!
    
    #amazon-button
      - if current_user.needs_to_reauthorize_amazon_postpaid?
        = link_to "Re-Authorize Now with", start_amazon_postpaid_path, id: "authorize-amazon"
      - elsif current_user.has_configured_postpaid?
        = link_to "Update Payment Method with", start_amazon_postpaid_path, id: "authorize-amazon"
      - else
        = link_to "Authorize Now with", start_amazon_postpaid_path, id: "authorize-amazon"
      #cards
      %p
        By configuring your Amazon Payment method, you are authorizing Momeant to make a charge
        when you reward someone.
  
  %p If you have any questions at all, don't hesitate to contact us by #{link_to "Giving Feedback", "#feedback-modal"} or emailing us at #{mail_to "team@momeant.com"}.
      
  - if !current_user.has_configured_postpaid? && @rewards.present?
    %p
      Here is a list of the creators you've already chosen to reward. As soon as you configure your
      Amazon Payment method, we'll go ahead and charge these rewards in order to pay these creators.
    %table#rewards
      - @rewards.each do |reward|
        %tr
          %td.name
            .inner
              %span= reward.recipient.first_name
              %span= reward.recipient.last_name
          %td.avatar
            = link_to image_tag(reward.recipient.avatar.url(:large)), user_path(reward.recipient)
          %td.content
            .inner
              = link_to image_tag(reward.story.thumbnail.url(:small)), story_path(reward.story)
          %td.title
            .inner
              = link_to "#{reward.story.title}:", story_path(reward.story)
              %span= truncate reward.story.synopsis, :length => 100
          %td.comment
            .inner
              - if reward.comment.present?
                = image_tag "payments/comment.png", :class => "tooltipped-n", :title => "You said: #{reward.comment}"
          %td.amount
            .inner
              = number_to_currency(reward.amount)

- if flash[:track_rewards_payment].present?
  :javascript
    mixpanel.track('Funded Rewards', { amount: #{flash[:track_rewards_payment]} });
