%h1 My Library

- if current_user.is_a?(Creator)
  %h3 Stories I've created
  %ul.my-stories
    = render current_user.created_stories

%h3 Stories I've purchased
%ul.stories
  = render current_user.stories

= render "invitations/form" if can? :invite_creator, Invitation

%h3 My Bookmarked Stories
%ul.bookmarks
  - current_user.bookmarks.each do |bookmark|
    %li= link_to(bookmark.story.title, bookmark.story)

%h3 My Recommended Stories
%ul.recommendations
  - current_user.recommendations.each do |recommendation|
    %li= link_to(recommendation.story.title, recommendation.story)

- if current_user.is_admin?
  .admin
    = link_to("Pay Periods", admin_pay_periods_path)