.user-profile
  = render "user_info"
  = render "user_tabs"
  
  %ul.patrons
    - rank = 1
    - @patrons.each do |patron|
      %li.patron
        .user-info
          = link_to(image_tag(patron.avatar.url(:thumbnail)), user_path(patron), :class => "avatar")
          %span.rank= rank
          .name= link_to(patron.name, user_path(patron))
          .occupation occupation: #{patron.occupation}
        .rewards-given
          .rewards-inner= patron.rewards_given
        .patron
          .patron-inner for #{pluralize(0, "day")}
        - rank += 1