#user-profile.no-right-column
  
  #profile-center.column
    #statement
      - if me?(@user)
        %em.tooltipped-n{:title => "Tell others why you believe in rewarding (in 140 characters or less)."} I reward content
        %span#edit-reward-reason
          = truncate(@user.i_reward_because, :length => 140) || "..."
      - else
        %em I reward content
        %span= truncate(@user.i_reward_because, :length => 140) || "..."
    
    #carousel
      .title I recently rewarded
      - first = true
      - @users.each do |user|
        = link_to image_tag(user.avatar.url(:large)), "#", :class => "tooltipped #{first ? "selected" : ""}", :title => user.name, :data => user.id
        - first = false
    
    #vertical-list
      %ul#activity-list
        = render "users/patronage_list"
              
  #profile-left.column
    = render "users/user_info"

  .clear

:javascript
  var user_id = #{@user.id};
  var my_page = #{me?(@user)};
= javascript_include_tag "jquery.editinplace"
= javascript_include_tag "users/patronage"