#user-profile.no-right-column
  
  #profile-center.column
    #statement
      %em I reward content
      %span ...
    #reward-total
      .amount= number_to_currency(@user.given_rewards.sum(:amount) * Reward.dollar_exchange)
      .text cash raised
    
    #carousel
      .title I recently rewarded
      - first = true
      - @users.each do |user|
        = link_to image_tag(user.avatar.url(:large)), "#", :class => "tooltipped #{first ? "selected" : ""}", :title => user.name, :data => user.id
        - first = false
    
    #vertical-list
      %ul#activity-list
        = render "users/patronage_list"
              
  #profile-left.column
    = render "users/user_info"

  .clear

:javascript
  var user_id = '#{@user.id}';
= javascript_include_tag "users/patronage"