#user-profile.no-right-column
  
  #profile-center.column
    .inner.user-settings
      %h2 Email preferences

      %ul#settings-list
        %li
          = check_box_tag "send_reward_notification_emails", 1, current_user.send_reward_notification_emails?
          %span.text Send me an email when someone rewards me.
        %li
          = check_box_tag "send_digest_emails", 1, current_user.send_digest_emails?
          %span.text Send me an email every two weeks about activity around me

      %h2 Profile Information

      %section.profile-picture
        %h3 Upload a profile picture
        .file-uploader
          %form
            = token_tag
            .file-input
              %input{:type => "file", :name => "user[avatar]", :id => "user_avatar"}
              .loader
            .example For best results, upload a JPG or PNG at least 300px by 300px.

      %section.first_name
        %h3
          %span First Name
          %span.info (click to edit)
        .text{:update => "first_name"}= @user.first_name

      %section.last_name
        %h3
          %span Last Name
          %span.info (click to edit)
        .text{:update => "last_name"}= @user.last_name

      %section.email
        %h3
          %span Email Address
          %span.info (click to edit)
        .text{:update => "email"}= @user.email

      - if @user.is_a?(Creator)
        %section.amazon_email
          %h3
            %span Amazon Email
            %span.info (click to edit)
            %span.freak-out PLEASE DOUBLE CHECK THIS as we will send your cashouts to this account.
          .text{:update => "amazon_email"}= @user.amazon_email
          %form
            .example Not in the United States? Please #{mail_to "support@momeant.com", "contact us"} for a custom pay out method.

      %section.occupation
        %h3
          %span Occupation
          %span.info (click to edit)
        .text{:update => "occupation"}= @user.occupation
        
      %section.location
        %h3
          %span Location
          %span.info (click to edit)
        .text{:update => "location"}= @user.location
      
      - if @user.is_a?(Creator)
        %section.tagline
          %h3
            %span What will you be sharing at Momeant?
            %span.info (click to edit)
          .text{:update => "tagline"}= @user.tagline
      
      %h2 Change Your Password
      = form_for :user, :url => change_password_user_path(current_user) do |form|
        %fieldset
          %ul
            %li
              = form.label :current_password
              = form.password_field :current_password, :options => {:value => ""}
            %li
              = form.label :password, "New Password"
              = form.password_field :password
            %li
              = form.submit "Save New Password"
  
  #profile-left.column
    = render "users/user_info"

:javascript
  var user_id = #{current_user.id};
= javascript_include_tag "jquery.editinplace"
= javascript_include_tag "users/edit"
= javascript_include_tag "users/show"