#user-settings
  
  %section
    
    %h1 Email preferences
    
    %form
      %ul#settings-list
        %li
          = check_box_tag "send_following_update_emails", 1, current_user.send_following_update_emails?
          %span.text Send me an email when someone I follow posts new content or a broadcast message
        %li
          = check_box_tag "send_impact_notification_emails", 1, current_user.send_impact_notification_emails?
          %span.text Send me an email when I gain impact (someone rewards something because of me)
        - if current_user.is_a?(Creator)
          %li
            = check_box_tag "send_reward_notification_emails", 1, current_user.send_reward_notification_emails?
            %span.text Send me an email when someone rewards me.
          %li
            = check_box_tag "send_new_follower_emails", 1, current_user.send_new_follower_emails?
            %span.text Send me an email when someone follows me


  %section#profile-info
    
    %h1 Profile Information

    = form_for @user, :as => :user, :url => user_path(current_user) do |form|

      %fieldset

        #upload
          #avatar-file
            %label{:for => "user_avatar"} Upload a picture of your pretty face
            .file-uploader
              %form
                = token_tag
                .file-input
                  %input{:type => "file", :name => "user[avatar]", :id => "user_avatar"}
                  .loader
                .example For best results, upload a square JPG or PNG, 300x300 or larger.
          #avatar-preview
            = image_tag @user.avatar.url(:editorial)

        %ul

          %li
            = form.label :first_name
            = form.text_field :first_name
            
          %li
            = form.label :last_name
            = form.text_field :last_name
          
          %li
            = form.label :email
            = form.text_field :email
          
          %li
            = form.label :occupation
            = form.text_field :occupation
            
          %li
            = form.label :location
            = form.text_field :location
          
          %li.submit
            = form.submit "Save Profile Info"

  - if @user.is_a?(Creator)
    %section#creator-info
  
      %h1 Creator Information
      
      = form_for @user, :as => :user, :url => user_path(current_user) do |form|
        
        %fieldset
          %ul
            %li
              = form.label :tagline, "Tell us about yourself"
              = form.text_area :tagline
            
            %li
              = form.label :thankyou, "A custom thank you"
              .instructions We show this message after someone rewards you.
              = form.text_area :thankyou
              .limit
                %span You have
                %span#thankyou-limit 200
                %span characters left.
              :javascript
                $('#user_thankyou').limit('200','#thankyou-limit');
            
            %li
              = form.label :amazon_email, "Accepting Payments"
              %span.aside
                = form.label :amazon_email, "Amazon Account Email (U.S. only)"
                = form.text_field :amazon_email
              %span.aside
                %h3 OR
              %span.aside
                = form.label :paypal_email, "PayPal Account Email (U.S. and International)"
                = form.text_field :paypal_email
              
              .freak-out PLEASE DOUBLE CHECK THIS as we will send your payments to this account.
            
            %li
              = form.submit "Save Creator Info"
  
  %section
    
    %h1 Change Your Password
    
    = form_for :user, :url => change_password_user_path(current_user) do |form|
      %fieldset
        %ul
          %li
            = form.label :current_password
            = form.password_field :current_password, :options => {:value => ""}
          %li
            = form.label :password, "New Password"
            = form.password_field :password
          %li
            = form.submit "Save New Password"

:javascript
  var user_id = #{current_user.id};
= javascript_include_tag "users/edit"