- content_for :head do
  = javascript_include_tag "jquery.masonry.min"
  
  :javascript
    $(document).ready(function() {
      $('.avatar-wall .wall').masonry({columnWidth:50});
      $('.avatar-wall .wall a').fancybox({padding:0});
    });

.user-profile
  = render "users/user_info"
  
  .the-rest
    = render "users/user_tabs"

    .tabbed
    
      %ul.stats-bar
        %li.rewards
          .value= @user.given_rewards.sum(:amount)
          .text
            rewards
            %br
            given
        %li.patrons    
          .value= @user.impact
          .text
            impact
            %br
            made
    
      - if me?(@user) && @rewards.empty?
        .have-not.rewarded
          %h3
            %span You have not
            %em rewarded
            %span anything yet.
          %a.box-button{:href => community_path}
            .inner
              %span.text Discover content being rewarded by the community.
              %span.arrow
        - if @user.created_stories.count == 0
          .have-not.shared
            %h3
              %span You have not
              %em shared
              %span anything yet.
            %a.box-button{:href => creations_user_path(@user)}
              .inner
                %span.text Share something so that others can reward you!
                %span.arrow

      - unless @users.empty?
        %section.patronage.rewarded-creators
          %h3 Creators #{@user == current_user ? "you've" : "#{@user.first_name} has"} rewarded
          .avatar-wall
            .wall
              - @users.each do |user|
                - size = avatar_size_for_impact(@user.impact_on(user))
                %a.tooltipped{:href => user_content_rewarded_by_path(user, @user), :title => user.name}
                  = image_tag(user.avatar.url(:large), :style => "width:#{size}px;height:#{size}px")
                  .border{:style => "width:#{size}px;height:#{size}px"}
      
      - unless @rewards.empty?
        %section.patronage
          %h3 Rewards #{@user == current_user ? "you've" : "#{@user.first_name} has"} given
          %ul.rewards
            = render @rewards, :user_profile => true

- if me?(@user)
  :javascript
    mpq.track('Viewed My Profile Rewards', {anonymous_id: '#{session[:analytics_anonymous_id]}'});
- else
  :javascript
    mpq.track('Viewed Profile Rewards', {anonymous_id: '#{session[:analytics_anonymous_id]}', mp_note: '#{@user.name}'});