#user-profile
  = render "users/user_info"
  
  #vertical-list
    %h1 Works
    .helper use keyboard

    %ul#activity-list
      - index = 0
      - @content.each do |content|
        %li.content
          %a.content-preview{:id => "content-#{index}", :href => story_path(content)}
            = image_tag content.thumbnail.url(:large), :class => "thumbnail"
            .media-type{:class => content.media_type}
            = image_tag @user.avatar.url(:thumbnail), :class => "avatar"
      
          .info
            = link_to(content.title.blank? ? "Untitled" : content.title, story_url(content), :class => "title")
            - if me?(@user)
              .edit
                = link_to "Edit", edit_story_path(content) if me?(@user)
                = link_to "Delete", story_path(content), :method => :delete, :confirm => "WHOA WAIT UP! If you delete this you will lose ALL REWARDS on this content. Are you SURE you want to delete it?"
            %p= content.synopsis
          
          - if me?(@user)
            .comments
              = link_to pluralize(content.comments.size, "Supporter Comment"), "#", :class => "open-comments"
              .insides
                %h3 Supporter Comments (#{link_to "Hide", "#", :class => "close-comments"})
                %ul.comment-list
                  = render :partial => "comments/comment", :collection => content.comments, :as => :comment
                = render "comments/form", :commentable => content
          - else
            .rewards
              - if content.users_who_rewarded.empty?
                = link_to "Become the first supporter &rarr;".html_safe, story_path(content), :class => "be-next"
              - else
                %h3 Recent supporters
                - size = content.users_who_rewarded.size - 1
                - size = size > 9 ? 9 : size
                - content.users_who_rewarded[0..size].each do |user|
                  .reward
                    = image_tag user.avatar.url(:thumbnail)
                    = link_to "", user_path(user), :class => "cover tooltipped", :title => user.name
                = #link_to "View &amp; Support &rarr;".html_safe, story_path(content), :class => "be-next" unless content.users_who_rewarded.include?(current_user)
            
        - index += 1
  
  #vertical-people
    %h1
      = link_to "Supporters", "#", :class => "selected", :data => "supporters"
      %span /
      = link_to "Discussion", "#", :data => "discussion"
    .sections
      %ul#supporters
        - first = true
        - @supporters.each do |person|
          %li.person{:class => first ? "first" : ""}
            = image_tag person[0].avatar.url(:thumbnail)
            - if first
              = link_to person[0].name, user_path(person[0]), :class => "cover"
              .text Top Supporter
              %h3
                %span= person[0].first_name
                %span= person[0].last_name
            - else
              = link_to person[0].name, user_path(person[0]), :class => "cover tooltipped", :title => person[0].name
          - first = false
      #discussion.hidden
        - if current_user && current_user.has_rewarded?(@user)
          = form_for Message.new, :url => user_messages_path(@user) do |form|
            = form.text_area :body
            = form.hidden_field :profile, :value => true
            = form.submit "Post Public Comment"
        - else
          .hasnt Anyone who has rewarded #{@user.first_name} can participate in his public discussion.  
        %ul
          = render :partial => "users/profile_messages/message", :collection => @messages
            
  .clear

- if me?(@user)
  :javascript
    mpq.track('Viewed My Profile');
- else
  :javascript
    mpq.track('Viewed A Profile', {mp_note: '#{@user.name}'});

:javascript
  var scrollables_selector = '#activity-list';
  var user_id = '#{@user.id}';
= javascript_include_tag "content_scroller"
= javascript_include_tag "users/show"
= javascript_include_tag "comments"