.user-profile
  = render "users/user_info"
  
  .the-rest
    = render "users/user_tabs"

    .tabbed
    
      %ul.rewards
        = render @rewards, :user_profile => true
        
      - if me?(@user) && @user.is_admin?
        .admin
          %h1 Admin
          .link= link_to("Pay Periods", admin_pay_periods_path)
          .link= link_to("Invitations", admin_invitations_path)
          .link= link_to("Adverts", admin_adverts_path)
          .link= link_to("Live View", admin_live_path)