#user-profile
  = render "users/user_info"
  
  #vertical-content
    %h1= pluralize @user.created_stories.published.count, "work"
    .helper use keyboard

    %ul#content-list
      - index = 0
      - @content.each do |content|
        %li
          %a.content-preview{:id => "content-#{index}", :href => story_path(content)}
            = image_tag content.thumbnail.url(:large), :class => "thumbnail"
            .media-type{:class => content.media_type}
            = image_tag @user.avatar.url(:thumbnail), :class => "avatar"
      
          .info
            = link_to content.title, story_url(content), :class => "title"
            - if me?(@user)
              .edit
                = link_to "Edit", edit_story_path(content) if me?(@user)
                = link_to "Delete", story_path(content), :method => :delete, :confirm => "WHOA WAIT UP! If you delete this you will lose ALL REWARDS on this content. Are you SURE you want to delete it?"
            - else
              .byline= @user.name
            %p= content.synopsis
            = #link_to "View #{content.this_media}", story_path(content), :class => "view-button"
            
        - index += 1
  
  #vertical-people
    %h1= pluralize @supporters.length, "supporter"
    %ul
      - @supporters.each do |person|
        %li
          = image_tag person[0].avatar.url(:thumbnail)
          = link_to person[0].name, user_path(person[0]), :class => "cover tooltipped", :title => "#{person[0].name} has rewarded #{@user.first_name} #{number_to_currency(person[1] * Reward.dollar_exchange)}"
  
- if me?(@user)
  :javascript
    mpq.track('Viewed My Profile');
- else
  :javascript
    mpq.track('Viewed A Profile', {mp_note: '#{@user.name}'});

:javascript
  var scrollables_selector = '#content-list';
= javascript_include_tag "content_scroller"