#user-profile
  
  %section#user-info
  
    #picture-and-more.module
      #picture
        - if @user.avatar.url.include?("missing")
          = link_to(image_tag(@user.avatar.url(:editorial)), settings_user_path(@user), :class => "avatar")
        - else
          = link_to(image_tag(@user.avatar.url(:editorial)), user_path(@user), :class => "avatar")
      #and-more
        - if @user.location.present?
          #location.hoverable
            .icon
            .show-on-hover= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.location}&zoom=6&size=300x300&maptype=roadmap&sensor=false&markers=color:blue%7C#{@user.latitude},#{@user.longitude}"
          #occupation.hoverable
            .icon
            .show-on-hover.big-text= @user.occupation
            
      - if current_user && current_user.is_subscribed_to?(@user)
        = link_to "Unfollow", "#", :id => "subscribe"
      - elsif current_user && !me?(@user)
        = link_to "Follow", user_messages_path(@user), :id => "subscribe", :class => "tooltipped-n", :title => "Receive updates when #{@user.first_name} takes important actions."
      - elsif current_user.nil?
        = link_to "Follow", "#join-modal", :id => "subscribe", :class => "tooltipped-n", :title => "Receive updates when #{@user.first_name} takes important actions."
    
    %h1#name
      %span= @user.first_name
      %span= @user.last_name
    
    #support-stats
      - if @user.is_a?(Creator)
        .supporters
          %strong= @user.patrons.count
          %span supporters
      .supporting
        %strong= @user.rewarded_creators.count
        %span supporting
    
    #bio= @user.tagline
  
  = render "users/profile/community"
  = render "users/profile/my_work" if @user.is_a?(Creator)
  = render "users/profile/my_rewards"
  
- if me?(@user)
  :javascript
    mpq.track('Viewed My Profile');
- else
  :javascript
    mpq.track('Viewed A Profile', {mp_note: '#{@user.name}'});

:javascript
  var user_id = '#{@user.id}';
= javascript_include_tag "users/show"
= javascript_include_tag "comments"
