#user-profile
  
  = render "users/profile/info"
  = render "users/profile/community"
  = render "users/profile/my_work" if @user.is_a?(Creator)
  = render "users/profile/my_rewards"
  
- if me?(@user)
  :javascript
    mpq.track('Viewed My Profile');
- else
  :javascript
    mpq.track('Viewed A Profile', {mp_note: '#{@user.name}'});

:javascript
  var user_id = '#{@user.id}';
= javascript_include_tag "users/show"
= javascript_include_tag "comments"
