.user-profile
  = render "users/user_info"
  
  .the-rest
    .tabbed.activity
      
      %ul#activity-nav
        %li= link_to "All", user_path(@user), :class => "active"
        %li= link_to "Rewarding", "#"
        %li= link_to "Content", "#"
        %li= link_to "Support", "#"

      %ul#activity
        - @activity.each do |activity|
          = render :partial => "activity/#{activity.action_type.downcase}", :locals => {:activity => activity, activity.action_type.downcase.to_sym => activity.action}

- if me?(@user)
  :javascript
    mpq.track('Viewed My Activity');
- else
  :javascript
    mpq.track('Viewed Activity', {mp_note: '#{@user.name}'});