.user-profile
  = render "user_info"
  = render "user_tabs"

  %ul.galleries
    %li.no-gallery
      %ul.stories
        - no_gallery_stories = @user == current_user ? @user.created_stories.no_gallery : @user.created_stories.no_gallery.published
        - no_gallery_stories.each do |story|
          %li.story
            = link_to(story.title || "Untitled", story, :class => "title")
            .byline by #{link_to(@user.name, user_path(@user))}
            = link_to(image_tag(story.thumbnail(:medium)), story, :class => "thumbnail")
    - @user.galleries.each do |gallery|
      %li.gallery
        %ul.stories
          %li.story.about
            .name= gallery.name
            .description= gallery.description
          - gallery_stories = @user == current_user ? gallery.stories : gallery.stories.published
          - gallery_stories.each do |story|
            %li.story
              = link_to(story.title || "Untitled", story, :class => "title")
              .byline by #{@user.name}
              = link_to(image_tag(story.thumbnail(:medium)), story, :class => "thumbnail")
          
        
  - if me?(@user) && @user.is_admin?
    .admin
      %h1 Admin
      .link= link_to("Pay Periods", admin_pay_periods_path)
      .link= link_to("Invitations", admin_invitations_path)
      .link= link_to("Adverts", admin_adverts_path)
      .link= link_to("Live View", admin_live_path)