#user-profile
  = render "users/user_info"
  
  #summary.the-rest
  
    #content-column
      %section
        %header
          %h1
            %span #{me?(@user) ? "Your" : "#{@user.first_name}'s"} Recent Content
            = link_to "view all content", creations_user_path(@user), :class => "more"
        %ul.mini-content
          - @recent_content.each do |content|
            %li
              = link_to image_tag(content.thumbnail.url(:medium)), story_path(content), :class => "thumbnail"
              .stat.popular= content.reward_count
              .more
                = link_to image_tag(content.thumbnail.url(:medium)), story_path(content), :class => "thumbnail"
                .stat.popular= content.reward_count
                = link_to truncate(content.title, :length => 40), story_path(content), :class => "title"
                .byline by #{link_to @user.name, user_path(@user)}
                %p.synopsis= truncate content.synopsis, :length => 210
                = link_to "Launch Viewer", story_path(content), :class => "launch"
    
      %section
        %header
          %h1
            %span Content #{you_or_first_name(@user)} Rewarded
            = link_to "view all activity", activity_user_path(@user), :class => "more"
        %ul.mini-content
          - @rewarded_content.each do |content|
            %li
              = link_to image_tag(content.thumbnail.url(:medium)), story_path(content), :class => "thumbnail"
              .stat.popular= content.reward_count
              .more
                = link_to image_tag(content.thumbnail.url(:medium)), story_path(content), :class => "thumbnail"
                .stat.popular= content.reward_count
                = link_to truncate(content.title, :length => 40), story_path(content), :class => "title"
                .byline by #{link_to @user.name, user_path(@user)}
                %p.synopsis= truncate content.synopsis, :length => 210
                = link_to "Launch Viewer", story_path(content), :class => "launch"
    
    #people-column
      
  
- if me?(@user)
  :javascript
    mpq.track('Viewed My Profile');
- else
  :javascript
    mpq.track('Viewed A Profile', {mp_note: '#{@user.name}'});