.user-profile{:class => @user.is_a?(Creator) ? "creator" : ""}
  .top{:class => @user.is_a?(Creator) ? "created-stories" : "curatorial-stream"}
    = render "stories/gallery"
  
    .user-info
      .avatar-name
        .avatar= image_tag(@user.avatar.url(:thumbnail))
        .name= @user.name
      .occupation
        occupation: #{@user.occupation}
      .tagline
        - if me?(@user) && @user.tagline.blank?
          Please edit your tagline
        - else
          = markdown @user.tagline
      - if me?(@user)
        = link_to("Edit your info", edit_user_path(@user))
      .actions
        = subscribe_button(@user)
    .clear


  .supporters.clearfix
    .tabs
      - if @user.is_a?(Creator)
        = link_to("my top patrons", "patrons", :class => "active")
        = link_to("who i support", "creators")
      - else
        = link_to("who i support", "creators", :class => "active")
    - if @user.is_a?(Creator)
      %ul.patrons.tabcontent
        - counter = 1
        - @user.rewards.group_by {|r| r.user}.each do |patron, rewards|
          %li
            .number= counter
            - counter += 1
            .avatar= image_tag(patron.avatar.url(:thumbnail))
            .info
              .name= patron.name
              .occupation= "occupation: #{patron.occupation}"
            .rewards= number_with_precision(rewards.sum(&:amount), :precision => 0)
    %ul.creators.tabcontent{:class => @user.is_a?(Creator) ? "hidden" : ""}
      - counter = 1
      - @user.given_rewards.group_by {|r| r.recipient}.each do |creator, rewards|
        %li
          .number= counter
          - counter += 1
          .avatar= image_tag(creator.avatar.url(:thumbnail))
          .info
            .name= creator.name
            .occupation= "occupation: #{creator.occupation}"
          .rewards= number_with_precision(rewards.sum(&:amount), :precision => 0)
          
  .subscribing-to
    %h1 Members I'm Following
    %ul.users
      - @user.subscribed_to.limit(15).each do |user|
        %li= link_to(image_tag(user.avatar.url(:thumbnail)), user_path(user), :class => "tooltipped", :title => user.name)
        
  - if me?(@user)
    = #render "stories/personal_library"

    - if @user.is_admin?
      .admin
        %h1 Admin
        .link= link_to("Pay Periods", admin_pay_periods_path)
        .link= link_to("Invitations", admin_invitations_path)
        .link= link_to("Adverts", admin_adverts_path)