.user-profile
  = render "users/user_info"
  = render "users/user_tabs"

  .tabbed
  
    .what-is-this These are the creators and their work that #{@user.first_name} has rewarded.
    
    - @creators.each do |creator, rewards|
      .patronee
        .heading
          .info
            = link_to(image_tag(creator.avatar.url(:thumbnail)), user_path(creator), :class => "avatar")
            %a.name{:href => user_path(creator)}
              %span= creator.first_name
              %span= creator.last_name
          .impact
            .given
              %div.text
                #{@user.first_name} has given
                %br
                #{creator.name}:
              %div.value= @user.rewards_given_to(creator)
            .helped-get
              %div.text
                #{@user.first_name} has helped
                %br
                #{creator.first_name} get:
              %div.value= @user.impact_on(creator)
        %ul.content.clearfix
          - rewards.each do |reward|
            %li
              = link_to(truncate(reward.story.title, :length => 40), reward.story, :class => "title")
              = link_to(image_tag(reward.story.thumbnail.url(:medium)), reward.story, :class => "thumbnail")
              .gave
                %span You gave this
                %span.reward #{reward.amount}
                %span , which led to:
              .people #{pluralize(reward.descendants.count, "more person")} rewarding
              .impact= pluralize(reward.impact - reward.amount, "more reward star")
          
        
    - if me?(@user) && @user.is_admin?
      .admin
        %h1 Admin
        .link= link_to("Pay Periods", admin_pay_periods_path)
        .link= link_to("Invitations", admin_invitations_path)
        .link= link_to("Adverts", admin_adverts_path)
        .link= link_to("Live View", admin_live_path)