.user-profile{:class => @user.is_a?(Creator) ? "creator" : ""}
  .top{:class => @user.is_a?(Creator) ? "created-stories" : "curatorial-stream"}
    = render "stories/gallery"
  
    .user-info
      .avatar-name
        .avatar= image_tag(@user.avatar.url(:thumbnail))
        .name= @user.name
      .tagline
        - if me?(@user) && @user.tagline.blank?
          Please edit your tagline
        - else
          = @user.tagline
      - if me?(@user)
        = link_to("Edit your info", edit_user_path(@user))
      .actions
        = subscribe_button(@user)
    .clear

  .subscribers
    .count
      .number= @user.subscribers.count
      .label= pluralize(@user.subscribers.count, "subscriber").gsub(/[^a-z]/,"")
    %ul.avatars
      - @user.subscribers.each do |user|
        %li
          %a{:href => user_path(user)}
            = image_tag(user.avatar.url(:thumbnail), :class => "tooltipped", :title => user.name)
            %span.name= user.name
  
  
  = render :partial => "users/recommendation_stream", :locals => {:user => @user}
  
  .comments Comments (coming soon...)

  - if @user.is_a?(Creator)
    .curatorial-stream
      %h3 My curatorial stream
      %ul.stories
        = render @user.recommended_stories
              
  - if me?(@user)
    = render "stories/personal_library"

    - if @user.is_admin?
      .admin
        %h1 Admin
        .link= link_to("Pay Periods", admin_pay_periods_path)
        .link= link_to("Invitations", admin_invitations_path)