#about-modal.modal
  .cover
  .padder
    %a.close{:href => "#"}
    .insides.clearfix
      .steps
        .step
          %h1 Momeant is a community for connecting with and supporting people doing great work online
          %p Everyday, we enjoy great content made by real people all over the world. They're posting their work, telling interesting stories, and sharing their valuable knowledge with us on the Web.
          %p So what's the problem? They need our support. 
          %p Momeant is a great way to connect with these creators and support their valuable work.
        
          .buttons
            = link_to "Next &rarr;".html_safe, "#", :class => "next-step"
        .step
          %h1 People, not projects
          %p Our focus is on solving a problem for content creators on the Web: getting support. As opposed to funding prospective projects and products, we aim to create an environment of support for people already doing and sharing great work, while bringing their audiences closer to the people behind the content.
          %p Adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        
          .buttons
            = link_to "&larr; Prev".html_safe, "#", :class => "prev-step button"
            = link_to "Next &rarr;".html_safe, "#", :class => "next-step"
        
        .step
          %h1 Free for all
          %p All creators on Momeant share their work for free. You discover and follow creators that interest you, and get updates from them, their work, and their audience.
        
          .buttons
            = link_to "&larr; Prev".html_safe, "#", :class => "prev-step button"
            = link_to "Next &rarr;".html_safe, "#", :class => "next-step"
            
        .step
          %h1 Reward what matters to you
          %p See something you like? Show your support with a reward. Rewards build connections between audience and creator, create social influence, and tell others in the community what you value, helping them discover new creators.

          .buttons
            = link_to "&larr; Prev".html_safe, "#", :class => "prev-step button"