#join-modal
  .cover
  .padder
    %a.close{:href => "#"}
    .insides.clearfix
      .forms
        .join
          %h2 Join
          = form_for(User.new, :as => :user, :url => registration_path(:user), :html => {:id => "join-form"}) do |f|
            %fieldset
              %ul
                %li
                  %span
                    = f.text_field :first_name, :placeholder => "first name", :autocorrect => "off"
                  %span.last
                    = f.text_field :last_name, :placeholder => "last name", :autocorrect => "off"
                %li
                  = f.email_field :email, :placeholder => "email address", :autocorrect => "off", :autocapitalize => "off"
                %li
                  = f.password_field :password, :placeholder => "password (6+ characters)"
                %li.checkbox
                  = f.check_box :tos_accepted
                  %label{:for => "user_tos_accepted"} I agree to the #{link_to("Terms of Service", tos_path, :target => "new")}
                %li.submit
                  = f.submit "sign up"
        .copy
          %p
            We all create content online these days. Most of that content is free.

          %p
            But when we create great content that others enjoy, we all deserve to be rewarded.

          %p
            Momeant is a community for rewarding what matters to you.