#login-modal
  .cover
  .padder
    %a.close{:href => "#"}
    .insides
      .forms
        .login
          %h2 Log In
          = form_for(User.new, :as => :user, :url => session_path(:user), :html => {:id => "login-form"}) do |f|
            %fieldset
              %ul
                %li
                  = f.email_field :email, :id => "login_email", :placeholder => "email address", :autocorrect => "off", :autocapitalize => "off"
                %li
                  = f.password_field :password, :id => "login_password", :placeholder => "password"
                  = f.hidden_field :remember_me, value: 1
                %li.submit
                  = f.submit "login"
                  = link_to "Reset my password", new_password_path(:user)