#reward-box
  - if current_user == @user
    .yourself
      %h2
        Sorry, you can't reward yourself ;).
  - else
    .inner
      #avatars
        = image_tag(@user.avatar.url(:thumbnail), :class => "them")
        = image_tag(current_user.avatar.url(:thumbnail), :class => "you")
      = form_for :reward, :url => user_rewards_path(@user), :html => {:id => "reward-form"} do |form|
        = form.hidden_field :story_id, :value => @story.id
        #how-much
          %span I want to
          %strong REWARD #{@user.first_name}
          .input
            = form.text_field :amount, :value => 1
            #ticker
              .up
              .down
          %span of my
          %strong= current_user.coins
          %span reward coins.
        = form.text_area :comment, :placeholder => "Tell others why you're rewarding this..."
        #share
          .header Share with your networks
          %table
            %tbody
              %tr
                %td.text Twitter
                %td.link
                  - if @twitter_auth
                    .switch
                      = hidden_field_tag :share_twitter, "", :name => "share[twitter]"
                      .toggle.off{:update => "#share_twitter"}
                        .handle
                  - else
                    = link_to("Configure", "/auth/twitter/configure", :class => "configure")
              %tr
                %td.text Facebook
                %td.link
                  - if @facebook_auth
                    .switch
                      = hidden_field_tag :share_facebook, "", :name => "share[facebook]"
                      .toggle.off{:update => "#share_facebook"}
                        .handle
                  - else
                    = link_to("Configure", "/auth/facebook/configure", :class => "configure")
        = form.submit "Give Reward"