%li
  %a.surround{:href => user_path(person)}
    
    = image_tag person.avatar.url(:large), :class => "avatar"
    
    .label
      .name
        %strong= person.name
        %span= person.occupation
        - if person.location?
          %span from #{person.location}
      %p
        %span.lquote &ldquo;
        %span= truncate person.tagline, :length => 100
        %span.rquote &rdquo;
      .stats
        .content= pluralize person.created_stories.published.count, "work"
        .rewarders= pluralize person.patrons.count, "rewarder"