%li
  %a.surround{:href => user_path(person)}
    
    = image_tag person.avatar.url(:large), :class => "avatar"
    
    .description
      .content= pluralize person.created_stories.published.count, "project"
      .rewarded #{number_to_currency person.lifetime_rewards * Reward.dollar_exchange} rewards
    
    .label
      .name= person.name
      .category= person.category
      %p &ldquo;#{truncate person.tagline, :length => 100}&rdquo;