%li
  %a.name{:href => user_path(person), :data => person.id}
    %span{:class => person.is_featured? ? "featured" : ""}= person.name
  .details{:class => person.discovery_content.present? ? person.discovery_content.template : ""}
    = image_tag(person.avatar.url(:thumbnail), :class => "avatar" )
    %h3= person.name
    %h4= person.occupation
    %p= truncate(person.tagline, :length => 140)
    .supporters
      %span.amount= person.patrons.count
    = link_to "View Profile &rarr;".html_safe, user_path(person), :class => "profile"