%li
  %a.surround{:href => user_path(person)}
    
    = image_tag person.avatar.url(:large), :class => "avatar"
    
    .hover
      %span View works and rewarders
      %span.arrow &rarr;
    
    .label
      .name= person.name
      %p &ldquo;#{truncate person.tagline, :length => 100}&rdquo;
      .stats
        .content= pluralize person.created_stories.published.count, "work"
        .rewarders= pluralize person.patrons.count, "rewarder"