%li
  %a.surround{:href => user_path(person)}
    
    = image_tag person.avatar.url(:large), :class => "avatar"
    
    .description
      .name= person.name
      %p= truncate person.tagline, :length => 100
    
    .label
      .category= person.category
      .rewards #{number_to_currency person.lifetime_rewards * Reward.dollar_exchange} rewarded