.beta

  %p.copy Mo•meant is currently in private beta. If you have an invitation ID please enter it here. If you would like to be invited as a creator or user, please sign up to our mailing list below.

  .clearfix
    = render "shared/error_messages", :target => @user
    .join
      .inner
        %h2 Join
        = form_for(@user, :as => :user, :url => registration_path(:user), :html => {:multipart => true}) do |f|
          %fieldset
            %ul
              %li
                = f.label :invitation_code
                = f.text_field :invitation_code
                
              %li
                = f.label :first_name, "Your name"
                %span
                  = f.text_field :first_name
                  = f.label :first_name, "first"
                %span
                  = f.text_field :last_name
                  = f.label :last_name, "last"
              %li
                = f.label :email
                = f.text_field :email

              %li
                %label{:for => "user_password"}
                  Password
                  %span.instructions (6+ characters)
                = f.password_field :password, :class => "spaced-a-bit"
                = f.password_field :password_confirmation
                %span
                  = f.label :password, "(once more, please)"

              %li.submit
                = f.submit "sign up"
    .shots
      %img(src="/images/betaBorder.png" alt="border")
    .login
      .form
        %h2 Login
        = form_for(@user, :as => :user, :url => session_path(:user)) do |f|
          %fieldset
            %ul

              %li
                = f.label :email
                = f.text_field :email, :id => "login_email"

              %li
                = f.label :password
                = f.password_field :password, :id => "login_password"

              %li
                = f.check_box :remember_me
                = f.label :remember_me

              %li.submit
                = f.submit "login"
      .email-list
        %h2 I Want In!
        = render "home/mailchimp_beta_list"
