#discovery.compact
  = render "home/discovery/based_on_your_rewards" if current_user
  = render "home/discovery/activity_by_people_you_know" if current_user
  = render "home/discovery/nearby_content" if current_user
  = render "home/discovery/popular_content"
  = render "home/discovery/global_activity"
  = render "home/discovery/notable_creators"
  = render "home/discovery/top_patrons"
  = render "home/discovery/top_creators"