#slides-wrapper
  #slides
    #message.slide
      .slide-insides
        %h1= link_to "Reward", about_path, :class => "tooltipped-e", :title => "Tell me more..."
        %h2  what matters to you.
  
    = render :partial => "home/work", :collection => @people.map(&:discovery_content), :as => :content

#sidebar
  
  #filter
    %ul#featured
      %li.selected= link_to "Featured", "#"
      %li= link_to "Popular", "#"
    
    %ul#categories
      %li.selected
        = link_to "All", "#"
        %span.comma ,
      - Story::CATEGORIES.each do |category|
        %li
          = link_to category, "#"
          %span.comma ,
  
  #people
    %ul#list
      = render :partial => "home/person", :collection => @people, :as => :person
          

:javascript
  mpq.track('Viewed Homepage');
= javascript_include_tag "withinViewport"
= javascript_include_tag "landing"