%section#editorial
  %h2 Editorial section

%section#recent-stories
  %h2 Recent
  %ul.stories
    = render @stories
    
- if current_user
  %section#subscribed-to-stories
    %h2 User Recommended
    %ul.stories
      = render @subscribed_to_stories
  
  %section#similar-to-bookmarked-stories
    %h2 Mo&#149;meant Recommended
    %ul.stories
      = render @similar_to_bookmarked_stories
      
  %section.personal-library
    .tabs
      = link_to("your purchases", "#", :id => "your-purchases", :class => "active")
      = link_to("your bookmarks", "#", :id => "your-bookmarks")
    %ul.purchases.stories
      = render current_user.stories
    %ul.bookmarks.stories.hidden
      = render current_user.bookmarked_stories