#landing-page
  
  #slogan
    .line
    %h1
      %strong Reward
      %em what matters to you.
    %h3
      %a{:href => "#about-modal"}
        Momeant is a community for connecting with
        %br
        and supporting people doing great work online.
    #learn-more
      = link_to "Learn more", "#about-modal", :class => "button"
    
  - if @featured_content
    #featured-content
      - first = true
      - @featured_content.each do |type, contents|
        .media-type{:id => "#{type}-type", :class => first ? "open" : "closed"}
          .toggler
          - contents.each do |content|
            %a{:href => story_path(content)}
              = image_tag content.thumbnail.url
    
    
  #categories-people
    .inner

      %ul#categories
        - index = 0
        - @content.each_pair do |category, content|
          %li{:class => index == 0 ? "selected" : ""}
            = link_to category, "#", :class => "top"
            .people
              - content.each do |story|
                = link_to story.user.name, "#", :data => index, :class => index == 0 ? "selected" : ""
                - index += 1
       
      #people
        %ul
          - @content.each_pair do |category, content|
            = render :partial => "home/person", :collection => content, :as => :content

:javascript
  mpq.track('Viewed Homepage');
  var user_id = #{current_user ? current_user.id : 'undefined'};
= javascript_include_tag "landing"