#landing-page
  
  #slogan
    .line
    %h1
      %strong Reward
      %em what matters to you.
    %h3
      %a{:href => "#about-modal"}
        Momeant is a community for supporting
        %br
        and connecting with people doing great work online.
    #learn-more
      = link_to "Learn more", "#about-modal", :class => "button"
    
  
  %section#featured-creators
    #people
      %ul= render :partial => "home/person", :collection => @creators, :as => :content

:javascript
  mpq.track('Viewed Homepage', { signed_in: #{user_signed_in? ? 'true' : 'false' } });
  var user_id = #{current_user ? current_user.id : 'undefined'};
= javascript_include_tag "landing"