- content_for :head do
  = javascript_include_tag "flipbook"

.homepage
  = #render "home/editorials/openingUp"

  %section#flipbook
    .flipbook
      .controls
        .left.tooltipped-w{:title => "Previous"}
        .right.tooltipped-e{:title => "Next"}
      .flipstrip
        .slides
          = #render "home/editorials/creatorflipbook"
    
  %section.lists
    - if @sidenav == "following" && @rewards.empty? && current_user.subscribed_to.empty?
      %h3 You are not currently following anyone. Once you start following people, you will see content they have rewarded.
    %ul.reward-thumbnails
      = render @rewards
    
    = link_to("load more", @load_more_url, :id => "load-more") unless @rewards.empty?
    #hidden-reward-appender