#landing-page
  
  #intro
    #slides
      = link_to "Previous", "#", :id => "previous", :class => "inactive"
      = link_to "Next", "#", :id => "next"
      %ul
        %li.a
          We have an opportunity to build
          %br
          a Web that supports all of us.
          %br
          But this depends on the
          %br
          choices we make.
        %li.b
          We all read articles, watch videos,
          %br
          look at photos, listen to music.
          %br
          A lot of us create
          %br
          these things too.
        %li.e
          Most of this content is free,
          %br
          and we want it to stay that way.
          %br
          But we also want to give creators
          %br
          a chance to make a living.
        %li.f
          Momeant gives us that chance.
          %br
          Reward the creators who make
          %br
          the content you find valuable
          %br
          and build lasting relationships.
        %li.g
          Join the Momeant community,
          %br
          and help us build a new creative
          %br
          economy on the Web.
          = link_to "Continue", "#", id: "continue-downward"
  
  %ul#people
    - @people.each do |person|
      %li= link_to image_tag(person.avatar.url(:thumbnail)), user_path(person)
  
  %p#explanation
    The web is a virtual economy, brimming with creative minds sharing and consuming information
    and content. With debt crises, automation and outsourcing causing upheavals in traditional
    markets around the world, the fate of the web depends on choices we make as members of this
    viral community. If we want to preserve a creative economy for the future, we must elevate
    the value we place on web content and the people producing it.
  
  %ul#steps
    %li#create
      %h2 Create
      %p
        We have invited some creative forces from across the globe to join Momeant and share
        their body of work with our growing community.
    %li#discover
      %h2 Discover
      %p
        Now we're inviting you to dive in and explore the diverse Momeant directory. From comics
        to journalism to paper cuts, discover content that makes you say "wow".
    %li#support
      %h2 Support
      %p
        This is where we're different. Share your enthusiasm for these creative endeavors by following,
        rewarding and participating. Become an active participant in the artist-to-patron relationship.
  
  #connect
    %h1 Connect with real people and show them your support.
    = link_to "View our Featured Creators &rarr;".html_safe, discovery_path

:javascript
  mixpanel.track('Viewed Homepage', { signed_in: #{user_signed_in? ? 'true' : 'false' } });
= javascript_include_tag "landing"