#slides
  #message.slide
    .slide-insides
      %h1 Reward what matters to you.
      %h2 There is a problem with the web:
      %h3 Very few of us who contribute content make money for our work.
      %h2 With your help, we aim to fix that:
      %h3
        %span Content and information
        %em will remain free,
        %span while you voluntarily reward the creators producing content you like.
  
  - @people.each do |person|
    .person.slide{:id => "person-#{person.id}"}
      - content = person.discovery_content
      - unless content.nil?
        .preview{:class => "#{content.media_type} #{content.template}"}
          - if content.text_media_type?
            .inner
              .image
              .quote= truncate(content.synopsis, :length => 140)
          - else
            .inner{:style => "background-image: url(#{content.thumbnail.url(:huge)})"}

#creators

  #people
    %h3 Creators
    %ul#list
      - @people.each do |person|
        %li= link_to person.name, user_path(person), :data => person.id

:javascript
  mpq.track('Viewed Homepage');
= javascript_include_tag "withinViewport"
= javascript_include_tag "landing"