#landing-page
  
  #slogan
    %h1 Reward what matters to you
    %h3 Momeant is a community for connecting with and supporting people doing great work online
    = link_to "Learn more", "#about-modal", :class => "button"
    
  #categories-people
    .inner

      %ul#categories
        - index = 0
        - @content.each_pair do |category, content|
          %li{:class => index == 0 ? "selected" : ""}
            = link_to category, "#", :class => "top"
            .people
              - content.each do |story|
                = link_to story.user.name, "#", :data => index, :class => index == 0 ? "selected" : ""
                - index += 1
       
      #people
        %ul
          - @content.each_pair do |category, content|
            = render :partial => "home/person", :collection => content.map(&:user), :as => :person

:javascript
  mpq.track('Viewed Homepage');
  var user_id = #{current_user ? current_user.id : 'undefined'};
= javascript_include_tag "landing"