#landing-page
  
  #slogan
    %h1 Reward what matters to you
    %h3 Momeant is a community for connecting with and supporting people doing great work online
    = link_to "Learn more", "#about-modal", :class => "button"

  #faces
    %h3 Discover and follow creators by category:
    %ul#list
      = render "home/faces"
    
  #categories-people

    %ul#categories
      %li.selected= link_to "Featured", "#"
      - Story::CATEGORIES.each do |category|
        %li= link_to category, "#"
       
    #people
      %ul
        = render :partial => "home/person", :collection => @people, :as => :person
  
  
          

:javascript
  mpq.track('Viewed Homepage');
  var user_id = #{current_user ? current_user.id : 'undefined'};
= javascript_include_tag "landing"