- content_for :head do
  = javascript_include_tag "flipbook"

.homepage
  %section#flipbook
    .flipbook
      .controls
        .left.tooltipped{:title => "Previous"}
        .right.tooltipped{:title => "Next"}
      .flipstrip
        .slides
          = render "home/editorials/communications"
    
  %section#tutorials
    %h1 Momeant tutorial stories will go here
    
  %section.story-tabs
    .tabs
      = link_to("recent", "recent", :class => "active")
      = link_to("popular", "popular")
      - if current_user
        = link_to("purchased", "purchases")
        = link_to("hearted", "likes")
        = link_to("dog-eared", "bookmarks")
    %ul.recent.stories.tabcontent
      = render @stories
    %ul.popular.stories.tabcontent.hidden
      = render @popular_stories
    - if current_user
      %ul.purchases.stories.tabcontent.hidden
        = render current_user.stories
      %ul.likes.stories.tabcontent.hidden
        = render current_user.liked_stories
      %ul.bookmarks.stories.tabcontent.hidden
        = render current_user.bookmarked_stories