- content_for :head do
  = javascript_include_tag "flipbook"
  
- if current_user.blank?
  = render :partial => "shared/calls_to_action/signup", :locals => {:message => "Join the community, support creators, and become a mo&#149meant patron"}

.homepage
  %section#flipbook
    .flipbook
      .controls
        .left.tooltipped-w{:title => "Previous"}
        .right.tooltipped-e{:title => "Next"}
      .flipstrip
        .slides
          = render "home/editorials/creatorflipbook"
    
  %section.lists
    .home-tabs
      = link_to_active("Most Rewarded Stories", root_path)
      = link_to_active("Latest Stories", recent_stories_path)
      .pagination
        = paginate @most_rewarded_stories if @most_rewarded_stories
        = paginate @recent_stories if @recent_stories
    - if @most_rewarded_stories
      %ul.most-rewarded.stories= render @most_rewarded_stories
    - elsif @recent_stories
      %ul.recent.stories= render @recent_stories
    .home-tabs
      .pagination
        = paginate @most_rewarded_stories if @most_rewarded_stories
        = paginate @top_curators if @top_curators
        = paginate @recent_stories if @recent_stories
  
  - if @adverts.length > 0
    %section.adverts
      = render @adverts
      .clear