- content_for :head do
  = javascript_include_tag "landing"

#landing

  #slogan
    %h1
      %span Reward the
      %em people
      %span behind great content on the web.
    #slogan-button= link_to "Join", "#join-modal"
  
  #faces
    - first = true
    - @editorials.each do |editorial|
      .face{:class => first ? "selected" : ""}
        = link_to image_tag(editorial.user.avatar.url(:large)), "#", :info_id => editorial.id, :class => "avatar"
      
        .stats
          - if editorial.show_as == "creator"
            .rewards.stat
              %span.amount= editorial.user.rewards.sum(:amount)
              %span.text rewards received
            .earned.stat
              %span.dollar $
              %span.amount= number_to_currency(editorial.user.rewards.sum(:amount) * Reward.dollar_exchange)[1..-1]
              %span.text money earned
              
        .info
          %h2
            %span.name= editorial.user.name
            %span creator

          %p.quote= editorial.quote
              
        .bottom
          = link_to "view #{editorial.user.first_name}'s content", creations_user_path(editorial.user), :class => "content-link"            
      
      - first = false

:javascript
  mpq.track('Viewed Landing Page', {anonymous_id: '#{session[:analytics_anonymous_id]}'})