- content_for :head do
  = javascript_include_tag "landing"

#landing

  %h1#slogan
    %span Reward the
    %em people
    %span behind great content on the web...and watch
    %em creativity
    %span grow.
  
  #faces
    - first = true
    - @editorials.each do |editorial|
      = link_to image_tag(editorial.user.avatar.url(:large)), "#", :class => first ? "selected" : "", :info_id => editorial.id
      - first = false
    
  - first = true
  #info
    - @editorials.each do |editorial|
      .info{:id => "info_for_#{editorial.id}", :class => first ? "selected" : ""}

        %h2
          %span.name= editorial.user.name
          %span creator
        
        %p.metadata
          %span.weak Location:
          %span.spaced= editorial.user.location
          %span.weak Occupation:
          %span= editorial.user.occupation

        %p.quote= editorial.quote

        .stats
          - if editorial.show_as == "creator"
            .rewards.stat
              %span.amount= editorial.user.rewards.sum(:amount)
              %span.text rewards received
            .earned.stat
              %span.dollar $
              %span.amount= number_to_currency(editorial.user.rewards.sum(:amount) * Reward.dollar_exchange)[1..-1]
              %span.text money earned

        .bottom
          = link_to "view #{editorial.user.first_name}'s content", creations_user_path(editorial.user), :class => "content-link"            

      - first = false
        

:javascript
  mpq.track('Viewed Landing Page', {anonymous_id: '#{session[:analytics_anonymous_id]}'})