#landing

  #showcase
    #content
      %h1
        %span Real people create the content that we enjoy on the Web.
        %span They deserve to be rewarded.
      = #link_to "Sign Up Now", "#join-modal", :id => "main-signup-button"
      - unless current_user
        = form_for(@user, :as => :user, :url => registration_path(:user), :html => {:id => "join-form"}) do |f|
          %fieldset
            %ul
              %li
                %span
                  = f.text_field :first_name, :placeholder => "first name", :autocorrect => "off"
                %span.last
                  = f.text_field :last_name, :placeholder => "last name", :autocorrect => "off"
              %li
                = f.email_field :email, :placeholder => "email address", :autocorrect => "off", :autocapitalize => "off"
              %li
                = f.password_field :password, :placeholder => "password (6+ characters)"
              %li.checkbox
                = f.check_box :tos_accepted
                %label{:for => "user_tos_accepted"} I agree to the #{link_to("Terms of Service", tos_path, :target => "new")}
              %li.submit
                = f.submit "Join Momeant"
    #creator
      %p#creator-text
        = link_to @story.title, story_path(@story)
        %span by #{@story.user.name}
        %span.occupation= @story.user.occupation
        %span.location= @story.user.location
      = link_to image_tag(@story.user.avatar.url(:thumbnail)), user_path(@story.user), :class => "avatar"
  
  #description
    %ul
      %li
        %h2 What is Momeant?
        %p There is a problem with the Web: very few of us who contribute content make money for our work. With your help, Momeant aims to change that. Content and information will remain free, while you reward the content and creators you know and like. If you're a creator, sign up to start getting rewarded.
      %li
        %h2 How does it work?
        %p We’d like you to meet The Reward, a voluntary payment you can make directly to a creator, after you’ve seen their content. Why would you voluntarily reward someone? To show some love, appreciation, support, to get your own content rewarded, and to play your part in creating a new digital economy.
      %li
        %h2 Why does Momeant matter?
        %p Because we're entering a new creative economy, where we spend more of our time and hard work creating content for the Web, and sharing it for free. But in order to make this new economy sustainable, we have to start rewarding what we recognize as being valuable.
  
  #editorials
    %h1 Here are some of the folks already being rewarded.
    %ul#people
      - @editorials.each do |editorial|
        %li
          = link_to image_tag(editorial.user.avatar.url(:editorial)), user_path(editorial.user), :class => "avatar"
          = link_to editorial.user.name, user_path(editorial.user), :class => "name"
          .earned
            %span.amount= number_to_currency(editorial.user.rewards.sum(:amount) * Reward.dollar_exchange)
            %span.text money rewarded from folks like:
            .from
              - Reward.select("DISTINCT ON (user_id) *").where(:recipient_id => editorial.user.id).limit(5).each do |reward|
                = link_to image_tag(reward.user.avatar.url(:thumbnail)), user_path(reward.user), :class => "tooltipped", :title => reward.user.name

          %span.occupation= editorial.occupation
          %span.location= editorial.user.location
          %p.quote= editorial.quote
  
  = link_to "Join Us. Reward and Be Rewarded.", "#join-modal", :id => "join-call-to-action" unless current_user
  
:javascript
  mpq.track('Viewed Landing Page');