#landing

  #showcase
    #content
      %h1
        %span Real people create the content that we enjoy on the Web.
        %span They deserve to be rewarded.
      = link_to "Sign Up Now", "#join-modal", :id => "main-signup-button"
    #creator
      %p#creator-text
        = link_to @story.title, story_path(@story)
        %span by #{@story.user.name}
        %span.occupation= @story.user.occupation
        %span.location= @story.user.location
      = link_to image_tag(@story.user.avatar.url(:thumbnail)), creations_user_path(@story.user), :class => "avatar"
  
  #description
    %ul
      %li
        %h2 What is Momeant?
        %p Momeant is a community trying to build a new digital economy. How? By rewarding the people who make the free content, information, and software we find valuable.
      %li
        %h2 How do I get started?
        %p Getting started is easy. #{link_to "Join", "#join-modal"} and try it out in less than a minute. There’s no commitment, all content is free and rewards are voluntary. We’ll give you 10 free rewards to get started.
      %li
        %h2 Why does Momeant matter?
        %p Because information should be free and shared widely, but the people who create the content we appreciate deserve the opportunity to be rewarded for their work.
  
  #editorials
    %h1 Here are some of the folks already being rewarded.
    %ul#people
      - @editorials.each do |editorial|
        %li
          = link_to image_tag(editorial.user.avatar.url(:editorial)), creations_user_path(editorial.user), :class => "avatar"
          = link_to editorial.user.name, creations_user_path(editorial.user), :class => "name"
          .earned
            %span.amount= number_to_currency(editorial.user.rewards.sum(:amount) * Reward.dollar_exchange)
            %span.text money earned

          %span.occupation= editorial.occupation
          %span.location= editorial.user.location
          %p.quote= editorial.quote
  
  = link_to "Join Us. Reward and Be Rewarded.", "#join-modal", :id => "join-call-to-action" unless current_user
  
:javascript
  mpq.track('Viewed Landing Page');