#landing

  %h1#slogan Help build a new digital economy.
  
  #messaging
    %p
      %strong The economy is broken.
      %span Wealth disparities are huge, jobs are disappearing, and yet we haven’t become less productive, we just spend much of our time and energy producing content, information, and software that we mostly give away for free.
    %p
      %strong We strongly believe that information needs to be free,
      %span but at the same time, we need to build a new digital economy that creates jobs (allows people to make a living) from what we spend our time producing and consuming.
    %p
      %strong Thus, Momeant is introducing the Reward,
      %span a voluntary payment made after having consumed content for free. By voluntarily rewarding each other, we demonstrate what we find valuable, and generate the wealth and productivity we need in a 21st century economy.
  
  #steps
    %ul
      %li
        .number 1
        .title Link
        %p Link to your existing Web content or put our reward app on your website or blog. We work hard to make it easy on you.
      %li
        .number 2
        .title Reward
        %p Reward to support creators whose content you enjoy, promote yourself, and become a powerful social influencer.
      %li
        .number 3
        .title Discover
        %p Find out what’s being rewarded, see the impact your rewards and promotion have, and find new content.
  
  = link_to "Join Us. Reward and Be Rewarded.", "#join-modal", :id => "join-call-to-action" unless current_user
  
  #creator
    %h2 Here are some of the creators already being supported.
    %ul#faces
      - @editorials.each do |editorial|
        %li.face{:editorial => editorial.id}
          = link_to image_tag(editorial.user.avatar.url(:large)), user_path(editorial.user), :info_id => editorial.id, :class => "avatar"

          .info
            %h2.name= editorial.user.name
            
            - if editorial.show_as == "creator"
              .earned
                %span.amount= number_to_currency(editorial.user.rewards.sum(:amount) * Reward.dollar_exchange)
                %span.text money earned
            
            %span.occupation= editorial.occupation
            %span.location= editorial.user.location
            %p.quote= editorial.quote
    .clear

:javascript
  mpq.track('Viewed Landing Page');