#subscribe-pitch
  .byline
    %h1 Become a patron of the arts!
    %h3 Creativity matters. Support creators and their work with a $10 monthly Mo&#149meant subscription.
    
  - unless current_user.active_subscription?
    %a#subscribe1.button{:href => current_user.spreedly_plan_url}
      %span Get a Subscription
    
  %ul.thirds
    %li.join
      = image_tag("subscribe/joinMomeant.png")
      %h3
        %span Join Mo&#149meant
      %p
        A monthly subscription
        %br
        gives you complete access
        %br
        to Mo&#149meant's wide range of
        %br
        creative content.
    %li.reward
      = image_tag("subscribe/rewardCreators.png")
      %h3
        %span Reward Creators
      %p
        %br
        Your $10 gets converted
        %br
        into a monthly stock of
        %br
        Mo&#149meant Coins (MCs)...
    %li.make
      = image_tag("subscribe/makeADifference.png")
      %h3
        %span Make a Difference
      %p
        The artists you
        %br
        reward and recommend
        %br
        get paid &ndash; and you gain
        %br
        a voice in Mo&#149meant's
        %br
        creative marketplace.
    
  
  .nitty-gritty
    .question
      %h2 How does my subscription fee get divvied up?
      %p
        Of your monthly $10, $3 goes into a view pool, which is evenly divided among all the creators
        whose content you view that month. (This helps support the larger Mo&#149meant community).
        The remaining $7 are credited to you as Mo&#149meant Coins (MCs). Use MCs to reward individual
        creators whose work you love.
      = image_tag("subscribe/subscriptionFee.png")
    .question
      %h2 How does rewarding work?
      %p
        Seen a story you like? User your MCs to reward its creator. Each MC is worth about 10&cent;, and you can
        distribute them in denominations of 1, 2 or 5 &ndash; 5 being the maximum reward you can give
        a story per subscription cycle. Remember to choose wisely; when you reward a creator, you're speaking
        out on their behalf. That action becomes visible to the rest of the Mo&#149;meant community.
      = image_tag("subscribe/rewardingWorks.png")
    .question
      %h2 What if I don't use my Mo&#149;meant Coins?
      %p
        If you have unspent MCs left over at the end of your monthly subscription cycle, we'll add them to a
        community pot. You &ndash; and the rest of the community &ndash; will decide together what it's for.
        For example, we can commission collaborations or new work from Mo&#149;meant creators, or fund community
        art projects that bridge the gap between the digital and the physical worlds.
      = image_tag("subscribe/momeantCoins.png")
    .question
      %h2 Wait &ndash; so what's in it for me?
      %p
        By rewarding, commenting, and curating at Mo&#149meant, you can rise through the ranks of Mo&#149 patrons,
        gaining both recognition in the community and certain special awards and privileges.
      = image_tag("subscribe/inItForMe.png")
  
  - unless current_user.active_subscription?
    %a#subscribe1.button{:href => current_user.spreedly_plan_url}
      %span Get a Subscription