.slide
  .flipcenter
    = image_tag "editorials/flipbook01image01c.gif"
.slide
  .flipleft.blue
    %h1 Content
    %h2 Mo&#149;meant features exclusive content from dedicated creators in a limitless range of original, interactive forms.
    %p
      At Mo&#149;meant, carefully-selected contributors provide both free and paying digital content in a constantly expanding variety of styles and subjects. We feature artists, writers, designers, journalists, photographers, gastronomers and astronauts. Anyone, in fact, with a great story to tell.
  .flipright
    = image_tag "editorials/flipbook01image02.gif"

.slide
  .flipleft.red
    %h1 Creativity
    %h2 Mo&#149;meant is a new medium for creating and distributing content on the web.
    %p
      Mo&#149;meant provides its contributors with an adaptable blank canvas—enabling creators to make the digital medium their own. Using an expanding library of customizable templates and intuitive editing tools, you can present images, text, audio and video in endless combinations. What’s more, through interactive and modular content blocks, your audience can experience the work as never before. Whether you’re painting a rorschach travelogue or writing the great new madlib novella, Mo&#149;meant is designed to make things we haven’t even imagined.
  .flipright
    = image_tag "editorials/flipbook01image03.gif"

.slide
  .flipleft.purple
    %h1 Sustainability
    %h2 Mo&#149;meant is a way of providing creators with a sustainable income.
    %p
      Great content has great value—and the Mo&#149;meant community recognizes that value by paying creators for their work. It’s a small decision that makes an enormous difference. Visit our creators’ pages to browse through their libraries of unique content. Then, just buy some Mo&#149;meant credits (MC's) to view a series of your favorite artist’s sketches or to follow an ongoing photo-reportage. By choosing the content you subscribe to, you help individual creators gain a sustainable livelihood. At the same time, your decisions support a thriving marketplace of artistic innovation.
  .flipright
    = image_tag "editorials/flipbook01image04.gif"

.slide
  .flipleft.green
    %h1 Community
    %h2 Mo&#149;meant is a community that offers a closer connection between audience and art, creators and supporters.
    %p
      At Mo&#149;meant, we break down the boundaries between people who make and people who view creative content. Here, new work can instantly reach an audience, and ideas spread through a community engaged in spirited dialogue. As a member of Mo&#149;meant, you are an active arbiter of content by displaying your favorite works in your curatorial stream. Carefully promote the creators you believe in and help build their list of subscribers, launching careers like a digital de’ Medici.
  .flipright
    = image_tag "editorials/flipbook01image05.gif"