%section#community{:class => @user.is_a?(Creator) ? "creator" : ""}
  %h1 Community

  - if @user.is_a?(Creator)
    .side-tabs
      = link_to "Supporters", "#", :class => "supporters active", :show => "supporters-section"
      = link_to "Supporting", "#", :class => "supporting", :show => "supporting-section"

  .module
    - if @user.is_a?(Creator)
      #supporters-section.active
        - ["gold", "silver", "bronze"].each do |level|
          .level{:class => level}
            %h3 #{level.capitalize} Supporters
            %ul
              - @user.send("#{level}_patrons").each do |patron|
                %li
                  = link_to image_tag(patron[0].avatar.url(:thumbnail)), user_path(patron[0]), :class => "avatar"
                  = link_to patron[0].name, user_path(patron[0]), :class => "name"
                  .rewarded #{number_to_currency(patron[1])} rewarded
        - if @user.non_level_patrons
          .level.non-level
            %h3= pluralize(@user.non_level_patrons.size, "other supporter")
            %ul
              - @user.non_level_patrons.each do |patron|
                %li= link_to image_tag(patron[0].avatar.url(:thumbnail)), user_path(patron[0]), :class => "avatar"
          
        
    #supporting-section{:class => @user.is_a?(Creator) ? "" : "active"}
      - if @user.favorite_creators.size > 0
        .level
          %h3 Favorite Creators
          %ul
            - @user.favorite_creators[0..2].each do |creator|
              %li
                = link_to image_tag(creator[0].avatar.url(:thumbnail)), user_path(creator[0]), :class => "avatar"
                = link_to creator[0].name, user_path(creator[0]), :class => "name"
                .rewarded #{number_to_currency(creator[1])} rewarded
      - [3..5, 6..8, 9..11].each do |range|
        - if @user.favorite_creators[range]
          .level
            %h3
            %ul
              - @user.favorite_creators[range].each do |creator|
                %li
                  = link_to image_tag(creator[0].avatar.url(:thumbnail)), user_path(creator[0]), :class => "avatar"
                  = link_to creator[0].name, user_path(creator[0]), :class => "name"
                  .rewarded #{number_to_currency(creator[1])} rewarded