%section#thank-yous
  %h1 Thank You
  = link_to "Manage Thank You Levels", user_thank_you_levels_path(@user), id: "manage-thank-yous" if me?(@user)

  .module
    %h3 When #{@user.first_name}'s supporters have rewarded a certain amount, here is how #{@user.first_name} says thanks:
    
    %ul
      - @user.thank_you_levels.each do |level|
        %li
          %h4
            %span.price= number_to_currency(level.amount)
            %span= level.item
          %p= level.description