%section.personal-library
  .tabs
    = link_to("purchased", "purchases", :class => "active")
    = link_to("bookmarked", "bookmarks")
    = link_to("hearted", "likes")
  %ul.purchases.stories.tabcontent
    = render current_user.stories
  %ul.bookmarks.stories.hidden.tabcontent
    = render current_user.bookmarked_stories