- if current_user
  #reward-box
    - unless @hide_reward_tab
      .tab Reward this story
    .inner
      - if !current_user.has_rewarded?(@story)
        = form_for :reward, :url => story_rewards_path(@story), :html => {:id => "reward-form"} do |form|
          .amount
            %p Choose a bronze, silver, or gold coin. Mo&#149meant rewards can be given in 1, 2, and 5 credit denominations.
            %ul.coins
              %li.bronze.selected
                = form.radio_button :amount, 1, {:checked => true}
              %li.silver
                = form.radio_button :amount, 2
              %li.gold
                = form.radio_button :amount, 5
          .comment
            = form.text_area :comment, :placeholder => "tell everyone why this story deserves your reward..."
            %p Use the space above to tell the Mo&#149meant community why you think this story deserves your reward. Consider it your curatorial comment.
            = form.submit "Give Reward"
      - else
        = render :partial => "stories/you_rewarded", :locals => {:reward => current_user.last_reward_for(@story)}