- if current_user && !current_user.has_rewarded?(@story)
  .hidden
    #reward-modal
      .insides
        = form_for :reward, :url => story_rewards_path(@story) do |form|
          %h3 How much would you like to reward?
          %ul
            %li
              = form.radio_button :amount, 1, {:checked => true}
              1
            %li
              = form.radio_button :amount, 2
              2
            %li
              = form.radio_button :amount, 5
              5
          %h3 Tell others why you rewarded.
          = form.text_area :comment    
          %p Help your subscribers discover new content by telling them why you reward this story. Thanks!
          = form.submit "Give Reward"