- if current_user && !current_user.has_rewarded?(@story)
  .hidden
    #reward-modal
      .insides
        %h3 How much would you like to reward?
        = form_for Reward.new(:amount => 1), :url => story_rewards_path(@story) do |form|
          %ul
            %li
              = form.radio_button :amount, 1
              1
            %li
              = form.radio_button :amount, 2
              2
            %li
              = form.radio_button :amount, 5
              5
          = form.submit "Give Reward"