%li.story.medium{:class => (story_counter + 1) % 3 == 0 ? "third" : ""}

  %a.thumbnail.medium{:href => preview_story_path(story), :class => story.thumbnail.present? ? story.thumbnail.css_class : ""}
    - if story.thumbnail
      - @page = story.thumbnail
      = render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:size => "medium"}
      
  .title= link_to(story.title || "Incomplete Story", preview_story_path(story))
  .author by #{link_to(story.user.name, user_path(story.user))}
  .excerpt= truncate(story.synopsis, :length => 100)
  .price= story.price

