%li.story{:class => (story_counter + 1) % 3 == 0 ? "third" : ""}

  %a.thumbnail{:href => preview_story_path(story)}
    - if story.thumbnail
      - @page = story.thumbnail
      = render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:size => "medium"}
      
  .title= link_to(story.title || "Incomplete Story", preview_story_path(story))
  .likes
  .recommendations= story.recommendations.count
  .author by #{link_to(story.user.name, user_path(story.user))}
  .excerpt= story.excerpt
  .price= story.price
  .excerpt= story.excerpt