%li.story
  = link_to(truncate(story.title, :length => 25) || "Untitled", story, :class => "title")
  - if story.owner?(current_user)
    .edit-links
      = link_to("edit", edit_story_path(story), :class => "edit tooltipped-e", :title => "edit")
      = link_to("delete", story_path(story), :method => :delete, :class => "delete tooltipped-e", :title => "delete", :confirm => "Are you SURE you want to delete this?")
  = link_to(image_tag(story.thumbnail.url(:medium)), story, :class => "thumbnail")
  .how-much
    %span.reward-count= story.reward_count
    %span from
    %span.people= story.users_who_rewarded.count
  .synopsis= truncate(story.synopsis, :length => 100)