%li.story
  = link_to(truncate(story.title, :length => 30) || "Untitled", story, :class => "title modal")
  - if story.owner?(current_user)
    .edit-links
      = link_to("edit", edit_story_path(story), :class => "edit tooltipped-e", :title => "edit")
      = link_to("delete", story_path(story), :method => :delete, :class => "delete tooltipped-e", :title => "delete", :confirm => "Are you SURE you want to delete this?")
  = link_to(image_tag(story.thumbnail(:medium)), story, :class => "thumbnail modal")
  .reward-count= pluralize(story.reward_count, "reward")