%li.story

  %a.thumbnail{:href => preview_story_path(story)}
    - if story.thumbnail
      - @page = story.thumbnail
      = render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:preview => true}
      
  .title= link_to(story.title, preview_story_path(story))
  .likes
  .recommendations= story.recommendations.count
  .author= link_to("by #{story.user.name}", user_path(story.user))
  .excerpt= story.excerpt