- editable ||= false
- how_much ||= false
%li.story
  - if editable
    = link_to(story.title || "Untitled", story, :class => "title-link")
  - else
    %a.title{:href => story_path(story)}
      = image_tag(story.user.avatar.url(:thumbnail), :class => "avatar tooltipped-e", :title => story.user.name)
      %span= story.title
      %span.synopsis= truncate(story.synopsis, :length => 170)
  - if story.owner?(current_user) && editable
    .edit-links
      = link_to("edit", edit_story_path(story), :class => "edit tooltipped-e", :title => "edit")
      = link_to("delete", story_path(story), :method => :delete, :class => "delete tooltipped-e", :title => "delete", :confirm => "Are you SURE you want to delete this?")
  = link_to(image_tag(story.thumbnail.url(:medium)), story, :class => "thumbnail")
  - if how_much
    .how-much
      %span.reward-count= story.reward_count
      %span from
      %span.people= story.users_who_rewarded.count
  - unless editable
    .tags
      - story.tags.each do |tag|
        = link_to(tag.name, community_path(:tag => tag.name), :class => "tag")
    .rewards= story.reward_count