- content_for :head do
  = javascript_include_tag "stories/form", "colorpicker"
  = stylesheet_link_tag "colorpicker"

= form_for(@story, :html => {:multipart => true}) do |form|

  = render "shared/error_messages", :target => @story

  %fieldset
    %ul
    
      %li
        .title-input
          = form.label :title
          = form.text_field :title
          .example e.g. Around the World in 80 Days
        .excerpt-input
          = form.label :excerpt
          = form.text_field :excerpt
          .example e.g. Everything, it said, was against the travelers, every obstacle imposed alike by man and by nature.
    
      %li#page-previews
        = form.hidden_field :thumbnail_page, :value => @story.thumbnail_page ? @story.thumbnail_page : 1
        %h3 Story Pages
        .actions
          = link_to("Open Page Editor", "#", :id => "open-page-editor-button")
        %ul
          - (1..10).each do |page_number|
            - @page = @story.pages.reject{|p|p.number != page_number}.first
            - if @page
              %li.page.chosen{:id => "preview_#{page_number}", "page-number" => page_number, :class => @page.css_class}
                = link_to("set as story thumbnail", "#", :class => @story.thumbnail_page == page_number ? "choose-thumbnail chosen" : "choose-thumbnail")
            - else
              %li.page{:id => "preview_#{page_number}", "page-number" => page_number}
                = page_number
                = link_to("set as story thumbnail", "#", :class => @story.thumbnail_page == page_number ? "choose-thumbnail chosen" : "choose-thumbnail")
        .clear
    
      %li.metadata
        .price
          = form.label :price
          %strong $
          = form.text_field :price

      %li.topics
        %h3 Topics
        %ul
          - parent_topics = @topics.reject {|topic| topic.topic_id != nil}
          - parent_topics.each do |topic|
            = topic_checkbox(topic, @story, @topics)
    
      %li.tags
        %h3 Tags
        .example firecracker, John Smith, x-ray
        = form.text_field :tag_list
      
      %li#page-editor.hidden
        = link_to("Close Page Editor", "#", :class => "button", :id => "close-page-editor-button")
        #page-type-chooser
          #page-type-chooser-button
            .inner change page layout
          .info choose a page layout
          .slider
            %ul
              %li.title.tooltipped{:title => "Title Page", "page-type" => "title"}
              %li.full_image.tooltipped{:title => "Full Image (w/ caption)", "page-type" => "full_image"}
              %li.pullquote.tooltipped{:title => "Blockquote", "page-type" => "pullquote"}
              %li.video.tooltipped{:title => "Video", "page-type" => "video"}
              %li.split.tooltipped{:title => "Split Image/Text", "page-type" => "split"}
              %li.grid.tooltipped{:title => "Grid", "page-type" => "grid"}
        %ul#pages
          - (1..10).each do |page_number|
            %li.page{:id => "page_#{page_number}"}
              - @page = @story.pages.reject{|p|p.number != page_number}.first
              - if @page
                - @page_number = @page.number
                = render "/stories/page_forms/#{@page.partial_name}"
          %li#page_info
            .inner
              .label PAGE
              .number
                %span.current 1
                %span.of /
                %span.total 10
        #previous-page.hidden.tooltipped-n{:title => "Previous page"} previous page
        #next-page.tooltipped-n{:title => "Next page"} next page
        #loader.hidden
    
      %li.submit
        - button_text = @story.new_record? ? "Create" : "Save"
        = form.submit "#{button_text} Story", :disable_with => "#{button_text[0..-2]}ing..."