- content_for :head do
  = javascript_include_tag "stories/form"
  = javascript_include_tag "tiny_mce/tiny_mce.js"

.form.story-form

  - if !@story.valid?
    .banner
      .before In order to post your story, please fix these issues:
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  
  = hidden_field_tag :story_id, @story.id
  
  .fullscreen-hidden
  
    %section.step#editor
      %h2 1. Choose what you would like to share.
      .choice#creator{:class => @story.is_external? ? "" : "selected"}
        .choice-inner
          .description Create something new
          = link_to("Launch fullscreen editor", "#", :id => "open-page-editor-button", :class => @story.pages.empty? ? "launch" : "")
          %p.info
            %em Share images &amp; text with many layout &amp; formatting options.
      .or OR
      .choice#external{:class => @story.is_external? ? "selected" : ""}
        .choice-inner
          .description Show your existing web content
          = text_field_tag :story_external_link, @story.external_text_or_http, :class => "monitor-story-typing", :update => "external_link"
          %p.info
            %em Show something you've created elsewhere on the web.
      .clear
  
    %section.step#describe
      %h2 2. Describe your content so that others can find and reward it!
      #thumbnail-preview
        .box
          .title= @story && @story.title.present? ? @story.title : "TITLE"
          .author by #{current_user.name}
          .thumbnail{:style => @story && @story.thumbnail.present? ? "background: url(#{@story.thumbnail.url(:medium)})" : ""}
        .note Your content will show up around the site like this.
      
      #story-spinner
        Saving...
    
      %ul.fields
    
        %li.image#thumbnail
          %label{:for => "story_thumbnail"} Upload an image that best represents what you've created.
          %p.info
            %strong For best results, upload a JPG or PNG at least 280px wide.
            %em Don't have that size? Don't worry, we'll resize it for you.
          .file-uploader
            %form
              %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
              .file-input
                %input{:type => "file", :name => "story[thumbnail]", :id => "story_thumbnail"}
                .loader

        %li.title
          = label_tag :story_title, "Choose a TITLE for your content:"
          = text_field_tag :story_title, @story.title, :class => "monitor-story-typing", :update => "title"
      
        %li.synopsis
          = label_tag :story_synopsis, "Describe it in more detail with a synopsis:"
          = text_area_tag :story_synopsis, @story.synopsis, :class => "monitor-story-typing", :update => "synopsis"
      
        %li.tags
          %label{:for => "story_tags"}
            %span Tag your content
            %em (so we can show it to folks who like similarly-tagged things):
          = text_field_tag :story_tag_list, @story.tag_list, :class => "monitor-story-typing", :update => "tag_list"
          .info
            %em Separate tags with commas. Example: art, oil painting, fresco
        
        %li.gallery
          = label_tag :story_gallery, "Add this content to a Gallery?"
          = select(:story, :gallery_id, galleries_list(current_user), {:include_blank => true})
          .info
            %em You can organize your content into "galleries" of similar work.
          - content_for :modals do
            = render "gallery_creator"
    
    %section.step#share
      %h2 3. Share this with your networks.
      %table
        %tbody
          %tr
            %td Twitter
            %td.link
              - if @twitter_auth
                .switch
                  .toggle.off{:update => "#share_twitter"}
                    .handle
              - else
                = link_to("Configure", "/auth/twitter/configure", :class => "configure")
          %tr
            %td Facebook
            %td.link
              - if @facebook_auth
                .switch
                  .toggle.off{:update => "#share_facebook"}
                    .handle
              - else
                = link_to("Configure", "/auth/facebook/configure", :class => "configure")
  
    %section#done
      = form_tag publish_story_path(@story) do
        = hidden_field_tag :share_twitter, "", :name => "share[twitter]"
        = hidden_field_tag :share_facebook, "", :name => "share[facebook]"
        = submit_tag "Share"
      = link_to("Preview", story_path(@story), :target => :new, :class => "preview")
  
  %fieldset
    %ul
      %li#page-editor.hidden
        #editor-header
          .title Mo&#149meant story builder
          .slide-nav
            = link_to("prev", "#", :id => "previous-page")
            .current-slide
              slide
              %span 1
            = link_to("next", "#", :id => "next-page")
          .actions
            = link_to("Add a slide", "#", :class => "add")
            = link_to("Delete slide", "#", :class => "delete")
            = link_to("Exit Fullscreen", "#", :class => "save", :id => "close-page-editor-button")
        #pane    
          .expander-tab
          %ul.pages
            - @story.pages.each do |page|
              %li.pane-insides.hidden{:id => "page_#{page.number}", "page-id" => page.id, "page-type" => page.partial_name}
                - @page = page
                - @page_number = page.number
                = render "/stories/page_forms/#{page.partial_name}"
        %ul#pages
          - @story.pages.each do |page|
            - @page = page
            %li{:id => "page_#{@page.number}", :class => "page #{@page.css_class}", "page-id" => @page.id, "page-type" => @page.partial_name}
              - @page_number = page.number
              = render "/stories/page_themes/#{@page.partial_name}"
        
  #page-type-chooser
    .dark
    .insides
      .header
        .title Select a story template for your slide
        = link_to("close", "#", :class => "close")
      .body
        %ul
          %li.pullquote{"page-type" => "pullquote"}
            .copy
              %h2 One Column Page
              %span Showcase a small block or paragraph of text from your story.
          %li.split{"page-type" => "split"}
            .copy
              %h2 Two-Column Page
              %span Choose from 4 possible layouts combining text columns and images.
          %li.full_image{"page-type" => "full_image"}
            .copy
              %h2 Image & Caption Page
              %span Feature one image with or without an accompanying caption.
          %li.grid{"page-type" => "grid"}
            .copy
              %h2 Grid Page
              %span Use this 8-card grid layout for notecards, factoids & more.
          %li.external{"page-type" => "external"}
            .copy
              %h2 External Content
              %span Show off your work from another site, right inside your story.
        .clear