- content_for :head do
  = javascript_include_tag "stories/form", "colorpicker"
  = stylesheet_link_tag "colorpicker"

.fullscreen-hidden
  .new-story-copy
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  = link_to "Preview story", preview_story_path(@story), :id => "preview-link"

.form.story-form
  #story-spinner Saving story...
  #story-saved Your story will be automatically saved as you edit it
  %fieldset
    %ul
      %li
        = hidden_field_tag :story_id, @story.id
        .title-input
          = label_tag :story_title
          = text_field_tag :story_title, @story.title, :class => "monitor-story-typing", :update => "title"
          .example e.g. Around the World in 80 Days
        .excerpt-input
          = label_tag :story_excerpt
          = text_field_tag :story_excerpt, @story.excerpt, :class => "monitor-story-typing", :update => "excerpt"
          .example e.g. Everything, it said, was against the travelers, every obstacle imposed alike by man and by nature.
          
      %li#page-previews
        = hidden_field_tag :story_thumbnail_page, @story.thumbnail_page ? @story.thumbnail_page : 1
        .actions
          = #link_to("Open Page Editor", "#", :id => "open-page-editor-button")
        %h3 Story Pages
        #story-instructions
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %ul
          - (1..10).each do |page_number|
            - @page = @story.pages.reject{|p|p.number != page_number}.first
            - if @page
              %li.page.chosen{:id => "preview_#{page_number}", "page-number" => page_number, :class => @page.css_class}
                = link_to("set thumbnail", "#", :class => @story.thumbnail_page == page_number ? "choose-thumbnail chosen" : "choose-thumbnail")
            - else
              %li.page{:id => "preview_#{page_number}", "page-number" => page_number}
                = page_number
                = link_to("set thumbnail", "#", :class => @story.thumbnail_page == page_number ? "choose-thumbnail chosen" : "choose-thumbnail")
        .clear
    
      %li.metadata
        .price
          = label_tag :story_price
          = text_field_tag :story_price, @story.price || "", :class => "monitor-story-typing", :update => "price"
          .example 10, 20, 500 - increments of 10
        .tags
          = label_tag :story_tag_list, "Tags"
          = text_field_tag :story_tag_list, @story.tag_list, :class => "monitor-story-typing", :update => "tag_list"
          .example firecracker, John Smith, x-ray

      %li.topics
        %label Topics
        %ul
          - parent_topics = @topics.reject {|topic| topic.topic_id != nil}
          - parent_topics.each do |topic|
            = topic_checkbox(topic, @story, @topics)
      
      %li#page-editor.hidden
        #page-type-chooser
          = link_to("Close Page Editor", "#", :class => "button", :id => "close-page-editor-button")
          #page-type-chooser-button
            .inner change page layout
          .info choose a page layout
          .slider
            %ul
              %li.title.tooltipped{:title => "Title Page", "page-type" => "title"}
              %li.full_image.tooltipped{:title => "Full Image (w/ caption)", "page-type" => "full_image"}
              %li.pullquote.tooltipped{:title => "Blockquote", "page-type" => "pullquote"}
              %li.video.tooltipped{:title => "Video", "page-type" => "video"}
              %li.split.tooltipped{:title => "Split Image/Text", "page-type" => "split"}
              %li.grid.tooltipped{:title => "Grid", "page-type" => "grid"}
        %ul#pages
          - (1..10).each do |page_number|
            - @page = @story.pages.reject{|p|p.number != page_number}.first
            - if @page
              %li.page{:id => "page_#{page_number}", "page-id" => @page.id, "page-type" => @page.partial_name}
                - @page_number = @page.number
                = render "/stories/page_forms/#{@page.partial_name}"
            - else
              %li.page{:id => "page_#{page_number}"}
          %li#page_info
            .inner
              .label PAGE
              .number
                %span.current 1
                %span.of /
                %span.total 10
        #previous-page.hidden.tooltipped-n{:title => "Previous page"} previous page
        #next-page.tooltipped-n{:title => "Next page"} next page
        #loader.hidden
    
      %li.submit
        - button_text = @story.new_record? ? "Create" : "Save"
        =# form.submit "#{button_text} Story", :disable_with => "#{button_text[0..-2]}ing..."