- content_for :head do
  = javascript_include_tag "stories/form"
  = javascript_include_tag "tiny_mce/tiny_mce.js"

.form.story-form

  - if !@story.valid?
    .banner
      .before In order to post your story, please fix these issues:
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  
  = hidden_field_tag :story_id, @story.id
  
  .fullscreen-hidden
    #story-spinner
      Saving...

    %section.step#editor
      %h2 1. Which would you like to do?
      = link_to "Share your existing web content", "#", :id => "share-content", :class => @story.is_external? ? "choice selected" : "choice"
      = link_to "Create something new", "#", :id => "create-content", :class => @story.is_external? ? "choice" : "choice selected"
      #share-details.details{:class => @story.is_external? ? "selected" : ""}
        = label_tag :story_external_link, "Enter the URL where your content is located:"
        = text_field_tag :story_external_link, @story.external_text_or_http, :class => "monitor-story-typing", :update => "external_link", :placeholder => "http://site.com"
        .info
          = link_to "Uncertain about your rights over your content?", "#content-rights", :id => "content-rights-link"
      #create-details.details{:class => @story.is_external? ? "" : "selected"}
        Use our Content Editor (currently in beta) to share images and text with basic layout and formatting options:
        = link_to "Launch the Content Editor", "#", :id => "open-page-editor-button", :class => @story.is_external? || @story.pages.empty? ? "launch button" : "button"
      .clear
      %p
        %span Once you've chosen your external content or created something new, you can
        = link_to("Preview It", story_path(@story, :preview => true), :class => "preview button")

    %section.step#type
      %h2 2. What type of content is this?
      %ul
        %li{:class => @story.media_type == "photos" ? "selected" : ""}
          = link_to "photos", "#", :id => "photos-type"
        %li{:class => @story.media_type == "visual-art" ? "selected" : ""}
          = link_to "visual art", "#", :id => "visual-art-type"
        %li{:class => @story.media_type == "video" ? "selected" : ""}
          = link_to "video", "#", :id => "video-type"
        %li{:class => @story.media_type == "writing" ? "selected" : ""}
          = link_to "writing", "#", :id => "writing-type"
        %li{:class => @story.media_type == "sound" ? "selected" : ""}
          = link_to "sound", "#", :id => "sound-type"
      = hidden_field_tag :story_media_type, :value => @story.media_type
      
    %section.step#preview
      %h2 3. What would you like to show as a thumbnail?
      = link_to "Show an image", "#", :id => "preview-image", :class => @story.preview_type == "image" ? "choice selected" : "choice"
      = link_to "Show a snippet of text", "#", :id => "preview-text", :class => @story.preview_type == "text" ? "choice selected" : "choice"
      #preview-image-details.details{:class => @story.preview_type == "image" ? "selected" : ""}
        .thumbnail{:style => @story && @story.thumbnail.present? ? "background: url(#{@story.thumbnail.url(:medium)})" : ""}
        .file-uploader
          %form
            = label_tag "Upload a photo best representing this content:"
            %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
            .file-input
              %input{:type => "file", :name => "story[thumbnail]", :id => "story_thumbnail"}
              .loader
              .info For best results, upload a JPG or PNG, 630x420 or larger.
      #preview-text-details.details{:class => @story.preview_type == "text" ? "selected" : ""}
        = label_tag "Type a snippet of text (140 characters or less):"
        = text_area_tag :story_template_text, @story.template_text, :class => "monitor", :update => "template_text", :max => 140
        #characters-left
          %span.amount 140
          %span characters left
        #text-template
          = label_tag "Choose a text template:"
          = link_to image_tag("creator/watchmen.png"), "#", :data => "watchmen", :class => @story.template == "watchmen" ? "selected" : ""
          = link_to image_tag("creator/blob.png"), "#", :data => "blob", :class => @story.template == "blob" ? "selected" : ""
          = link_to image_tag("creator/bowling.png"), "#", :data => "bowling", :class => @story.template == "bowling" ? "selected" : ""
    
    %section.step#categorize
      %h2 4. How would you describe this content?
      %ul
        %li
          = label_tag :story_title, "Give it a title:"
          = text_field_tag :story_title, @story.title, :class => "monitor-story-typing", :update => "title"
        %li
          = label_tag :story_synopsis, "Quickly summarize it (optional, 140 characters or less):"
          = text_field_tag :story_synopsis, @story.synopsis, :class => "monitor-story-typing", :update => "synopsis"
        %li
          = label_tag :story_category, "Choose a category:"
          = select_tag :story_category, options_for_select([""] + Story::CATEGORIES, @story.category), :update => "category"
        %li
          = label_tag :story_tags, "Tag your content"
          = text_field_tag :story_tags, @story.tags.join(', '), :class => "monitor-story-typing", :update => "tag_list"
          .example Separate tags by commas (e.g. art, oil painting, fresco)
  
    %section.step#last
      - unless @story.published?
        .owner
          = check_box_tag :i_own_this, '1', @story.i_own_this
          %span I promise I am the author or creator of this content.
      .rest
        - if @story.published?
          %p Your edits are auto-saved.
          = link_to "View this Content", story_path(@story)
        - else
          = form_tag publish_story_path(@story) do
            = hidden_field_tag :share_twitter, "", :name => "share[twitter]"
            = hidden_field_tag :share_facebook, "", :name => "share[facebook]"
            = submit_tag "Publish"
  
  %fieldset
    %ul
      %li#page-editor.hidden
        #editor-header
          .title Momeant Content Editor
          .slide-nav
            = link_to("prev", "#", :id => "previous-page")
            .current-slide
              slide
              %span 1
            = link_to("next", "#", :id => "next-page")
          .actions
            = link_to("Add a slide", "#", :class => "add")
            = link_to("Delete slide", "#", :class => "delete")
            = link_to("Exit Fullscreen", "#", :class => "save", :id => "close-page-editor-button")
        #pane    
          .expander-tab
          %ul.pages
            - @story.pages.each do |page|
              %li.pane-insides.hidden{:id => "page_#{page.number}", "page-id" => page.id, "page-type" => page.partial_name}
                - @page = page
                - @page_number = page.number
                = render "/stories/page_forms/#{page.partial_name}"
        %ul#pages
          - @story.pages.each do |page|
            - @page = page
            %li{:id => "page_#{@page.number}", :class => "page #{@page.css_class}", "page-id" => @page.id, "page-type" => @page.partial_name}
              - @page_number = page.number
              = render "/stories/page_themes/#{@page.partial_name}"
        
  #page-type-chooser
    .dark
    .insides
      .header
        .title Select a story template for your slide
        = link_to("close", "#", :class => "close")
      .body
        %ul
          %li.pullquote{"page-type" => "pullquote"}
            .copy
              %h2 One Column Page
              %span Showcase a small block or paragraph of text from your story.
          %li.split{"page-type" => "split"}
            .copy
              %h2 Two-Column Page
              %span Choose from 4 possible layouts combining text columns and images.
          %li.full_image{"page-type" => "full_image"}
            .copy
              %h2 Image & Caption Page
              %span Feature one image with or without an accompanying caption.
        .clear

%div{:style => "display:none"}
  #content-rights
    %h3 Content Rights
    %div
      %strong 1. By agreeing, you are legally confirming your authorship of this content. You are further confirming your ability to publicly claim authorship and one of the following:
      %ul
        %li A. to link to the content in its unadulterated form wherever it exists on the Web, or
        %li B. to re-publish the content in another medium (this requires ownership).
    %div
      %strong 2. If you're a professional content creator and worried about your contract and what you can and cannot publish, here's what you need to know: 
      %ul
        %li A. Although you can't see your link URL in the address bar, Momeant does refer and go to the URL you link to in its entirety within our site. Thus, any ad revenue, impressions, Web traffic, etc., that your link would normally generate, occurs exactly the way it would if you would land on that link itself. If you've written an article in a newspaper or magazine, for instance, they will get the same traffic, impressions, and ad generation revenue that they normally would, so you can link out without concerns about re-publishing.
        %li B. The purpose of Momeant is to get people rewarded for the FREE content they post online. The content itself is never paid for, its always free. We reward the people behind the free content we like. If you are a professional content creator, and you have created or authored content, regardless of the circumstances in which it was created, its ownership, and your contract stipulations, as long as you are able to publicly refer to yourself as the author of the content, you can represent that content on Momeant (think of us as your content portfolio), and get rewarded based on being its author.

:javascript
  mpq.track('Editing Content', {anonymous_id: '#{session[:analytics_anonymous_id]}', story_id: '#{@story.id}'});
  var story_id = #{@story.id};
= javascript_include_tag "meta_creator"
