- content_for :head do
  = javascript_include_tag "stories/form"
  = javascript_include_tag "tiny_mce/tiny_mce.js"

.fullscreen-hidden
  .new-story-copy
    Mo&#149;meant stories are a new form of digital media. You simply take your creative content—whether it’s audio, video, text or images—and plug it into our customizable story blocks. The blocks allow you to layer and mash up content however you like. Hyperlinks give you an added dimension of interactivity.

    We’ve already got some great storytelling tools, but we’re always looking for feedback on how we can improve them and on what new tools you want to see. So get in touch with us!

  .finished-links
    = link_to "Preview", preview_story_path(@story), :id => "preview-link"
    = link_to "Publish", publish_story_path(@story), :id => "publish-link", :method => :post unless @story.published?
    = link_to "Delete", story_path(@story), :id => "delete-link", :method => :delete, :confirm => "Are you sure you want to delete this story?"

.form.story-form
  .fullscreen-hidden
    #story-spinner Saving story...
    #story-saved Your story will be automatically saved as you edit it
  
    - if !@story.valid?
      .banner
        %span Before you can publish your story, please fix these issues:
        %ul
          - @story.errors.full_messages.each do |msg|
            %li= msg
  
  %fieldset
    %ul
      %li
        = hidden_field_tag :story_id, @story.id
        .title-input
          = label_tag :story_title, "Title"
          = text_field_tag :story_title, @story.title, :class => "monitor-story-typing", :update => "title"
          .example What's in a name? Give your story one! (ie. Around the World in 80 Days)
        .excerpt-input
          = label_tag :story_synopsis, "Synopsis"
          = text_area_tag :story_synopsis, @story.synopsis, :class => "monitor-story-typing", :update => "synopsis"
          .example Give a teaser or brief description of your story. Make sure it stands out from the crowd, and that viewers know what to expect!
          
      %li.metadata
        .tags
          = label_tag :story_tag_list, "Tags"
          = text_field_tag :story_tag_list, @story.tag_list, :class => "monitor-story-typing", :update => "tag_list"
          .example
            Choose keywords that describe your story. These help make it searchable.
            %br/
            ie. Firecracker, John Smith, X-ray
        .thank-you
          = label_tag :story_thankyou, "Thank You Note"
          = text_area_tag :story_thankyou, @story.thankyou, :class => "monitor-story-typing", :update => "thankyou"
          .example Leave a personalized note that your viewers will see at the end of your story.

      %li.topics
        %label Categories
        .example
          Select one or more categories that describe your story.
          This makes it easier for viewers browsing the category hubs to find and buy your work!
        %ul
          - parent_topics = @topics.reject {|topic| topic.topic_id != nil}
          - parent_topics.each do |topic|
            = topic_checkbox(topic, @story, @topics)
          
      %li#page-previews
        = hidden_field_tag :story_thumbnail_page, @story.thumbnail_page ? @story.thumbnail_page : 1
        .actions
          = #link_to("Open Page Editor", "#", :id => "open-page-editor-button")
        #story-instructions
          %label Story Slides
          %p Start creating your story by clicking a slide. This will take you to the story builder, where you can choose a layout or template for the selected slide. Then, just follow the instructions to start filling in content. Once you've completed all ten slides, be sure to select one that can be used as a thumbnail. It will represent your story wherever it appears on the site and beyond. If you need more guidance, be sure to check out our tutorial here.
        %ul.previews
          - @story.pages.each do |page|
            - @page = page
            %li.page{:id => "preview_#{@page.number}", "page-number" => @page.number, :class => @story.thumbnail_page == @page.number ? "chosen-thumbnail #{@page.css_class}" : @page.css_class}
              - @page_number = @page.number
              .inner= render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:size => "medium"}
              = link_to("set thumbnail", "#", :class => @story.thumbnail_page == @page.number ? "choose-thumbnail chosen" : "choose-thumbnail")              
          - if @story.pages.count == 0
            %li#preview_1.page.launch
              .inner Create your first slide
        .clear
        
      %li#page-editor.hidden
        #editor-header
          .title Mo&#149meant story builder
          .slide-nav
            = link_to("prev", "#", :id => "previous-page")
            .current-slide
              slide
              %span 1
            = link_to("next", "#", :id => "next-page")
          .actions
            = link_to("Add a slide", "#", :class => "add")
            = link_to("Delete slide", "#", :class => "delete")
            = link_to("Save and close", "#", :class => "save", :id => "close-page-editor-button")
        #pane    
          .expander-tab
          %ul.pages
            - @story.pages.each do |page|
              %li.pane-insides.hidden{:id => "page_#{page.number}", "page-id" => page.id, "page-type" => page.partial_name}
                - @page = page
                - @page_number = page.number
                = render "/stories/page_forms/#{page.partial_name}"
        %ul#pages
          - @story.pages.each do |page|
            - @page = page
            %li{:id => "page_#{@page.number}", :class => "page #{@page.css_class}", "page-id" => @page.id, "page-type" => @page.partial_name}
              - @page_number = page.number
              = render "/stories/page_themes/#{@page.partial_name}"
        
  #page-type-chooser
    .dark
    .insides
      .header
        .title Select a story template for your slide
        = link_to("close", "#", :class => "close")
      .body
        %ul
          %li.title{"page-type" => "title"}
            .copy
              %h2 Title Page
              %span Give your story a title or use this page for highlighting a snippet of text. 
          %li.full_image{"page-type" => "full_image"}
            .copy
              %h2 Image & Caption Page
              %span Feature one image with or without an accompanying caption.
          %li.pullquote{"page-type" => "pullquote"}
            .copy
              %h2 Blockquote Page
              %span Showcase a small block or paragraph of text from your story.
          %li.video{"page-type" => "video"}
            .copy
              %h2 Video Page
              %span Embed videos into your story by cutting and pasting the Vimeo ID.
          %li.split{"page-type" => "split"}
            .copy
              %h2 Two-Column Page
              %span Choose from 4 possible layouts combining text columns and images.
          %li.grid{"page-type" => "grid"}
            .copy
              %h2 Grid Page
              %span Use this 8-card grid layout for notecards, factoids & more.
        .clear