%h2 Create a Story

= form_for(@story) do |form|
  
  %fieldset
    %ul
      
      %li
        = form.label :title
        = form.text_field :title
        
      %li
        = form.label :excerpt
        = form.text_field :excerpt
      
      %li.topics
        %h3 Topics
        %ul
          - @topics.each do |topic|
            %li.topic
              = check_box_tag "topics[#{topic.id}]", 1, @story.topics.include?(topic)
              = topic.name
      
      %li
        = form.label :price
        = form.text_field :price
      
      %li.submit
        = form.submit "Create Story"