- content_for :head do
  = javascript_include_tag "stories/form"

= form_for(@story, :html => {:multipart => true}) do |form|

  = render "shared/error_messages", :target => @story

  %fieldset
    %ul
    
      %li
        .title-input
          = form.label :title
          = form.text_field :title
          .example e.g. Around the World in 80 Days
        .excerpt-input
          = form.label :excerpt
          = form.text_field :excerpt
          .example e.g. Everything, it said, was against the travelers, every obstacle imposed alike by man and by nature.
    
      %li#page-previews
        %h3 Story Pages
        .actions
          = link_to("Open Page Editor", "#", :id => "open-page-editor-button")
        %ul
          - (1..10).each do |page_number|
            - @page = @story.pages.reject{|p|p.number != page_number}.first
            - if @page
              %li.page.chosen.tooltipped{:id => "preview_#{page_number}", "page-number" => page_number, :class => @page.css_class, :title => "Click to edit this page"}
            - else
              %li.page{:id => "preview_#{page_number}", "page-number" => page_number}= page_number
        .clear
    
      %li.metadata
        .price
          = form.label :price
          %strong $
          = form.text_field :price

      %li.topics
        %h3 Topics
        %ul
          - @topics.each do |topic|
            %li.topic
              = check_box_tag "topics[#{topic.id}]", 1, @story.topics.include?(topic)
              = topic.name
      
      %li#page-editor.hidden
        = link_to("Close Page Editor", "#", :class => "button", :id => "close-page-editor-button")
        #page-type-chooser
          #page-type-chooser-button
            .inner change page layout
          .info choose a page layout
          .slider
            %ul
              %li.title.tooltipped{:title => "Title Page", "page-type" => "title"}
              %li.full-image.tooltipped{:title => "Full Image (with caption)", "page-type" => "full-image"}
              %li.pullquote.tooltipped{:title => "Pullquote", "page-type" => "pullquote"}              
        %ul#pages
          - (1..10).each do |page_number|
            %li.page{:id => "page_#{page_number}"}
              - @page = @story.pages.reject{|p|p.number != page_number}.first
              - if @page
                - @page_number = @page.number
                = render "/stories/page_forms/#{@page.partial_name}"
          %li#page_info
            .inner
              .label PAGE
              .number
                %span.current 1
                %span.of /
                %span.total 10
        #previous-page.hidden.tooltipped-n{:title => "Previous page"} previous page
        #next-page.tooltipped-n{:title => "Next page"} next page
        #loader.hidden
    
      %li.submit
        = form.submit "Create Story"