- content_for :head do
  = javascript_include_tag "stories/presenter"
  %meta{:property => "og:title", :content => @story.title}
  %meta{:property => "og:type", :content => "image"}
  %meta{:property => "og:image", :content => @story.thumbnail.url(:small)}
  %meta{:property => "og:url", :content => story_url(@story)}
  %meta{:property => "og:site_name", :content => "Momeant"}
  %meta{:property => "og:description", :content => @story.synopsis}

#presenter

  .content
  
    %ul#pages
      - pages = @story.pages
      - pages.each do |page|
        - @page = page
        %li{:id => "page_#{page.number}", :class => page.number == 1 ? "#{page.css_class}" : "#{page.css_class} hidden"}
          = render "/stories/page_themes/#{page.partial_name}"
  
    #previous-page
      .button{:title => "Previous page"} previous page
    #next-page
      .button{:title => "Next page"} next page
  
    - unless @story.pages.count == 1
      #metadata
        .pages
          - 1.upto @story.pages.count do |page|
            = link_to(page, "#", :class => page == 1 ? "selected" : "", :page => page)

  #content-cover
  = render "rewards/modal"
              
- if @story.published?
  - if current_user
    :javascript
      mpq.track('Viewed Content', {mp_note: '#{@story.title.gsub("'","")}', user: true});
  - else
    :javascript
      mpq.track('Viewed Content', {mp_note: '#{@story.title.gsub("'","")}', user: false});