- content_for :head do
  %meta{:property => "og:title", :content => @story.title}
  %meta{:property => "og:type", :content => "image"}
  %meta{:property => "og:image", :content => @story.thumbnail.url(:small)}
  %meta{:property => "og:url", :content => story_url(@story)}
  %meta{:property => "og:site_name", :content => "Momeant"}
  %meta{:property => "og:description", :content => @story.synopsis}

#presenter

  = link_to "Reward #{@story.user.first_name}", reward_user_path(@story.user, impacted_by: params[:impacted_by]), id: "reward-button"

  .content
  
    %ul#pages
      - pages = @story.pages
      - pages.each do |page|
        - @page = page
        %li{:id => "page_#{page.number}", :class => page.number == 1 ? "#{page.css_class}" : "#{page.css_class} hidden"}
          = render "/stories/page_themes/#{page.partial_name}"
  
    #previous-page
      .button{:title => "Previous page"} previous page
    #next-page
      .button{:title => "Next page"} next page
  
    - unless @story.pages.count == 1
      #metadata
        .pages
          - 1.upto @story.pages.count do |page|
            = link_to(page, "#", :class => page == 1 ? "selected" : "", :page => page)
  
  #content-cover

  - if params[:preview]
    = link_to "< Back to Edit", edit_story_path(@story), :id => "back-to-edit-button"
    = button_to @story.published? ? "Save" : "Publish", publish_story_path(@story), :id => "publish-button"

- if @story.published?
  :javascript
    mixpanel.track('Viewed Content', { user: #{user_signed_in? ? 'true' : 'false'}, self_promotion: #{params[:creator].present?}, impact: #{params[:impacted_by].present?} });

- if params[:impacted_by].present?
  :javascript
    mixpanel.track('Impact Given', { reward_id: '#{params[:impacted_by]}' });

= javascript_include_tag "stories/presenter"