= bookmark_button(@story)
- if @story.owner?(current_user)
  - if @story.draft?
    .banner
      - if @story.valid?
        %span Your story is still a draft (no one else can see it). Once you're ready to make it public, click here: 
        = button_to("Publish", publish_story_path(@story))
      - else
        %span Before you can publish your story, please #{link_to("edit it", edit_story_path(@story))} and fix these issues:
        %ul
          - @story.errors.full_messages.each do |msg|
            %li= msg
.story-preview
  .preview.clearfix
    = link_to("Edit your story", edit_story_path(@story), :class => "edit-story") if @story.owner?(current_user) #&& !@story.published?
    .padder
      .thumbnail
        - if @story.thumbnail
          - @page = @story.thumbnail
          = render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:size => "large"}
    .actions
      = like_button(@story)

      = recommend_button(@story)
      = render "stories/recommend_modal"
      
      = story_buy_view_link(@story)
      
      = render "add_this"
    .price= story_price(@story)
  .metadata
    .top
      .title= @story.title
      .creator by: #{link_to(@story.user.name, user_path(@story.user))}
      .series
        %span.current 1
        %span.of /
        %span.total 1
    .excerpt= @story.excerpt
    .topics
      - @story.topics.each do |topic|
        = link_to(topic.name.downcase, topic_path(topic), :class => "#{topic.name.downcase} tooltipped-n", :title => topic.name.downcase)
    .tags
      - @story.tags.each do |tag|
        .tag
          = link_to(tag.name, stories_tagged_with_path(tag.name))
          - if @story.owner?(current_user)
            = link_to("x", remove_tag_from_story_path(@story, :tag => tag.name),:class => "remove tooltipped-n", :title => "Remove tag", :remote => true, :method => :delete)
  .clear
  .featured-comment