- if current_user.blank?
  = render :partial => "shared/calls_to_action/signup", :locals => {:message => "View this and all amazing content from our creators"}

- if @story.owner?(current_user)
  - if @story.draft?
    .banner
      - if @story.valid?
        %span Your story is still a draft (no one else can see it). Once you're ready to make it public, click here: 
        = button_to("Publish", publish_story_path(@story))
      - else
        %span Before you can publish your story, please #{link_to("edit it", edit_story_path(@story))} and fix these issues:
        %ul
          - @story.errors.full_messages.each do |msg|
            %li= msg
.story-preview
  = bookmark_button(@story) unless @story.owner?(current_user)
  .preview.clearfix
    = link_to("Edit your story", edit_story_path(@story), :class => "edit-story") if @story.owner?(current_user) #&& !@story.published?
    .padder
      .thumbnail.large{:class => @story.thumbnail.present? ? @story.thumbnail.css_class : ""}
        .inner
          - if @story.thumbnail
            - @page = @story.thumbnail
            = render :partial => "stories/page_themes/#{@page.partial_name}", :locals => {:size => "large"}
    .actions
      = views_link(@story)
      = rewards_link(@story)
      - @hide_reward_tab = true
      = render "reward_modal"
      = story_view_link(@story)
      
      = #render "add_this"
    .price= story_view_link(@story)

  .metadata
    .top
      .title= @story.title
      .creator by: #{link_to(@story.user.name, user_path(@story.user))}
      .series
        %span.current 1
        %span.of /
        %span.total 1
    .excerpt= @story.synopsis
    .topics
      - @story.topics.each do |topic|
        = link_to(topic.name.downcase, topic_path(topic), :class => "#{topic.name.downcase} tooltipped-n", :title => topic.name.downcase)
    .tags
      - @story.tags.each do |tag|
        .tag
          = link_to(tag.name, stories_tagged_with_path(tag.name))
          - if @story.owner?(current_user)
            = link_to("x", remove_tag_from_story_path(@story, :tag => tag.name),:class => "remove tooltipped-n", :title => "Remove tag", :remote => true, :method => :delete)

  .top-patrons
    %h3 Top Patrons
    %ul.users
      - @story.users_who_rewarded.limit(15).each do |user|
        %li= link_to(image_tag(user.avatar.url(:thumbnail)), user_path(user), :class => "tooltipped", :title => user.name)
        
  .curations
    .writer
      %h3 Join the Conversation:
      .input-types
        = link_to("Write a Comment", "#", :class => "comment")
      = form_for Curation.new, :url => story_curations_path(@story) do |form|
        = form.hidden_field :type, :value => "comment"
        = form.text_area :comment
        = form.submit "Post"
    %ul.list
      - @story.curations.public.each do |curation|
        %li{:class => curation.type.downcase}
          = link_to(image_tag(curation.user.avatar.url(:thumbnail)), user_path(curation.user), :class => "avatar")
          .the-rest
            .who-when
              .author= curation.user.name
              .date= curation.created_at.strftime("%m/%d/%y")
            - if curation.comment.present?
              .comment= curation.comment