.story-preview
  - if current_user.has_bookmarked?(@story)
    = button_to("unbookmark story", unbookmark_story_path(@story))
  - else
    = button_to("bookmark story", bookmark_story_path(@story))

  %h2
    Preview of
    %span.title= @story.title

  .excerpt= @story.excerpt
  
  %ul.topics
    %h3 Topics
    = @story.topics.map{|t| t.name}.join(', ')
    
  .price
    - if @story.user == current_user
      .value yours
    - elsif current_user.stories.include?(@story)
      .value owned
      = link_to("view", @story)
    - else
      - if @story.free?
        .value free
        = link_to("acquire", purchase_story_path(@story), :class => "buy-it")
      - else
        .value= number_to_currency(@story.price)
        = link_to("purchase", purchase_story_path(@story), :class => "buy-it")