.story-preview
  .left
    .image-preview Image Preview
    .price= story_price(@story)
    .featured-comment
  .right
    .actions
      .series
        %span.current 1
        %span.of /
        %span.total 1
      = bookmark_button(@story)
      = recommend_button(@story)
    .metadata
      .creator Created by #{link_to(@story.user.name, user_path(@story.user))}
      .title= @story.title
      .excerpt= @story.excerpt
    .topics
      %h3 Topics
      = @story.topic_list
    .tags
      %h3 Tags
      = @story.tag_list