= render "rewards/modal/sidebar"

#main

  #content-metadata
    %h1= @story.title
    #synopsis
      - if @story.synopsis && @story.synopsis.length > 70
        %span.less= truncate(@story.synopsis, :length => 70)
        %span.more= @story.synopsis
        = link_to "more", "#", :id => "toggle-synopsis"
      - else
        = @story.synopsis
    #tags
      - @story.tags.each do |tag|
        = link_to tag.name, search_path(:query => tag.name)
        %span ,

  #reward-actions
    #nib
    = render "rewards/modal/form"
    = render "rewards/modal/description"
          
  
  #supporter-info
    = render "rewards/modal/supporter_info"

:javascript
  var current_user = #{current_user.present? ? 'true' : 'false'};