#share-your-content
  - if @story.created_at > 1.minute.ago
    %h1 Lovely work! Your #{@story.media_are_or_is} now published.
  - else
    %h1 Share your lovely work with others.
  
  %h3
    Would you like to share a link to your content
    %br
    so that others can view and reward it?
  
  #share-link
    .note Copy &amp; Paste this link to your content:
    = text_field_tag :link, story_url(@story), readonly: true
  #share-buttons
    = link_to "Tweet it!", "https://twitter.com/share?url=#{story_url(@story, creator: true)}", :id => "twitter-button"
    = link_to "Post to FB", "http://www.facebook.com/sharer.php?u=#{story_url(@story, creator: true)}", :id => "facebook-button"
  
  = link_to "View your #{@story.media_type} &rarr;".html_safe, story_path(@story), :id => "view-content-button", :class => "button"


:javascript
  mixpanel.track('Published Content');
  
  $('#share-link input').click(function() {
    $(this).select();
  });
  
  $('#twitter-button').click(function() {
    var $link = $(this);
    var new_window = window.open($link.attr('href'), 'Tweet your #{@story.media_type}','height=350,width=530');
    if (window.focus) { new_window.focus(); }
    return false;
  });
  
  $('#facebook-button').click(function() {
    var $link = $(this);
    var new_window = window.open($link.attr('href'), 'Share your #{@story.media_type}','height=270,width=640');
    if (window.focus) { new_window.focus(); }
    return false;
  });