- content_for :head do
  = javascript_include_tag "stories/show"

.story-viewer

  #number-of-pages.hidden= @story.pages.count
  
  %ul#pages
    - @story.pages.each do |page|
      - @page = page
      %li{:id => "page_#{page.number}", :class => page.number == 1 ? "#{page.css_class}" : "#{page.css_class} hidden"}
        = render "/stories/page_themes/#{page.partial_name}"
  
  #previous-page
    .button{:title => "Previous page"} previous page
  #next-page
    .button{:title => "Next page"} next page
  
  = link_to("back to preview", preview_story_path(@story), :id => "back-to-preview")
  
  #previewer.open
    .handle
    .preview-inner
      .info
        .title= @story.title
        .author by #{link_to(@story.user.name, user_path(@story.user))}
        .excerpt= @story.excerpt
      %ul.pages
        - @story.pages.each do |page|
          - @page = page
          %li.page{:class => page.css_class, "page-number" => page.number}
            .inner= render :partial => "/stories/page_themes/#{page.partial_name}", :locals => {:preview => true, :size => "medium"}