.community

  #activity-surround

    #activity
  
      #activity-head
        = render "community/activity_filter"
        = #render "community/activity_tabs"
    
      #activity-body

        #activity-loading Just a momeant...
  
        %ul#activity-list
          = render @activity
        = link_to "Load more...", "#", :id => "load-more-activity"

    #activity-sidebar
    
      #curated-data
  
      #leaderboards
  
        #top-patrons.list
          .info Top Patrons
          %ul
            - @top_patrons.each do |patron|
              %li
                = link_to truncate(patron.name, :length => 20), user_path(patron)
                %span.impact= patron.impact
              
        #top-creators.list
          .info Top Creators
          %ul
            - @top_creators.each do |creator|
              %li
                = link_to truncate(creator.name, :length => 20), user_path(creator)
                %span.rewards= creator.lifetime_rewards

:javascript
  var activity_url = '/activity/reload';
= javascript_include_tag "users/activity"