.community

  #activity-surround

    #activity
  
      #activity-head
        = render "community/activity_filter"
        = #render "community/activity_tabs"
    
      #activity-body

        #activity-loading Just a momeant...
  
        %ul#activity-list
          = render @activity
        = link_to "Load more...", "#", :id => "load-more-activity"

    #activity-sidebar
    
      - if current_user

        #curated-data.list
          .info Activity by people you know
      
        - unless current_user.location.blank?
          #nearby-content.list
            .info Content from folks near #{current_user.location}
  
      #leaderboards
  
        #top-patrons.list
          .info Top Patrons
          %ul
            - @top_patrons.each do |patron|
              %li
                = link_to truncate(patron.name, :length => 30), user_path(patron)
                %span.impact= patron.impact
              
        #top-creators.list
          .info Top Creators
          %ul
            - @top_creators.each do |creator|
              %li
                = link_to truncate(creator.name, :length => 30), user_path(creator)
                %span.rewards= creator.lifetime_rewards

:javascript
  var activity_url = '/activity/reload';
- if current_user
  :javascript
    var friends_activity_url = '#{activity_from_friends_user_path(current_user)}';
- if current_user && current_user.geolocated?
  :javascript
    var nearby_content_url = '#{content_from_nearbys_user_path(current_user)}';
= javascript_include_tag "users/activity"