.community
  = render "users/community_tabs"

  .tabbed
  
    %ul.stories
      = render @stories
    = paginate @stories, :window => 2
  
    .tag-cloud
      %h3 Popular tags:
      %ul.tags
        - if params[:tag]
          %li.current
            %span= params[:tag].downcase
            = link_to "remove", community_path
        - else
          - @tags.each do |tag|
            %li= link_to(tag.name.downcase, community_path(:tag => tag.name), :class => "tag")