.community
  = render "users/community_tabs"

  .tabbed
        
    %ul.users
      - @users.each do |user|
        %li.user
          = link_to(image_tag(user.avatar.url(:large)), user_path(user), :class => "avatar")
          = link_to(truncate(user.name, :length => 25), user_path(user), :class => "name")
          = image_tag("badges/#{user.badge_level}.png", :class => "badge")
          .tags
            - user.tags.each do |tag|
              = link_to(tag.name.downcase, community_people_path(:tag => tag.name), :class => "tag")
              
    .tag-cloud
      %h3 Popular tags:
      %ul.tags
        - if params[:tag]
          %li.current
            %span= params[:tag].downcase
            = link_to "remove", community_path
        - else
          - @tags.each do |tag|
            %li= link_to(tag.name.downcase, community_path(:tag => tag.name), :class => "tag")

:javascript
  var options = {anonymous_id: '#{session[:analytics_anonymous_id]}'};
- if params[:tag]
  :javascript
    options['mp_note'] = 'tag: #{params[:tag]}'
:javascript
  mpq.track('Viewed Most Impactful People', options)