.community
  = render "users/community_tabs"

  .tabbed
    
    - if params[:tag]
      .header
        %h3= params[:tag]
        = link_to("< Back", community_people_path)
        
    %ul.users
      - @users.each do |user|
        %li.user
          = link_to(image_tag(user.avatar.url(:large)), user_path(user), :class => "avatar")
          = link_to(user.name, user_path(user), :class => "name")
          .tags
            - user.interests.each do |tag|
              = link_to(tag.name, community_people_path(:tag => tag.name), :class => "tag")
          .impact
            %span.amount= user.impact
            %span.text impact
              
    - unless params[:tag]
      .tag-cloud
        %h3 Filter people by tag:
        .tags
          - @tags.each do |tag|
            = link_to(tag.name, community_people_path(:tag => tag.name), :class => "tag")

:javascript
  var options = {anonymous_id: '#{session[:analytics_anonymous_id]}'};
- if params[:tag]
  :javascript
    options['mp_note'] = 'tag: #{params[:tag]}'
:javascript
  mpq.track('Viewed Most Impactful People', options)