%tr
  %td= link_to invitation.inviter.name, user_path(invitation.inviter)
  %td= link_to invitation.invitee.name, user_path(invitation.invitee) if invitation.invitee
  %td= invitation.token
  %td #{time_ago_in_words invitation.created_at} ago
  %td #{time_ago_in_words invitation.updated_at} ago