%li.reward
  = link_to image_tag(reward.user.avatar.url(:thumbnail)), user_path(reward.user), class: "avatar"
  .headline #{reward.user.name} rewarded #{number_to_currency(reward.amount)} to
  = link_to reward.story.title, story_path(reward.story, impacted_by: reward.id), class: "title"
  %span by
  = link_to reward.recipient.name, user_path(reward.recipient)
  %p= truncate(reward.story.synopsis, length: 200)