#feed.no-right-column
  
  #feed-center.column
    .inner
      - unless @followings.empty? 
        #vertical-list
          %ul#activity-list
            = render "subscriptions/list"
          
  #feed-left.column
  
    %h2 People You Support
    - if @rewarded.empty?
      You have not rewarded anyone, yet.
    %ul
      - @rewarded.each do |creator|
        %li{:data => creator.id}
          = image_tag creator[0].avatar.url(:large), :class => "avatar", :alt => ""
          .name
            %span= creator[0].first_name
            %span= creator[0].last_name
          .amount= number_to_currency(creator[1] * Reward.dollar_exchange)
    
    %h2 People You Follow
    - if @followings.empty?
      .empty You are not currently following anyone. #{link_to "Check out some of our awesome creators!", root_path, :id => "find-creators"}
    %ul#following
      - @followings.each do |subscription|
        %li{:data => subscription.user.id}
          = image_tag subscription.user.avatar.url(:large), :alt => ""
          .name
            %span= subscription.user.name
            %span.since since #{subscription.since}

  .clear

:javascript
  var scrollables_selector = '#activity-list';
  var user_id = '#{current_user.id}';
= javascript_include_tag "subscriptions" unless @followings.empty?
= javascript_include_tag "comments"