#recent-activity
  = render "subscriptions/summary"
        
#sidebar
  %h3 People you Follow
  - if @followings.empty?
    %p You are not currently following anyone. #{link_to "Discover people to follow!", discovery_path, :id => "find-creators"}
  - else
    %p Click to view their recent activity
    - @followings.each do |user|
      %a.following{href: "#", data: user.id}
        = image_tag user.avatar.url(:thumbnail), class: "avatar"
        .name
          %span= user.first_name
          %span= user.last_name

:javascript
  mpq.track('Viewed Feed');

= javascript_include_tag "subscriptions" unless @followings.empty?