%h1= image_tag("/images/logo.png")

%h3 You just recently purchased the Momeant story #{@story.title}

.excerpt Excerpt: #{@story.excerpt}

.price Price: #{number_to_currency(@story.price)}

.url You can view this story at #{@url}

Thanks for supporting Momeant and our creators!
The Momeant Team