%h1= image_tag("/images/logo.png")

%h3 You just recently purchased the Momeant story #{@story.title}

%p Excerpt: #{@story.excerpt}

%p Price: #{number_to_currency(@story.price)}

%p You can view this story at #{@url}

%p
  Thanks for supporting Momeant and our creators!
  .signature= "- The Momeant Team"