= hidden_field_tag "pages[#{@page_number}][type]", "FullImagePage"
.full-image.page-theme
  .input
    = file_field_tag "pages[#{@page_number}][image]"
    .image-preview
      = image_tag @page.medias.first.image.url if @page && @page.medias.first