= hidden_field_tag "pages[#{@page_number}][type]", "FullImagePage"
.full_image.page-theme
  .input
    = file_field_tag "pages[#{@page_number}][image]"
    .image-preview
      = image_tag @page.image.image.url if @page && @page.image && @page.image.id
    .caption
      %h3 Caption
      - if @page && @page.caption
        = text_area_tag "pages[#{@page_number}][caption]", @page.caption.text, :placeholder => "Type your caption here..."
      - else
        = text_area_tag "pages[#{@page_number}][caption]", "", :placeholder => "Type your caption here..."