= hidden_field_tag "pages[#{@page_number}][type]", "full_image"
.full_image.page-theme.background-color-affected
  = render :partial => "stories/page_forms/style_editor", :locals => {:background_color => true, :caption => true}
  .input
    .file-uploader
      %form{:enctype => "multipart/form-data", :method => "POST", :action => "/stories"}
        %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
        %input{:type => "file", :name => "pages[#{@page_number}][image]", :id => "pages_#{@page_number}_image"}
        .loader.hidden
      .image-preview{:class => (@page.present? && @page.image.present?) ? "no-bg" : ""}
        = image_tag @page.image.url if @page && @page.image
    .caption.caption-background-color-affected
      %h3 Caption
      - if @page && @page.text
        = text_area_tag "pages[#{@page_number}][text]", @page.text, :class => "monitor-typing caption-color-affected"
      - else
        = text_area_tag "pages[#{@page_number}][text]", "", :class => "monitor-typing caption-color-affected"