.full_image.page-theme.background-color-affected.pane-insides
  = #render :partial => "stories/page_forms/style_editor", :locals => {:background_color => true, :caption => true}
  .header
    .title Full Image
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy Use this slide to display a single image with or without a caption. Choose one of three size options for your image: original size, fullscreen (which adjusts your image to fill the viewer's browser window), or fit to screen (which fits either the height or width of the viewer's browser window but doesn't crop your image). If you do choose to write a caption, select the corner in which you want it to appear. The default position is in the upper right.
  .body
    %fieldset
      %ul
        %li
          %label Choose an image
          .file-uploader
            %form
              %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
              .file-input-faker
                %input{:type => "file", :name => "pages[#{@page_number}][image]", :id => "pages_#{@page_number}_image"}
                .text
                = link_to("Upload", "#", :class => "upload")
              .loader
        %li
          %label Choose image placement
          %select.image_placement
            - FullImagePage::IMAGE_PLACEMENTS.each_pair do |k,v|
              %option{:value => v, :selected => @page && @page.image_media && @page.image_media.placement == v}= k
        %li
          %label Pick a background color
          = text_field_tag "pages[#{@page_number}][background_color]", "#f2f2f2", :class => "color-picker bgcolor"
        %li.break
          %label
            %span Write a caption
            %span.sidenote (optional)
          .caption
            - if @page && @page.text
              = text_area_tag "pages[#{@page_number}][text]", @page.text, :class => "monitor-typing caption-color-affected mirrored", "mirror-to" => "caption"
            - else
              = text_area_tag "pages[#{@page_number}][text]", "", :class => "monitor-typing caption-color-affected mirrored", "mirror-to" => "caption"
            .colors
            .placement
              %label Select caption placement
              - placement = @page.caption_placement if @page
              - placement ||= "top-right"
              %ul.picker
                %li{:class => placement == "top-left" ? "chosen" : "", :position => "top-left"}
                %li{:class => placement == "top-right" ? "chosen" : "", :position => "top-right"}
                %li{:class => placement == "bottom-left" ? "chosen" : "", :position => "bottom-left"}
                %li{:class => placement == "bottom-right" ? "chosen" : "", :position => "bottom-right"}
        %li.break
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")
  .tips
    %h3 Tips
    %ul
      %li  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      %li  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.