.full_image.page-theme.background-color-affected.pane-insides
  = #render :partial => "stories/page_forms/style_editor", :locals => {:background_color => true, :caption => true}
  .header
    .title Image & Caption Page
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy
    %strong Use this slide to display a single image with or without a caption.
  .body
    %fieldset
      %ul
        %li
          %label Choose an image
          .file-uploader
            %form
              %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
              %input{:type => "file", :name => "pages[#{@page_number}][image]", :id => "pages_#{@page_number}_image"}
              .loader
        %li
          %label Choose image placement
          %select.image_placement
            - Page::IMAGE_PLACEMENTS.each_pair do |k,v|
              %option{:value => v, :selected => @page && @page.image_media && @page.image_media.placement == v}= k
        %li
          %label Pick a background color
          - background_color = @page && @page.background_color ? @page.background_color : "#ffffff"
          = text_field_tag "pages[#{@page_number}][background_color]", background_color, :class => "color-picker bgcolor"
        %li.break
          %label
            %span Write a caption
            %span.sidenote (optional)
          .caption
            - text = @page && @page.text ? @page.text : ""
            = text_area_tag "pages[#{@page_number}][text]", text, :class => "monitor-typing caption-color-affected mirrored", "mirror-to" => "caption"
            .colors
            .placement
              %label Select caption placement
              - placement = @page.caption_placement if @page
              - placement ||= "top-right"
              %ul.picker
                %li{:class => placement == "top-left" ? "chosen" : "", :position => "top-left"}
                %li{:class => placement == "top-right" ? "chosen" : "", :position => "top-right"}
                %li{:class => placement == "bottom-left" ? "chosen" : "", :position => "bottom-left"}
                %li{:class => placement == "bottom-right" ? "chosen" : "", :position => "bottom-right"}
        %li.break
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")
  .tips
    %h3 Tips
    %ul
      %li  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      %li  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.