.grid.page-theme.pane-insides
  .header
    .title Grid
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy Warning, this guy is not finished yet and therefore not saving.
  .body
    %fieldset
      %ul
        %li.chooser
          %label Select cell to edit
          %ul
            %li.selected{:position => 1} 1
            %li{:position => 2} 2
            %li{:position => 3} 3
            %li{:position => 4} 4
            %li{:position => 5} 5
            %li{:position => 6} 6
            %li{:position => 7} 7
            %li{:position => 8} 8
        %li.inputs
          %ul.cells
            - 1.upto(8) do |cell|
              %li{:id => "cell_#{cell}", :class => cell == 1 ? "" : "hidden"}
                - ['front', 'back'].each do |side|
                  .side{:class => side}
                    .inner
                      %h3
                        %span #{side} of cell
                        %span.dark ##{cell}
                        .types
                          %a{:href => "#", :type => "image"} image
                          %a{:href => "#", :type => "text"} text
                      .image.type{:class => side == "back" ? "hidden" : ""}
                        %label Choose an image
                        .file-uploader
                          %form
                            %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
                            .file-input-faker
                              %input{:type => "file"}
                              .text
                              = link_to("Upload", "#", :class => "upload")
                            .loader
                      .text.type{:class => side == "front" ? "hidden" : ""}
                        - text = @page && @page.text_at_position(cell) ? @page.text_at_position(cell).text : ""
                        = text_area_tag "pages[#{@page_number}][cells][#{cell}][text]", text, :class => "monitor-typing color-affected", :cell => cell