.grid.page-theme.pane-insides
  .header
    .title Grid Page
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy
    %strong The possibilities are endless!
    %span Upload or enter content for the front and back of each of the 8 cells (either an image or snippet of text). Use the Grid content slide to create anything from instructional notecards to a table of contents for your story.
  .body
    %fieldset
      %ul
        %li.chooser
          %label Select cell to edit
          %ul
            %li.selected{:position => 1} 1
            %li{:position => 2} 2
            %li{:position => 3} 3
            %li{:position => 4} 4
            %li{:position => 5} 5
            %li{:position => 6} 6
            %li{:position => 7} 7
            %li{:position => 8} 8
        %li.inputs
          %ul.cells
            - 1.upto(8) do |cell|
              %li{:id => "cell_#{cell}", :class => cell == 1 ? "" : "hidden"}
                - front_side_show = @page && @page.media_at_position_and_side(cell,"front").is_a?(PageText) ? "text" : "image"
                - back_side_show = @page && @page.media_at_position_and_side(cell,"back").is_a?(PageImage) ? "image" : "text"
                - ["front", "back"].each do |side|
                  .side{:class => side}
                    .inner
                      %h3
                        %span #{side} of cell
                        %span.dark ##{cell}
                        .types
                          %a{:href => "#", :type => "image", :position => cell, :side => side} image
                          %a{:href => "#", :type => "text", :position => cell, :side => side} text
                      .image.type{:class => (side == "front" && front_side_show == "image") || (side == "back" && back_side_show == "image") ? "" : "hidden"}
                        %label.choose Choose an image
                        .file-uploader
                          %form
                            %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
                            .file-input-faker
                              %input{:type => "file", :position => cell, :side => side}
                              .text
                              = link_to("Upload", "#", :class => "upload")
                            .loader
                        .image-placement-picker
                          %label Choose image placement
                          %select.image_placement{:position => cell, :side => side}
                            - Page::IMAGE_PLACEMENTS.each_pair do |k,v|
                              %option{:value => v, :selected => @page && @page.image_media && @page.image_media.placement == v}= k
                        .color-picker
                          %label Pick a background color
                          = text_field_tag "pages[#{@page_number}][background_color]", "#ffffff", :class => "color-picker bgcolor", :position => "cells .cell_#{cell} .#{side} .image"
                      .text.type{:class => (side == "front" && front_side_show == "text") || (side == "back" && back_side_show == "text") ? "" : "hidden"}
                        - text = @page ? @page.media_at_position_and_side(cell,side).try(:text) : ""
                        = text_area_tag "grid_text_#{cell}_#{side}", text, :class => "color-affected mirrored rich-editable", :position => cell, :side => side, "mirror-to" => "text-#{cell}-#{side}", :style => "width: 100%"
                        %div
                          %label Pick a background color
                          = text_field_tag "pages[#{@page_number}][background_color]", "#ffffff", :class => "color-picker bgcolor", :position => "cells .cell_#{cell} .#{side} .text"
        %li
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")