= hidden_field_tag "pages[#{@page_number}][type]", "GridPage"
.grid.page-theme.background-color-affected
  = render :partial => "stories/page_forms/style_editor", :locals => {:background_color => true, :text_color => true}
  %ul.cells
    - 8.times do |num|
      - cell = num + 1
      %li{:id => "cell_#{cell}"}
        .inner
          .image
            = file_field_tag "pages[#{@page_number}][cells][#{cell}][image]"
            .info
              %p
                If no image is chosen, the caption will be shown by default.
                If an image is chosen, the image will be shown and upon
                hover the caption is shown.
              %p
                Acceptable filetypes: JPG, PNG, GIF
            .preview
              = image_tag @page.image_at_position(cell).image.url if @page && @page.image_at_position(cell)
            = link_to("Edit caption", "#")
          .text
            - if @page && @page.text_at_position(cell)
              = text_area_tag "pages[#{@page_number}][cells][#{cell}][text]", @page.text_at_position(cell).text, :placeholder => "Type your caption here...", :class => "color-affected"
            - else
              = text_area_tag "pages[#{@page_number}][cells][#{cell}][text]", "", :placeholder => "Type your caption here...", :class => "color-affected"
            = link_to("Choose image", "#")