= hidden_field_tag "pages[#{@page_number}][type]", "pullquote"
.pullquote.page-theme.background-color-affected.color-affected
  = render :partial => "stories/page_forms/style_editor", :locals => {:background_color => true, :text_color => true}
  - if @page && @page.text
    = text_area_tag "pages[#{@page_number}][text]", @page.text, :class => "monitor-typing", :placeholder => "Type your text here..."
  - else
    = text_area_tag "pages[#{@page_number}][text]", "", :class => "monitor-typing", :placeholder => "Type your text here..."