.pullquote.page-theme.pane-insides
  .header
    .title One Column Page
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy
    %strong Great for adding some emphasis to a larger block of text,
    %span the Blockquote slide allows you to enter up to 500 characters and add custom styling for typeface, text color(s), highlighting, and drop-capping. Don't forget to choose a background color!
  .body
    %fieldset
      %ul
        %li.text-editor
          %label.heading Enter your text:
          - text_value = @page && @page.text ? @page.text : ""
          = text_area_tag "pages[#{@page_number}][text]", text_value, :class => "mirrored rich-editable", "mirror-to" => "quote", :style => "width:100%;height:300px;"
        %li.simple-heading
          %label Pick a background color:
          - background_color = @page && @page.background_color ? @page.background_color : "#fff"
          = text_field_tag "pages[#{@page_number}][background_color]", background_color, :class => "color-picker bgcolor"
        %li.text-style-chooser
          %label.heading
            Pick a type style:
            .drop-capper
              %label Dropcap
              .switch{:class => @page && @page.text_media && @page.text_media.drop_capped? ? "on" : ""}
          .styles-wrapper
            %ul.styles
              - text_style = @page && @page.text_media && @page.text_media.text_style ? @page.text_media.text_style : ""
              %li.blocky-title{:classname => "blocky-title", :class => text_style == "blocky-title" ? "selected" : ""}
              %li.blocky-chunk{:classname => "blocky-chunk", :class => text_style == "blocky-chunk" ? "selected" : ""}
              %li.blocky-paragraph{:classname => "blocky-paragraph", :class => text_style == "blocky-paragraph" ? "selected" : ""}
              %li.deco-title{:classname => "deco-title", :class => text_style == "deco-title" ? "selected" : ""}
              %li.deco-chunk{:classname => "deco-chunk", :class => text_style == "deco-chunk" ? "selected" : ""}
              %li.deco-paragraph{:classname => "deco-paragraph", :class => text_style == "deco-paragraph" ? "selected" : ""}
              %li.typewriter-title{:classname => "typewriter-title", :class => text_style == "typewriter-title" ? "selected" : ""}
              %li.typewriter-chunk{:classname => "typewriter-chunk", :class => text_style == "typewriter-chunk" ? "selected" : ""}
              %li.typewriter-paragraph{:classname => "typewriter-paragraph", :class => text_style == "typewriter-paragraph" ? "selected" : ""}
              %li.big-word-sans-serif{:classname => "big-word-sans-serif", :class => text_style == "big-word-sans-serif" ? "selected" : ""}
        %li
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")