.split.page-theme.pane-insides
  .header
    .title Two Column
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .body
    - layout = @page && @page.layout ? @page.layout : "image-text"
    %fieldset
      %ul
        %li.chooser
          %label Select layout
          %ul
            %li.image-text{:class => layout == "image-text" ? "selected" : ""}
            %li.text-image{:class => layout == "text-image" ? "selected" : ""}
            %li.image-image{:class => layout == "image-image" ? "selected" : ""}
            %li.text-text{:class => layout == "text-text" ? "selected" : ""}
        %li.inputs
          %ul
            %li.image1.input{:class => layout == "image-text" || layout == "image-image" ? "" : "hidden"}
              %ul
                %li
                  %h3 Image Column (left)
                  %label Choose an image
                  .file-uploader
                    %form
                      %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
                      .file-input-faker
                        %input{:type => "file", :name => "pages[#{@page_number}][image]", :id => "pages_#{@page_number}_image"}
                        .text
                        = link_to("Upload", "#", :class => "upload")
                      .loader
                %li
                  %label Choose image placement
                  %select.image_placement{:position => "1"}
                    - FullImagePage::IMAGE_PLACEMENTS.each_pair do |k,v|
                      %option{:value => v, :selected => @page && @page.image_media && @page.image_media.placement == v}= k
            %li.text1.input{:class => layout == "text-image" || layout == "text-text" ? "" : "hidden"}
              %h3 Text Column (left)
              - text_value = @page && @page.text_at_position(1) ? @page.text_at_position(1).text : ""
              = text_area_tag "pages[#{@page_number}][text][1]", text_value, :class => "monitor-typing mirrored rich-editable", "mirror-to" => "text1-inner", :position => "1"
            %li.image2.input{:class => layout == "text-image" || layout == "image-image" ? "" : "hidden"}
              %ul
                %li
                  %h3 Image Column (right)
                  %label Choose an image
                  .file-uploader
                    %form
                      %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
                      .file-input-faker
                        %input{:type => "file", :name => "pages[#{@page_number}][image]", :id => "pages_#{@page_number}_image"}
                        .text
                        = link_to("Upload", "#", :class => "upload")
                      .loader
                %li
                  %label Choose image placement
                  %select.image_placement{:position => "2"}
                    - FullImagePage::IMAGE_PLACEMENTS.each_pair do |k,v|
                      %option{:value => v, :selected => @page && @page.image_media && @page.image_media.placement == v}= k
            %li.text2.input{:class => layout == "image-text" || layout == "text-text" ? "" : "hidden"}
              %h3 Text Column (right)
              - text_value = @page && @page.text_at_position(2) ? @page.text_at_position(2).text : ""
              = text_area_tag "pages[#{@page_number}][text][2]", text_value, :class => "monitor-typing mirrored rich-editable", "mirror-to" => "text2-inner", :position => "2"
              
        %li
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")
  .tips
    %h3 Tips
    %ul
      %li  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      %li  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.