- background_color ||= false
- text_color ||= false
- caption ||= false
.style-editor
  .insides
    %h2 Style Editor

    - if background_color
      .widget
        %h3 background
        - color = @page && @page.background_color ? @page.background_color : "ffffff"
        = hidden_field_tag "pages[#{@page_number}][background_color]", color
        .color-picker{:style => "background-color: ##{color}", "affected-style" => "background-color", :update => "background-color-affected"}    

    - if text_color
      .widget
        %h3 text
        - color = @page && @page.text_color ? @page.text_color : "444444"
        = hidden_field_tag "pages[#{@page_number}][text_color]", color
        .color-picker{:style => "background-color: ##{color}", "affected-style" => "color", :update => "color-affected"}
        
    - if caption
      .widget
        %h3 caption background
        - color = @page && @page.caption_background_color ? @page.caption_background_color : "ffffff"
        = hidden_field_tag "pages[#{@page_number}][caption_background_color]", color
        .color-picker{:style => "background-color: ##{color}", "affected-style" => "background-color", :update => "caption-background-color-affected"}
      .widget
        %h3 caption text
        - color = @page && @page.caption_text_color ? @page.caption_text_color : "ffffff"
        = hidden_field_tag "pages[#{@page_number}][caption_text_color]", color
        .color-picker{:style => "color: ##{color}", "affected-style" => "color", :update => "caption-color-affected"}