= hidden_field_tag "pages[#{@page_number}][type]", "TitlePage"
.title.page-theme.background-color-affected.color-affected
  = render :partial => "stories/page_forms/style_editor", :locals => {:background_color => true, :text_color => true}
  - if @page && @page.text
    = text_area_tag "pages[#{@page_number}][title]", @page.text, :class => "background-color-affected color-affected", :placeholder => "Type your title here..."
  - else
    = text_area_tag "pages[#{@page_number}][title]", "", :class => "background-color-affected color-affected", :placeholder => "Type your title here..."