.title.page-theme.pane-insides
  .header
    .title Title Page
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy
    %strong Use this title page as a bold introduction to your story.
    %span This will give your readers some context and help them find the story again in the future. Or, just use this story block to emphasize a quote, factoid or other important snippet of text. Think outside the box - erm - slide!
    .tip-icon.tooltipped-e{:title => "View tips"}
    %ul.tips
      /You can add category icons by checking the appropriate box. 
      %li Feel free to customize the typeface, size and color of your text.
  .body
    %ul
      %li
        %label Type your title
        - text_value = @page && @page.text ? @page.text : ""
        = text_area_tag "pages[#{@page_number}][text]", text_value, :class => "monitor-typing background-color-affected color-affected mirrored rich-editable", "mirror-to" => "text", :style => "width:100%;height:200px;"
      %li
        %label Pick a background color
        = text_field_tag "pages[#{@page_number}][background_color]", "#000", :class => "color-picker bgcolor"
      %li
        = link_to("Save &amp; Preview".html_safe, "#", :class => "save")