.video.page-theme.pane-insides
  .header
    .title Video
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy Upload video content from your Vimeo account simply by entering the Vimeo ID number. Then, choose how you want your video displayed: original size or fit to screen (which fits either the height or width of the viewer's browser window but doesn't crop your image). Finally, choose a color for the background and the play button.
  .body
    %fieldset
      %ul
        %li
          %label Vimeo ID
          .url
            %span http://vimeo.com/
            - if @page && @page.text.present?
              = text_field_tag "pages[#{@page_number}][text]", @page.text, :class => "monitor-typing"
            - else
              = text_field_tag "pages[#{@page_number}][text]", "", :class => "monitor-typing"
        %li
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")
  .tips
    %h3 Tips
    %ul
      %li  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      %li  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.