= hidden_field_tag "pages[#{@page_number}][type]", "VideoPage"
.video.page-theme
  .info Enter the Vimeo video ID below (the last part of the video’s URL)
  .url
    %span http://vimeo.com/
    - if @page && @page.text
      = text_field_tag "pages[#{@page_number}][vimeo_id]", @page.text
    - else
      = text_field_tag "pages[#{@page_number}][vimeo_id]", ""