%h3{:style => "font-size:14px;font-weight:normal;text-align:center;margin-bottom:60px;"}
  %span A creator you follow,
  %span{:style => "font-weight:bold;"} #{@following.name},
  %span just broadcasted a message:

%div{:style => "width:570px;padding:30px;background:#f2f2f2;"}= @broadcast.message

%div{:style => "position:relative;height:60px;padding:30px 200px 0 70px;margin:0 -50px;"}
  = image_tag "https://momeant-production.s3.amazonaws.com/emails/message-curve.png", :style => "position:absolute;top:0;left:10px;", :alt => ""
  %a{:href => user_url(@following), :style => "display:block;width:60px;height:60px;float:left;margin-right:20px;"}
    = image_tag(@following.avatar.url(:thumbnail))
  = link_to @following.name, user_url(@following), :style => "font-size:18px;color:#00aeff;margin-bottom:3px;line-height:18px;"
  - if @following.occupation.present?
    %p{:style => "margin:0;font-size:15px;"}= @following.occupation
  - if @following.location.present?
    %p{:style => "margin:0;font-size:15px;"} from #{@following.location}
  = link_to "View in your feed &rarr;".html_safe, subscriptions_url, :style => "background:#262626;color:#fff;font-size:14px;font-weight:700;text-transform:uppercase;padding:8px 12px;position:absolute;top:40px;right:40px;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;"