%h3{:style => "font-size:14px;font-weight:normal;text-align:center;margin-bottom:60px;"}
  %span A creator you follow,
  %span{:style => "font-weight:bold;"} #{@following.name},
  %span just shared #{@content.new_article_string}:

%div{:style => "margin: 0 -50px 30px;width:630px;height:420px;margin-bottom:30px;"}
  - if @content.text_preview?
    - if @content.template == "watchmen"
      %a{:href => story_url(@content), :style => "display:block;width:630px;height:420px;position:relative;text-decoration:none;background:#ffe344;color:#000;"}
        = image_tag("http://momeant.com/images/content/templates/watchmen-small.png", :style => "position:absolute;top:100px;left:80px;z-index:1;")
        %div{:style => "width:470px;height:140px;padding:200px 80px 80px 80px;font-size:18px;font-weight:700;position:relative;z-index:2;"}
          = truncate(@content.template_text, :length => 140)
    - elsif @content.template == "blob"
      %a{:href => story_url(@content), :style => "display:block;width:630px;height:420px;position:relative;text-decoration:none;background:#ff6600;color:#000;"}
        = image_tag("http://momeant.com/images/content/templates/blob-small.png", :style => "position:absolute;top:0;left:0;z-index:1;")
        %div{:style => "width:260px;height:150px;padding:120px 50px 80px 180px;font-size:18px;font-weight:700;position:relative;z-index:2;"}
          = truncate(@content.template_text, :length => 140)
    - else
      %a{:href => story_url(@content), :style => "display:block;width:630px;height:420px;position:relative;text-decoration:none;background:#99daa4;color:#fff;"}
        = image_tag("http://momeant.com/images/content/templates/bowling-small.png", :style => "position:absolute;top:0;left:0;z-index:1;")
        %div{:style => "width:260px;height:150px;padding:150px 190px 120px 180px;font-size:18px;font-weight:700;position:relative;z-index:2;text-align:center;"}
          = truncate(@content.template_text, :length => 140)
        
  - else
    %a.content-preview.email{:href => story_url(@content), :class => @content.media_type}
      = image_tag(@content.thumbnail.url(:large))

%div{:style => "position:relative;min-height:60px;padding:0 170px 0 80px;margin:0 -20px -20px;"}
  %div{:style => "width:60px;height:60px;position:absolute;top:0;left:0;"}
    %a{:href => user_url(@content.user), :style => "display:block;width:60px;height:60px;"}
      = image_tag(@content.user.avatar.url(:thumbnail))
  = link_to @content.title, story_url(@content), :style => "font-size:18px;color:#00aeff;margin-bottom:3px;line-height:18px;"
  %p{:style => "margin:5px 0;font-size:13px;"}= @content.synopsis
  %div{:style => "font-size:12px;font-style:italic;color:#888;"}= @content.tag_list.join(', ')
  %div{:style => "position:absolute;top:12px;right:0;width:150px;height:35px;text-align:right;"}
    = link_to "View #{@content.media_type} &rarr;".html_safe, story_url(@content), :style => "display:inline-block;background:#262626;color:#fff;font-size:14px;font-weight:700;text-transform:uppercase;padding:8px 12px;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;"