%h1{:style => "margin-top: 0;"} Hi, #{@user.first_name}!
%p You've supported a lot of great creators. But in order to continue rewarding, we need you to pay for those rewards.
%p It's a breeze to setup your payment method using Amazon Payments.
= link_to "Configure your payment method", fund_rewards_url, :style => "display: inline-block; background: #00aeef; color: #fff; padding: 10px; font-size: 16px; text-decoration: none; border-radius: 3px; text-transform:uppercase; font-weight: bold;"

%p{style: "margin:20px 0;"} Once you've chosen a payment method, we'll charge you for the following rewards so that we can pay out the creators you supported:
    
%table{:style => "clear: both; width: 100%; padding: 30px 0 20px; border-spacing: 0;"}
  - @rewards.each do |reward|
    %tr
      %td{:style => "width: 105px; height: 65px; padding-left: 20px; background: #eee; border-bottom: 10px solid #fff;"}
        %span{:style => "display: block;"}= reward.recipient.first_name
        %span{:style => "display: block;"}= reward.recipient.last_name
      %td{:style => "width: 65px; height: 65px; background: #eee; border-bottom: 10px solid #fff;"}
        %a{:href => user_url(reward.recipient), :style => "display: block; width: 65px; height: 65px;"}
          = image_tag(reward.recipient.avatar.url(:large), :style => "display: block; width: 65px; height: 65px;")
      %td{:style => "height: 65px; padding: 0 10px; background: #eee; border-bottom: 10px solid #fff;"}
        = link_to truncate(reward.story.title, :length => 50), story_url(reward.story), :style => "color: #00aeff; font-size: 13px;"
      %td{:style => "width: 90px; height: 65px; text-align: right; padding-right: 10px; background: #eee; border-bottom: 10px solid #fff; font-size: 24px; font-weight: 300;"}
        = number_to_currency(reward.amount)

= render "layouts/email_thanks"