%h3
  #{link_to(@reward.user.name, user_url(@reward.user), :style => "color:#00aeff")}
  just rewarded your content #{link_to(@reward.story.title, story_url(@reward.story), :style => "color:#00aeff")}
  for #{number_to_currency(@reward.amount)}
  - if @reward.comment.present?
    and said:

- if @reward.comment.present?
  %p{:style => "font-style:italic;color:#777"}
    "#{@reward.comment}"

%p As of now, you've earned #{number_to_currency(@reward.recipient.rewards.sum(:amount))} on Momeant!