%h3
  #{link_to(@reward.user.name, user_url(@reward.user), :style => "color:#00aeff")}
  just rewarded you #{number_to_currency(@reward.amount)}.

%p
  If you'd like to send #{@reward.user.first_name} a private message, you can do that #{link_to "here", @messaging_url}.

%p As of now, you've earned #{number_to_currency(@reward.recipient.rewards.sum(:amount))} on Momeant!