%h1 Hello Momeant users!

%p We've recently updated our site. Come check it out: #{link_to "http://momeant.com", "http://momeant.com"}

%p You'll notice we changed the landing page. We wanted to make it easier for new folks to sign up, and to have a quicker explanation of who we are, what we do, and how to get started.

%p In order to help you find interesting people and content more easily, we've also changed our main view to focus more on curated content and people, rather than activity. You'll see different curated lists based on what's popular, what's recommended based on your actions, what's nearby based on your location, what your twitter and Facebook friends are doing, etc. The more actions you take, the more personalized these lists will get, helping you find great content and people. If you'd like to access the older version, simply type www.momeant.com/activity.

%p Come check it out and let us know what you think. #{mail_to "team@momeant.com"}

%p
  Thanks, and happy rewarding!
  %br
  Amit, Zack, &amp; David

%p
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/9/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/10/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/8/thumbnail."