- level = badge[:level]
- user = User.find(badge[:user_id])
%li.badge
  
  .left-side
    = link_to image_tag("badges/#{level}.png"), about_path
  
  .middle
    .title
      = link_to you_or_name(user), user_path(user)
      %span achieved Badge Level #{level}.
    
  .right-side
    %span.when #{time_ago_in_words(activity.created_at)} ago
    
  .clear