%li.impact

  .left-side
  
  .middle
    .title
      = link_to you_or_name(activity.recipient), user_path(activity.recipient)
      %span gained #{impact.amount} impact from rewards on:
  
    .content
      = link_to image_tag(impact.story.thumbnail.url(:petite)), story_path(impact.story, :impacted_by => impact.id), :class => "content-thumbnail"
      = link_to impact.story.title, story_path(impact.story, :impacted_by => impact.id), :class => "title"
      %span.byline by #{link_to impact.story.user.name, user_path(impact.story.user)}
      .tags
        - impact.story.tags.each do |tag|
          = link_to tag.name, "#"
          %span ,
          
  .right-side
    %span.when #{time_ago_in_words impact.created_at} ago