%li.reward
  
  .left-side
    .faces
      = link_to image_tag(reward.user.avatar.url(:thumbnail)), user_path(reward.user), :class => "face from"
      = link_to image_tag(reward.recipient.avatar.url(:thumbnail)), user_path(reward.recipient), :class => "face to"
    .amount
      %span.count= reward.amount
    
  .middle
    .title
      = link_to you_or_name(reward.user), user_path(reward.user)
      %span rewarded
      = link_to you_or_name(reward.recipient), user_path(reward.recipient)
      
    .content
      = link_to image_tag(reward.story.thumbnail.url(:petite)), story_path(reward.story, :impacted_by => reward.id), :class => "content-thumbnail"
      = link_to reward.story.title, story_path(reward.story, :impacted_by => reward.id), :class => "title"
      %span.byline by #{link_to reward.story.user.name, user_path(reward.story.user)}
      .tags
        - reward.story.tags.each do |tag|
          = link_to tag.name.downcase, "#"
          %span ,
                    
    - if reward.comment.present?
      .comment= reward.comment

    - ancestors = reward.ancestors_except(reward.user)
    - unless ancestors.empty?
      .impacters
        .description Discovered because of rewards from:
        - ancestors.each do |user|
          = link_to image_tag(user.avatar.url(:thumbnail)), user_path(user), :title => user.name, :class => "avatar"      
        = link_to "View reward tree", visualize_reward_path(reward.root), :class => "visualize"
        :javascript
          $('a.visualize').fancybox();

    - descendants = reward.descendants_except(reward.user)
    - unless descendants.empty?
      .descendants
        .description This led to rewards from:
        - descendants.each do |user|
          = link_to image_tag(user.avatar.url(:thumbnail)), user_path(user), :title => user.name, :class => "avatar"      
      
  .right-side
    .when #{time_ago_in_words reward.created_at} ago
    - if reward.shared_to_twitter?
      %span.twitter.tooltipped{:title => "Shared to Twitter"}
    - if reward.shared_to_facebook?
      %span.facebook.tooltipped{:title => "Shared to Facebook"}
    
  .clear