%li.content
  
  .left-side
    = link_to image_tag(story.user.avatar.url(:thumbnail)), user_path(story.user), :class => "thumbnail"
    
  .middle
    .title
      = link_to you_or_name(story.user), user_path(story.user)
      %span shared some content:
    
    .content
      = link_to image_tag(story.thumbnail.url(:petite)), story_path(story), :class => "content-thumbnail"
      = link_to story.title, story_path(story), :class => "title"
      %span.byline by #{link_to story.user.name, user_path(story.user)}
      .tags
        - story.tags.each do |tag|
          = link_to tag.name.downcase, "#"
          %span ,

    - if story.synopsis.present?
      .comment= story.synopsis

  .right-side
    %span.when #{time_ago_in_words story.created_at} ago
    
  .clear