- content_for :head do
  = javascript_include_tag "admin"

.admin.adverts
  = render "admin/tabs"
  
  = form_for @advert, :url => admin_adverts_path, :html => {:multipart => true} do |form|
    = render "shared/error_messages", :target => @advert
  
    %fieldset
      %ul
        %li
          = form.label :title, "Create a new Advert"
          %span.aside
            = form.text_field :title
            = form.label :title
          %span.aside
            = form.file_field :image
            = form.label :image
          %span.aside
            = form.select :path, Advert::PATHS
            = form.label :path
        
      
        %li.submit
          = form.submit "Create Advert"

  %ul.advert-list
    = render Advert.all