#support-inner
  
  #vertical-people
    %h1 People
    %ul
      - @creators.each do |person|
        %li
          = image_tag person.avatar.url(:thumbnail)
          = link_to person.name, user_path(person), :class => "cover tooltipped-e", :title => "Show #{person.first_name}'s updates", :data => person.id
          
  #vertical-content
    %h1 Their updates
    .helper use keyboard

    %ul#content-list
      = render :partial => "support/content", :collection => @content, :as => :content

:javascript
  var scrollables_selector = '#content-list';
= javascript_include_tag "content_scroller"  
= javascript_include_tag "support"