#after-reward
  #creator-thank-you
    %p
      %span.quote
      %span
        - if @story.thankyou.present?
          = truncate(@story.thankyou, length: 200)
        - elsif @story.user.thankyou.present?
          = truncate(@story.user.thankyou, length: 200)
        - else
          Thank you so much for your support! You allow me to continue doing what I love.
    .from= "- #{@story.user.first_name}"
    
  #promote
    #copy-paste
      Share #{@story.user.first_name}'s work with others.
      %form= text_field_tag :url_to_share, story_url(@story, :impacted_by => @reward.id), :readonly => true

    #sharing-buttons
      = link_to "Share on Twitter", "#twitter-sharing", :id => "share-with-twitter"
      = link_to "Share on Facebook", "#facebook-sharing", :id => "share-with-facebook"
    
    #why-share
      %span You gain
      %abbr.tooltipped-n{title: "Impact = the rewards you give + the rewards others give when you share someone's work."} impact
      %span for each reward you help promote, which increases your status in #{@story.user.first_name}'s community.
    
    .hidden
      #twitter-sharing
        - if @twitter_configured
          = render "rewards/modal/twitter_sharing"
        - else
          .not-configured
            %span Want to share this with your Twitter followers?
            = link_to("Launch Twitter Configuration", "#{root_url}auth/twitter", :id => "configure-twitter")

      #facebook-sharing
        - if @facebook_configured
          = render "rewards/modal/facebook_sharing"
        - else
          .not-configured
            %span Want to share this with your Facebook friends?
            = link_to("Launch Facebook Configuration", "#{root_url}auth/facebook", :id => "configure-facebook")

:javascript
  mixpanel.track('Rewarded Content', {story_id: '#{@story.id}', mp_note: '#{@reward.amount}', amount: #{@reward.amount}});
  RewardModal.monitor_sharing(#{@reward.id});
  $('.tooltipped-n').tipsy({opacity:1,gravity:'s'});