= form_tag share_facebook_path do
  = hidden_field_tag :facebook_reward_id, @reward.id
  = text_area_tag :facebook_comment
  #facebook-preview
    .link= truncate @reward.content_url_with_impacted_by, :length => 40
  = submit_tag "Share on Facebook"