#reward-box
  - if current_user == @story.user
    .yourself
      %h2
        Sorry, you can't reward yourself ;).
  - else
    - if @not_enough
      .alert Oops, you tried to reward more coins than you have.
    .inner
      = form_for :reward, :url => user_rewards_path(@story.user), :html => {:id => "reward-form"} do |form|
        = form.hidden_field :story_id, :value => @story.id
        - if @impacted_by
          = form.hidden_field :impacted_by, :value => @impacted_by
        .from
          = image_tag(current_user.avatar.url(:thumbnail), :class => "avatar")
          .rewards
            .count{:original => current_user.coins}= current_user.coins
            .text credits available
        .amount
          #reward-tooltip 1
          .slider
          = form.hidden_field :amount, :value => 1
          %p
            Use the slider above to choose how much to reward
        .to
          = image_tag(@story.user.avatar.url(:thumbnail), :class => "avatar")
          .rewards
            .count{:original => @story.user.lifetime_rewards}= @story.user.lifetime_rewards
            .text total rewards
        .comment
          = form.text_area :comment, :placeholder => "Tell others why you're rewarding this..."
        #share
          .text Share:
          = hidden_field_tag :share_facebook
          = hidden_field_tag :share_twitter
          .service#facebook
            - if @facebook_auth
              = check_box_tag :facebook
            - else
              = link_to("Configure", "/auth/facebook/configure", :class => "configure")
          .service#twitter
            - if @twitter_auth
              = check_box_tag :twitter
            - else
              = link_to("Configure", "/auth/twitter/configure", :class => "configure")
        = form.submit "Give Reward"

:javascript
  $('#reward-form .slider').slider({
    min: 1,
    max: #{current_user.coins},
    slide: function(event, ui) {
      var distance = $(ui.handle).position().left;
      var $tooltip = $('#reward-tooltip');
      $tooltip.text(ui.value).css('left', distance);
      $('#reward-form #reward_amount').val(ui.value);
      var $from_count = $('#reward-form .from .count');
      var new_from = parseInt($from_count.attr('original')) - ui.value;
      $from_count.text(new_from);
      var $to_count = $('#reward-form .to .count');
      var new_to = parseInt($to_count.attr('original')) + ui.value;
      $to_count.text(new_to);
    }
  });