- if current_user == @story.user
  .your-stuff
    Nice work! This is where everyone else can reward you.
- else
  - if current_user && !current_user.is_under_pledged_rewards_stop_threshold?
    .over-threshold
      %h3 We need you to fund your previous rewards before giving out more.
      %p You have #{number_to_currency(current_user.pledged_amount)} in rewards that need to be funded, first. You can do that here.
      %p Once you've paid for those, you can continue rewarding.
  - else

    %ul#steps
      %li.reward.active.tooltipped-n{:title => "1. Reward"}
      %li.comment.tooltipped-n{:title => "2. Comment"}
      %li.promote.tooltipped-n{:title => "3. Promote"}
    
    #current-step
      = form_for :reward, :url => user_rewards_path(@story.user), :html => {:id => "reward-form"} do |form|
        = form.hidden_field :story_id, :value => @story.id
        - if @impacted_by
          = form.hidden_field :impacted_by, :value => @impacted_by

        #amounts
          %header
            %h1 Reward
            #{@story.user.first_name} for their work:

          - if current_user
            %ul
              %li= link_to "$1", "#", :amount => 1.0
              %li= link_to "$5", "#", :amount => 5.0
              %li= link_to "$10", "#", :amount => 10.0
              %li.custom= text_field_tag :custom_amount, "$"
            = form.hidden_field :amount
            = link_to "Next &rarr;".html_safe, "#", :id => "goto-comment", :class => "button"
            
            #invalid-reward-amount
            
          - else
            = link_to "Join our community!", "#join-modal", :id => "reward-join-button", :class => "button"
            #reward-login-link= link_to "Already have an account? Log in.", "#login-modal"
          
        #comment
          %header
            %h1 Comment
            on why you're rewarding this:
          = form.text_area :comment, :placeholder => "Tell the Momeant community why you stand behind this content..."
          = form.submit "Give Reward"
    
#open-reward-stats.reward-stats
  %em this content has been rewarded
  %strong= number_to_currency(@story.reward_count)
  %span from
  %strong.people= @story.users_who_rewarded.count