#creator-info.left-side
  = link_to(image_tag(@story.user.avatar.url(:large)), user_path(@story.user), :class => "avatar")
  .byline
    content by
    = link_to @story.user.name, user_path(@story.user)
  .occupation
    %span.title Occupation
    %span= @story.user.occupation
  .location
    %span.title Location
    %span= @story.user.location
  - unless @story.user.tagline.blank?
    .tagline= truncate(@story.user.tagline, :length => 260)

- if current_user.nil?
  = render "rewards/modal/no_user"

- else
  #reward-box.right-side.reward-step
    .step-icon.reward
    
    - if current_user == @story.user
      %h3 You can't reward yourself, but we'll put some stats here about your content soon.
    - elsif current_user.coins == 0
      .out-of-coins
        %h3 Oops! You're out of reward coins.
        %p If you want to reward this content, please #{link_to "purchase more reward coins", coins_path}.
    - else
      - if @not_enough
        .alert Oops, you tried to reward more coins than you have.
      .inner
        = form_for :reward, :url => user_rewards_path(@story.user), :html => {:id => "reward-form"} do |form|
          = form.hidden_field :story_id, :value => @story.id
          - if @impacted_by
            = form.hidden_field :impacted_by, :value => @impacted_by

          #amount.section
            %h2 How much would you like to
            %h1 Reward #{@story.user.first_name}?
            %ul#stars
              %li= link_to "1", "#", :id => "one-star", :amount => 1
              %li= link_to "5", "#", :id => "five-star", :amount => 5
              %li= link_to "10", "#", :id => "ten-star", :amount => 10
              %li.custom
                = text_field_tag :custom_amount
                %span or any of your
                %strong= current_user.coins
                %span reward coins
      
            = form.hidden_field :amount, :value => 1
          
          #amount-hints.section
            - if @story.user.below_cashout_threshold? || current_user.badge_level >= 2
              .weak Not sure how much to reward?
              - if @story.user.below_cashout_threshold?
                .hint
                  %span #{@story.user.first_name} needs
                  %strong= pluralize @story.user.needed_to_cashout, "more reward"
                  %span to meet the $10 cash out threshold.
              - if current_user.badge_level >= 2
                .hint
                  %span You need to give
                  %strong= pluralize current_user.rewards_until_next_badge, "more reward"
                  %span to earn the "#{current_user.next_badge_level_name}" badge.

          #comment.section
            .step-icon.comment
            %h3 Tell #{@story.user.first_name} why you rewarded him/her.
            = form.text_area :comment, :placeholder => "Enter a great comment..."
            = form.submit "Give Reward"