#reward-them
  %h1 Reward #{@story.user.first_name} for #{@story.this_media}

  - if current_user == @story.user
    This is where everyone else can reward you.

  - elsif current_user && !current_user.is_under_pledged_rewards_stop_threshold?
    #over-threshold
      %p
        You have pledged #{number_to_currency(current_user.pledged_amount)} in rewards. That's awesome!
        %br
        But we need you to pay for those rewards before rewarding more; that way we can pay the creators you've supported.
        You can do that #{link_to "here", fund_rewards_path, target: "_blank"}.
        
  - elsif current_user && current_user.needs_to_reauthorize_amazon_postpaid?
    #reauthorize
      %p We need you to re-authorize your Amazon Payment method before rewarding again. Please visit the link below for more info.
      = link_to "Manage your payment method", fund_rewards_path, target: "_blank"

  - else
    #current-user{style: current_user.nil? ? "display:none" : ""}
      %span Logged in as
      %span.name= current_user.name if current_user
      
    = form_for :reward, :url => user_rewards_path(@story.user), :html => {:id => "reward-form"} do |form|
      = form.hidden_field :story_id, :value => @story.id
      = form.hidden_field :impacted_by, :value => params[:impacted_by] if params[:impacted_by]

      #amounts
        %p Choose an amount:
        %ul
          %li= link_to "1", "#", :amount => 1.0, id: "one-dollar-reward"
          %li= link_to "5", "#", :amount => 5.0
          %li= link_to "10", "#", :amount => 10.0
          %li.custom= text_field_tag :custom_amount, "", placeholder: "___"
        = form.hidden_field :amount, value: 1
        = form.submit "Give Reward &rarr;".html_safe, disabled: "disabled", style: current_user.nil? ? "display:none" : ""
        - unless current_user
          = link_to "What is this?", "#about", id: "what-is-momeant-link", class: "button"
          = link_to "Log In", "#login", id: "login-button", class: "button"
    
        #invalid-reward-amount