- if current_user == @story.user
  #your-work
    Nice work! This is where everyone else can reward you.
- else
  - if current_user && !current_user.is_under_pledged_rewards_stop_threshold?
    #over-threshold
      %p You have pledged #{number_to_currency(current_user.pledged_amount)} in rewards. That's awesome!
      %p But we need you to pay for those rewards before rewarding more. You can do that #{link_to "here", fund_rewards_path}.
      %p Thank you for your support!
  - else
    
    #current-step
      = form_for :reward, :url => user_rewards_path(@story.user), :html => {:id => "reward-form"} do |form|
        = form.hidden_field :story_id, :value => @story.id
        - if @impacted_by
          = form.hidden_field :impacted_by, :value => @impacted_by

        #amounts
          %header
            %h1 Reward
            #{@story.user.first_name} for this work:

          - if current_user
            %ul
              %li= link_to "$1", "#", :amount => 1.0
              %li= link_to "$5", "#", :amount => 5.0
              %li= link_to "$10", "#", :amount => 10.0
              %li.custom= text_field_tag :custom_amount, "$"
            = form.hidden_field :amount
            = link_to "Give Reward", "#", :id => "give-reward", :class => "button"
            
            #invalid-reward-amount
            
          - else
            = link_to "Join our community!", "#join-modal", :id => "reward-join-button", :class => "button"
            #reward-login-link= link_to "Already have an account? Log in.", "#login-modal"
    
      #why-you-reward
        %p
          - if current_user
            %span Rewarding this work will allow you to comment on it and share it with others to gain
            %abbr.tooltipped-n{title: "Impact = rewards you give + the rewards others give after you share it."} impact.
          - else
            %span Momeant is all about supporting and connecting with people who do great work online.
            %br
            %br
            %span By supporting #{@story.user.first_name}, you build a valuable relationship and help them to create more great work.
            %br
            %br
            = link_to "Read what we're about.", "#about-modal"