#creator-info
  = link_to image_tag(@story.user.avatar.url(:large)), user_path(@story.user), :class => "avatar"
  .byline
    = link_to @story.user.name, user_path(@story.user)
    - if @story.user.occupation || @story.user.location
      %span.weak
        #{@story.user.occupation}
        - if @story.user.location
          from #{@story.user.location}
  - unless @story.user.tagline.blank?
    .tagline
      %strong About #{@story.this_media}:
      %span= @story.synopsis

#content-thumbnail
  = image_tag @story.thumbnail.url(:small)

- if current_user != @story.user
  #reward-box.reward-step{:class => current_user.nil? ? "no_user" : ""}
    .step-icon.reward
    
    - if current_user && current_user.coins == 0
      .out-of-coins
        %h3 Oops! You're out of reward coins.
        %p If you want to reward this content, please #{link_to "purchase more reward coins", coins_path}.
    - else
      - if @not_enough
        .alert Oops, you tried to reward more coins than you have.
      .inner
        = form_for :reward, :url => user_rewards_path(@story.user), :html => {:id => "reward-form"} do |form|
          = form.hidden_field :story_id, :value => @story.id
          - if @impacted_by
            = form.hidden_field :impacted_by, :value => @impacted_by

          #amount.section
            %h1 Reward #{@story.user.first_name} for #{@story.this_media}:
            %ul#stars
              %li= link_to "10&cent;".html_safe, "#", :id => "one-star", :amount => 1
              %li= link_to "50&cent;".html_safe, "#", :id => "five-star", :amount => 5
              %li= link_to "$1.00", "#", :id => "ten-star", :amount => 10
              %li.custom
                = text_field_tag :custom_amount, "?"
                %span or any of your
                %strong= current_user.nil? ? "$0.00" : number_to_currency(current_user.coins * Reward.dollar_exchange)
                %span reward coins
      
            = form.hidden_field :amount, :value => 1
          
          - if current_user
            #amount-hints.section
              - if @story.user.below_cashout_threshold? || current_user.badge_level >= 2
                .weak Not sure how much to reward?
                - if @story.user.below_cashout_threshold?
                  .hint
                    %span #{@story.user.first_name} needs
                    %strong= pluralize @story.user.needed_to_cashout, "more reward"
                    %span to meet the $10 cash out threshold.
                - if current_user.badge_level >= 2
                  .hint
                    %span You need to give
                    %strong= pluralize current_user.rewards_until_next_badge, "more reward"
                    %span to earn the "#{current_user.next_badge_level_name}" badge.
          - else
            #amounts-cover
            = link_to "Join the Momeant community!", "#join-modal", :id => "reward-join-button", :class => "button"
            #reward-login-link= link_to "Already have an account? Log in.", "#login-modal"

          #comment.section
            .step-icon.comment
            %h1 Tell #{@story.user.first_name} why you're rewarding this:
            = form.text_area :comment, :placeholder => "Enter a great comment..."
            = form.submit "Give Reward"


#more
  #rewarders
    %h3 Recent rewarders of #{@story.this_media}:
    %ul
      - if current_user
        %li#new-reward
          = link_to image_tag(current_user.avatar.url(:thumbnail)), user_path(current_user), :class => "avatar"
          .text
            = link_to current_user.name, user_path(current_user), :class => "name"
            %p.comment
          .amount
            %span.dollar $
            %span.value
      - @story.rewards.each do |reward|
        %li
          = link_to image_tag(reward.user.avatar.url(:thumbnail)), user_path(reward.user), :class => "avatar"
          .text
            = link_to reward.user.name, user_path(reward.user), :class => "name"
            %p= reward.comment
          .amount
            %span.dollar $
            %span= (reward.amount * Reward.dollar_exchange).to_s.ljust(4,"0")
  
  #other-content
    %h3 More content from #{@story.user.first_name}:
    %ul
      - @story.user.created_stories.published.where("id != #{@story.id}").each do |content|
        %li
          = link_to image_tag(content.thumbnail.url(:petite)), story_path(content), :class => "thumbnail"
          = link_to content.title, story_path(content), :class => "title"