#reward-list.closed
  .header Community Rewards
  %ul
    - if current_user
      %li#new-reward
        .arrow
        .rewarder
          = link_to(image_tag(current_user.avatar(:thumbnail)), user_path(current_user), :class => "avatar")
          .amount
        .comment
          = link_to("#{current_user.name}:", user_path(current_user), :class => "name")
          %span.text
        .when just now
    - @story.rewards.each do |reward|
      %li{:class => reward.id.to_s == params[:impacted_by] ? "highlighted" : ""}
        .rewarder
          = link_to(image_tag(reward.user.avatar(:thumbnail)), user_path(reward.user), :class => "avatar")
          .amount= reward.amount
        .comment
          = link_to("#{reward.user.name}:", user_path(reward.user), :class => "name")
          %span.text= reward.comment
        .when #{time_ago_in_words(reward.created_at)} ago