#login
  = form_for User.new, as: :user, url: session_path(:user), html: {id: "login-form"} do |form|
    %fieldset
      %ul
        %li
          = form.email_field :email, :id => "login_email", :placeholder => "email address", :autocorrect => "off", :autocapitalize => "off"
        %li
          = form.password_field :password, :id => "login_password", :placeholder => "password"
        %li.submit
          = form.submit "login"
          = link_to "&larr; Back".html_safe, "#reward", class: "button", id: "login-back-to-reward"
          = link_to "Reset my password", new_password_path(:user), target: "blank", id: "forgot-password"
          = link_to "Need an account? Sign up", "#{root_url}#signup", target: "blank", id: "need-an-account"
  #login-error