#not-logged-in.right-side
  .step-icon
  
  %h2
    Do you like #{@story.user.first_name}'s content?
  %h1
    Show your support!
    
  %p
    Most of the content created online is given away for free so anyone can experience it.
    That's great, but when we find content valuable or enjoyable, the people who created it deserve to be rewarded.
    
  %p.strong
    Rewarding helps creators like #{@story.user.first_name} make a decent living so they can keep creating the content you love.
  
  %p
    By rewarding and sharing, you also help others find your content, allow Momeant to recommend content
    and people you might like, and build social influence that makes you a powerful promoter of others.
  
  .buttons
    = link_to("Join to get 5 free reward coins", "#join-modal", :class => "join")
  
  .links  
    .login Already have an account? #{link_to "Login", "#login-modal", :class => "login"}
    Not sure? #{link_to "Learn more about momeant", about_path, :target => :new}

:javascript
  var forms_updated = false;
  $('#not-logged-in .buttons a').click(function() {

    if (forms_updated)
      return;
          
    forms_updated = true;
    $('#join-form, #login-form').append('<input type="hidden" name="open_reward_modal" value="yes"></input>');

  });