#explanation
  %h3 After rewarding #{@story.user.first_name}, you'll be able to:
  %ul
    %li
      %span Share this work to gain
      %abbr.tooltipped-n{title: "When someone else rewards #{@story.user.first_name}'s work because you shared it, we track that back to you."}
        impact
    %li Comment on this content
    %li Join in #{@story.user.first_name}'s public discussions
    %li Have the chance to receive special thanks, access, and gifts as a top supporter.
#top-supporters
  %h3 #{@story.user.first_name}'s Top Supporters
  %ul
    - @story.user.top_supporters[0..7].each_with_index do |patron, index|
      %li
        = link_to image_tag(patron[0].avatar.url(:thumbnail)), user_path(patron[0]), class: "avatar", target: "_blank"
        .badge{class: index < 3 ? "gold" : index < 6 ? "silver" : "bronze"}
        .rewarded= number_to_currency(patron[1])