- if current_user
  .personal-info
    .avatar-coins
      = link_to(image_tag(current_user.avatar.url(:thumbnail)), user_path(current_user), :class => "avatar")
      .coins
        %span.count= current_user.coins
    = link_to(current_user.name, user_path(current_user), :class => "name")
  
  %ul.personal-stats
    %li.patron
      %span.icon
      %span.text patron for 0 days
    %li.followers
      %span.icon
      %span.text= pluralize(current_user.subscribers.count, "follower")
    %li.rewards
      %span.icon
      %span.text #{pluralize(current_user.lifetime_rewards, "reward")} received
    
- else
  = link_to("Join / Login", "#signup-modal", :class => "join-login button")
  
%ul.nav
  %li.header Rewarded Content
  - if current_user
    %li{:class => @sidenav == "following" ? "active" : ""}
      = link_to("Following Stream", following_path, :class => "following")
  - else
    %li.disabled
      %span.following Following Stream
  %li{:class => @sidenav == "global" ? "active" : ""}
    = link_to("Global Stream", global_path, :class => "global")
  
  %li.header.break Your Stuff
  - if current_user
    %li{:class => @sidenav == "profile" ? "active" : ""}
      = link_to("Profile", user_path(current_user), :class => "profile")
    %li{:class => @sidenav == "analytics" ? "active" : ""}
      = link_to("Analytics", analytics_path, :class => "analytics")
  - else
    %li.disabled
      %span.profile Your Profile
    %li.disabled
      %span.analytics Analytics
  - if @user && @user != current_user
    %li.header.break Community
    %li.active
      = link_to(@user.name, user_path(@user), :class => "profile")