#user-nav
  .bg
  %ul.links{:class => @hide_search ? "search-hidden" : ""}

    %li#logo.topnav
      = link_to "Momeant", root_path, :class => "top-link"
      %ul.subnav
        %li= link_to "About", about_path
        %li= link_to "Terms of Service", tos_path
    %li#curation.topnav{:class => @nav == "support" ? "active" : ""}
      = link_to "People You Support", discovery_path, :class => "top-link"

    - if user_signed_in?
      %li#my-links.topnav{:class => @nav == "me" ? "active" : ""}
        %a.top-link{:href => user_path(current_user)}
          = image_tag current_user.avatar.url(:thumbnail)
          %span You
        %ul.subnav
          %li= link_to "Share", new_story_path
          %li= link_to "Your Activity", activity_user_path(current_user)
          %li= link_to "Messages (#{current_user.unread_message_count})", user_messages_path(current_user)
          %li= link_to "Settings", settings_user_path(current_user)
          - if current_user.is_admin?
            %li= link_to "Admin", admin_dashboard_path
          %li= link_to "Logout", destroy_user_session_path
      %li#coins{:class => @nav == "coins" ? "active" : ""}
        %a{:href => coins_path}
          .text
            %span reward coins
            %span available
          .amount= current_user.coins
      %li#feedback= link_to("Feedback", "#feedback-modal")
      
    - else
      %li#join= link_to("Join", "#join-modal")
      %li#signin= link_to("Login", "#login-modal")

    - unless @hide_search
      %li#search
        = form_tag search_path, :method => :get do
          = text_field_tag :query, params[:query], :placeholder => "search users and content"
          = submit_tag "Search", :id => "search-submit", :name => ""