#user-nav
  = link_to("Momeant", root_path, :id => "logo")

  - if user_signed_in?
    #profile
      = link_to("Hi, #{current_user.name}", library_path)
    #signout
      = link_to("Sign out", destroy_user_session_path)
    #create
      = link_to("Create a Story", new_story_path, :class => "tooltipped", :title => "Create") if can? :create, Story
    #balance
      = link_to("Balance", "#", :class => "tooltipped", :title => "Balance")
    #subscriptions
      = link_to("Subscriptions", "#", :class => "tooltipped", :title => "Subscriptions")
    #recommendations
      = link_to("Recommendations", recommended_stories_path, :class => "tooltipped", :title => "Recommendations")
  - else
    #signup
      = link_to("Sign up", new_user_registration_path)
    #signin
      = link_to("Sign in", new_user_session_path)
  
  #topics
    = link_to("Topics", "#", :class => "tooltipped", :title => "Topics")
  #search
    = form_tag "/search" do
      = text_field_tag :query, "", :placeholder => "Search"
      = submit_tag "Search"