#user-nav
  %ul.links
    %li#home
      = link_to("Momeant", root_path, :class => "tooltipped", :title => "Home")
    - if user_signed_in?
      %li#profile
        = link_to("Profile", user_path(current_user), :class => "tooltipped", :title => "Profile")
    %li#faq
      = link_to("FAQ", "#", :class => "tooltipped", :title => "FAQ")        
    %li#topics  
      %span.icon
      .inner
        %ul.topic-list
          - counter = 1
          - Topic.parent_topics.order(:name).each do |topic|
            %li{:class => "#{counter % 2 == 1 ? "odd" : "even"} #{topic.name.downcase}"}= link_to(topic.name, topic_path(topic.name.downcase))
            - counter += 1
    - if user_signed_in?
      %li#recommendations
        %span.icon
        .inner
          = render :partial => "users/recommendation_stream", :locals => {:user => @user}
      - if can? :create, Story
        %li#create
          = link_to("Create a Story", new_story_path, :class => "tooltipped", :title => "Create") if can? :create, Story
      %li#balance
        = link_to(number_with_precision(current_user.credits, :precision => 0), credits_path, :class => "tooltipped", :title => "Credits")
      %li#hi
        Hello #{link_to("#{current_user.name}!", user_path(current_user))}
        =link_to("(Sign out)", destroy_user_session_path, :class => "signout-link")
    %li#search
      = form_tag search_stories_path, :method => :get do
        = text_field_tag :query, "search mo•meant"
        = submit_tag "Search", :id => "search-submit", :name => ""