%ul#user-nav

  %li#logo= link_to "Momeant", root_path, :class => "top-link"
        
  - if user_signed_in?
    - if current_user.is_a?(Creator)
      %li#create
        = link_to "Share Your Work", before_creation_path, :class => "tooltipped", :title => "Share Your Work"
    %li#messages
      = link_to "Private Messages", messages_path, class: "tooltipped", title: "Private Messages"
      - if current_user.unread_message_count > 0
        .count= link_to current_user.unread_message_count, messages_path
    - if current_user.coins > 0
      %li#coins
        .text reward money to give out
        .amount= link_to number_to_currency(current_user.coins * Reward.dollar_exchange), coins_path
    %li#profile
      = link_to "View Your Profile", user_path(current_user)
      %ul.subnav
        %li= link_to "View Your Profile", user_path(current_user)
        = link_to "Edit Your Profile", settings_user_path(current_user)
        = link_to "Payment Settings", fund_rewards_path
        - if current_user.is_admin?
          %li= link_to "Admin", admin_dashboard_path
        - if current_user.is_a?(Creator)
          %li= link_to "Reward Button Code", button_user_path(current_user)
        %li= link_to "Log out", destroy_user_session_path, method: "delete"
  
  - else
    %li#join
      = link_to "Sign Up", "#join-modal"
    %li#signin
      = link_to "Log In", "#login-modal"
  
  %li#info
    = link_to "About Momeant", about_path
    %ul.subnav
      %li= link_to "About Momeant", about_path
      %li= link_to "Momeant Blog", "http://blog.momeant.com"
      - if user_signed_in?
        %li= link_to "Give Feedback", "#feedback-modal"
      %li= link_to "Terms of Service", tos_path