#user-nav
  - if user_signed_in?
    - if can? :create, Story
      = link_to("New Story", new_story_path)
      |
      = link_to("My Stories", stories_path)
      |
    - if can? :invite_creator, Invitation
      = link_to("Invite a Creator", invite_creator_invitations_path)
    Signed in as #{current_user.username}
    = link_to("Sign out", destroy_user_session_path)
  - else
    = link_to("Sign up", new_user_registration_path)
    = link_to("Sign in", new_user_session_path)