#user-nav
  .bg
  %ul.links
    %li#logo= link_to("Momeant", root_path)
    %li#home{:class => @nav == "home" ? "active" : ""}
      = link_to("Momeant", root_path, :class => "tooltipped", :title => "Home")
    %li#community{:class => @nav == "community" ? "active": ""}
      = link_to("Community", community_path, :class => "tooltipped", :title => "Community")
    %li#faq{:class => @nav == "about" ? "active" : ""}
      = link_to("About Us", about_path, :class => "tooltipped", :title => "Tell me more".html_safe)
    - if user_signed_in?
      %li#signout= link_to("Logout", destroy_user_session_path)
    - else
      %li#signin= link_to("Join/Login", "#signup-modal")