!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "" }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "" }
    %link{ :id => 'favicon', :href => '/images/favicon.png', :rel => 'icon', :type => 'image/x-icon' }/
    %title
      Momeant
      
    = csrf_meta_tag
      
    = javascript_include_tag "jquery-1.4.3.min", "jquery-ui-1.8.6.min", "jquery.scrollTo-1.4.2-min", "jquery.tipsy", "jquery.placeholder", "jquery.fileuploader", "jquery.fancybox-1.3.4.pack", "jquery.tinyscrollbar.min", "jquery.touchSwipe", "jquery.colorPicker", "jquery.validate.min"
    = javascript_include_tag "underscore-min", "rails", "application"
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    = stylesheet_link_tag "reset", "tipsy", "jquery.fancybox-1.3.4", "colorpicker", "styles"
    
    /[if lt IE 7]
      = stylesheet_link_tag "ie"
    = javascript_include_tag "http://use.typekit.com/sji8gns.js"
    :javascript
      try{Typekit.load();}catch(e){}
    = yield :head
    
  %body.yui-skin-sam{:class => @fullscreen.nil? ? "" : "fullscreen"}
    #wrap
      #main.clearfix
        %header{:class => private_beta? && !current_user ? "hide-nav" : ""}
          = render "layouts/user_nav" unless @hide_nav
          #call-to-action
            - unless private_beta?
              - if current_user && current_user.trial?
                = render :partial => "shared/calls_to_action/subscribe", :locals => {:message => "You have #{pluralize(current_user.days_left_in_trial, "day")} and #{pluralize(current_user.coins, "coin")} left in your trial. Loving it?"}
              - else
                = yield :call_to_action
          = render "layouts/flash", :flash => flash
          .insides
            .momeant-header
              = link_to("Home", root_path, :id => "logo-large") unless @hide_momeant
              - if !current_user
                = link_to("Join", new_user_registration_path, :id => "join", :class => "round-button")
              - elsif !@hide_rewards
                = render "shared/reward_bank"
              = yield :header
            
        #mid
          .insides
            = yield

    #footer
      .insides
        Copyright © 2011 - Momeant
    
    = render "shared/join_login_modal" if !private_beta? && !current_user
    = yield :modals

    = render "shared/analytics" if Rails.env.production?
    = yield :javascript