!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "Reinventing patronage for the digital renaissance." }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "momeant, digital content, creators, reward, patron, art, community, sustainable" }
    %link{ :id => 'favicon', :href => '/images/favicon.png', :rel => 'icon', :type => 'image/x-icon' }
    %title
      Momeant
      
    = csrf_meta_tag
      
    = javascript_include_tag "jquery-1.4.3.min", "jquery-ui-1.8.6.min", "jquery.scrollTo-1.4.2-min", "jquery.tipsy", "jquery.placeholder", "jquery.fileuploader", "jquery.fancybox-1.3.4.pack", "jquery.tinyscrollbar.min", "jquery.touchSwipe", "jquery.colorPicker", "jquery.validate.min"
    = javascript_include_tag "underscore-min", "rails", "application"
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    = stylesheet_link_tag "reset", "tipsy", "jquery.fancybox-1.3.4", "colorpicker", "creator_text_styles", "styles", "extras"
    
    /[if lt IE 7]
      = stylesheet_link_tag "ie"
    = javascript_include_tag "http://use.typekit.com/sji8gns.js"
    :javascript
      try{Typekit.load();}catch(e){}
      var typekit_id = 'sji8gns';
    = yield :head
    
  %body{:class => @fullscreen.nil? ? "" : "fullscreen"}
    #wrap
      #main.clearfix
        %header#header{:class => private_beta? && !current_user ? "hide-nav" : ""}
          - unless @fullscreen.present?
            = render "layouts/user_nav" unless @hide_nav
            #call-to-action
              - unless private_beta?
                - if current_user && current_user.trial?
                  = #render :partial => "shared/calls_to_action/subscribe", :locals => {:message => "You have #{pluralize(current_user.days_left_in_trial, "day")} and #{pluralize(current_user.coins, "coin")} left in your trial. Loving it?"}
                - else
                  = yield :call_to_action
              - if current_user && current_user.is_a?(Creator)
                - if current_user.created_stories.empty?
                  = render :partial => "shared/calls_to_action/create_a_story"
                - elsif current_user.paypal_email.blank?
                  = #render :partial => "shared/calls_to_action/enter_payment_info"
            .insides
              .momeant-header
                = link_to("Home", root_path, :id => "logo-large") unless @hide_momeant
                - if !current_user
                  = link_to("Join", new_user_registration_path, :id => "join", :class => "round-button")
                - elsif !@hide_rewards
                  = render "shared/reward_bank"
                = yield :header
        
        #mid
          #center.column
            = render "layouts/flash", :flash => flash
            .insides
              = yield
          - unless @fullscreen.present?
            #left-sidebar.column
              = render "layouts/sidebar_nav"
              = yield :left_sidebar
            #right-sidebar.column
              - if @adverts && @adverts.length > 0
                %section.adverts
                  = render @adverts
                  .clear
              = yield :right_sidebar
          .clear

    #footer
      .insides
        .left
          Copyright © 2011 - Momeant
        .right
          = link_to("about", about_path)
          = link_to("privacy policy", privacy_path)
          = link_to("terms of service", tos_path)
    
    = render "shared/join_login_modal" if !private_beta? && !current_user
    = yield :modals

    = render "shared/analytics" if Rails.env.production?
    = yield :javascript