!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    
    - if @story
      %meta{ :name => "Description", "http-equiv" => "Description", :content => @story.synopsis }
      %meta{ :name => "og:image", :property => "og:image", :content => @story.thumbnail.url(:tiny)}
    - else
      %meta{ :name => "Description", "http-equiv" => "Description", :content => "Reinventing patronage for the digital renaissance." }
    
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "momeant, digital content, creators, reward, patron, art, community, sustainable" }
    %link{ :id => 'favicon', :href => '/images/favicon.png', :rel => 'icon', :type => 'image/x-icon' }
    %title
      - if @story
        = @story.title
      - elsif @page_title
        = "Momeant - #{@page_title}"
      - else
        Momeant
      
    = csrf_meta_tag
      
    = javascript_include_tag "jquery-1.4.3.min", "jquery-ui-1.8.16.min", "jquery.scrollTo-1.4.2-min", "jquery.tipsy", "jquery.placeholder", "jquery.fileuploader", "jquery.fancybox-1.3.4.pack", "jquery.tinyscrollbar.min", "jquery.touchSwipe", "jquery.colorPicker", "jquery.validate.min", "jquery.masonry.min", "jit-yc", "jquery.dropkick-1.0.0"
    = javascript_include_tag "underscore-min", "backbone-min", "rails", "streams", "application"
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    = stylesheet_link_tag "reset", "tipsy", "jquery-ui-1.8.16", "jquery.fancybox-1.3.4", "colorpicker", "creator_text_styles", "dropkick", "styles", "extras"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo"
    /[if lt IE 7]
      = stylesheet_link_tag "ie"
    
    = render "shared/typekit"
    = render "shared/mixpanel"
    = yield :head
    
  %body{:class => @fullscreen.nil? ? controller.action_name : "#{controller.action_name} fullscreen", :id => controller.controller_name}
    %header#header
      = render "layouts/user_nav" unless @hide_nav

    #container{:class => @nosidebar ? "no-sidebar" : ""}
      #main
        = render "layouts/flash", :flash => flash
        = yield

    #footer
      .insides
        .left
          Copyright © 2011 - Momeant
        .right
          = link_to("about", about_path)
          = link_to("privacy policy", privacy_path)
          = link_to("terms of service", tos_path)
    
    - if !current_user
      = render "shared/join_modal"
      = render "shared/login_modal"
    - else
      = render "shared/feedback_modal"
    = yield :modals

    = render "shared/analytics" if Rails.env.production?
    = yield :javascript
    
    - if session[:show_content]
      .hidden= link_to("", session[:show_content], :id => "auto-launch-story-link")
      :javascript
        $(document).ready(function() {
          setup_modal_presenter_links('#auto-launch-story-link',true);
        });
      - session[:show_content] = nil


- if current_user
  :javascript
    mpq.name_tag('#{current_user.name}');
    
  - if flash[:track_signup].present?
    = link_to "Launch about diagram", "#about-diagram-modal", :style => "display:none;"
    = render "shared/about_diagram_modal"
    :javascript
      mpq.track('Signed up', {anonymous_id: '#{session[:analytics_anonymous_id]}', id: '#{current_user.id}'})
  - if flash[:track_story_publish]
    :javascript
      mpq.track('Published Story', {anonymous_id: '#{session[:analytics_anonymous_id]}', story_id: '#{flash[:track_story_publish]}'})
  - if flash[:track_coin_purchase]
    :javascript
      mpq.track('Purchased Coin Package', {anonymous_id: '#{session[:analytics_anonymous_id]}', amount: '$#{flash[:track_coin_purchase]}', mp_note: '$#{flash[:track_coin_purchase]}'})