!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "" }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "" }
    %link{ :id => 'favicon', :href => '/images/favicon.png', :rel => 'icon', :type => 'image/x-icon' }/
    %title
      Momeant
      
    = csrf_meta_tag
      
    = javascript_include_tag "jquery-1.4.3.min", "jquery-ui-1.8.6.min", "jquery.maskedinput-1.2.2.min", "jquery.scrollTo-1.4.2-min", "jquery.tipsy", "jquery.placeholder", "jquery.fileuploader"
    = javascript_include_tag "underscore-min", "rails", "application"
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    = stylesheet_link_tag "reset", "styles", "tipsy"
    
    /[if lt IE 7]
      = stylesheet_link_tag "ie"
    = javascript_include_tag "http://use.typekit.com/sji8gns.js"
    :javascript
      try{Typekit.load();}catch(e){}
    = yield :head
    
  %body{:class => @fullscreen.nil? ? "" : "fullscreen"}
    #wrap
      #main.clearfix
        %header
          .insides
            = render "layouts/user_nav"
            
        #mid
          .insides
            = render "layouts/flash", :flash => flash
            = yield

    #footer
      .insides
        Copyright © 2010 - Momeant

    =# render "analytics"
    = yield :javascript