%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "Reinventing patronage for the digital renaissance." }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "momeant, digital content, creators, reward, patron, art, community, sustainable" }
    %link{ :id => 'favicon', :href => '/images/favicon.png', :rel => 'icon', :type => 'image/x-icon' }
    %title
      Momeant - #{@story.title}
      
    = csrf_meta_tag
      
    = javascript_include_tag "jquery-1.4.3.min", "jquery-ui-1.8.6.min", "jquery.scrollTo-1.4.2-min", "jquery.tipsy", "jquery.placeholder", "jquery.touchSwipe"
    = javascript_include_tag "rails", "stories/show"
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    = stylesheet_link_tag "reset", "tipsy", "jquery-ui-1.8.14.custom", "stories/show"
    
    /[if lt IE 7]
      = stylesheet_link_tag "ie"
    = javascript_include_tag "http://use.typekit.com/sji8gns.js"
    :javascript
      try{Typekit.load();}catch(e){}
      var typekit_id = 'sji8gns';
  
  %body
    = yield