%h2 Sign up

- resource ||= @user
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f|
  = devise_error_messages!
  
  %fieldset
    %ul
    
      %li
        = f.label :username
        = f.text_field :username
      
      %li
        = f.label :email
        = f.text_field :email

      %li
        = f.label :password
        = f.password_field :password

      %li
        = f.label :password_confirmation, "Password (again)"
        = f.password_field :password_confirmation
      
      %li
        = f.label :avatar
        = f.file_field :avatar

      %li.submit
        = f.submit "Sign up"

= render :partial => "users/shared/links"